[2018-07-10 22:48] pennyo opened #1 "first issue"
Wow, this looks great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe6194b9-961e-78cc-4648-a4921a965e3a
* Version Independent ID: 05a57cb3-b1a3-2c7e-fd21-58cf57397c34
* Content: [Welcome to Azure Sphere](https://review.docs.microsoft.com/en-us/azuresphere/articles/?branch=master)
* Content Source: [AzureSphere/artic

[2018-07-11 16:28] pennyo opened #2 "great demo!"
You rock!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1e1e5b6-00ad-9165-b7e6-033924d549e1
* Version Independent ID: 8ad3d769-7eaf-c2a5-2176-6167f9369021
* Content: [Deployment basics](https://review.docs.microsoft.com/en-us/azuresphere/articles/deployment/dep-concepts?branch=porwick%2Ftest-context)
* Content Source

[2018-07-11 16:29] #1 closed

[2018-07-11 19:14] pennyo opened #3 "test metadata"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1f437d-179d-1f21-bfec-48913bfa77f5
* Version Independent ID: bc64e1ab-0ef7-def1-23c7-5e428932da0f
* Content: [Add an image set to a feed - Azure Sphere](https://review.docs.microsoft.com/en-us/AzureSphere/articles/deployment/add-ims-to-feed?branch=porwick%2Ftest-con

[2018-07-11 19:23] pennyo opened #4 "test4"
see meta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 883ef7f3-d7de-465b-3d6d-e2d1169425ae
* Version Independent ID: 7c7ac146-d20e-a361-88f1-b7c5e72fba73
* Content: [Create a feed and assign it to a device group](https://review.docs.microsoft.com/en-us/AzureSphere/articles/deployment/create-feed-assign-dg?branch=porw

[2018-07-11 20:07] #4 closed

[2018-07-11 20:08] #3 closed

[2018-07-11 20:08] #2 closed

[2018-08-06 20:10] pennyo opened #5 "test"
Testing what users see when they post a comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95a9f97-1fb1-b876-c4f5-878311a7db28
* Version Independent ID: 4b1a01aa-2f48-08b7-8f00-763bd3fa39cf
* Content: [Introduction to Azure Sphere](https://review.docs.microsoft.com/en-us/azure-sphere/?branch=master)
* Content Sou

[2018-08-06 20:12] #5 closed

[2018-08-08 21:20] mmoskal opened #6 "manifest formatting broken"
I guess some problem with triple backtick. The subsequent section appears as code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0db551c-2484-3af9-ac08-d9978e82b445
* Version Independent ID: dea4dddf-46d1-cb41-2dcf-b77dece8c581
* Content: [How to manually build and load an Azure Sphere application](https://docs.micro

[2018-08-08 21:27] pennyo commented on #6
Thank you for the feedback. We'll fix this as soon as we can.

[2018-08-09 16:28] pennyo commented on #6
Fixed 8/9 and pushed to Live.

[2018-08-09 16:28] #6 closed

[2018-08-10 23:23] crpietschmann opened #7 "You cannot move device to a different tenant?"
The doc says that once you claim a device into a tenant, you cannot move it to a different tenant. Is this something that's really permanent? It seems a bit odd that you wouldn't be able to reconfigure an Azure Sphere device to a different Azure Sphere Tenant later on, if necessary. I'm hoping this is something that's just not documented, and not an intended limitation!

---
#### Document Details

[2018-08-11 00:10] crpietschmann opened #8 "Is there a update command that can be run?"
Is there a CLI command with azsphere that can be run to check if there's an update available and to tell the device to update? Something like "azsphere device ota-status" and "azsphere device ota-update" perhaps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed206f02-3d0c-fe46-6023-724aca70e885
* Version Independent I

[2018-08-12 15:39] sandervandevelde opened #9 "Alter the steps"
in [the azure-iot-sample documentation](https://docs.microsoft.com/en-us/azure-sphere/app-development/azure-iot-sample), the description on how to get the IoTHub connection string is wrong.

The current description points to the device connection string (which is not there due to the usage of certificates in a DPS). But even if it was there, this is also not the connectionstring we want.

What we

[2018-08-12 15:59] sandervandevelde opened #10 "Please provide 'Download PDF' experience and 'edit in github'"
Other Microsoft documentation like https://docs.microsoft.com/en-us/azure/iot-edge/about-iot-edge has the ability to download the complete documentation as PDF.
And it is possible to make pull requests on the documentation.
Please add this ability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95a9f97-1fb1-b876-c4f5-

[2018-08-13 16:11] pennyo commented on #8
Thank you for your feedback! Good question.

Currently, azsphere does not have an update command. The device checks for update upon reboot, so you can trigger an update by pressing the Reset button on the development board. If an Azure Sphere OS update is available, Reset will download and install it. If an OTA application update is available, it will be installed if the current device group enabl

[2018-08-13 16:16] #8 closed

[2018-08-13 17:28] pennyo commented on #10
Thank you for your feedback. We are planning to add PDF Download in the near future and are considering PR support for a later release.

[2018-08-13 20:29] sandervandevelde commented on #10
Thanks. Closing issue.

[2018-08-13 20:29] #10 closed

[2018-08-15 05:30] esalc commented on #9
Thank you for your feedback. We updated the topic with the recommended changes. Please let us know if we need to make additional changes.

[2018-08-17 13:48] matsujirushi opened #11 "Can I show sdk version at device?"
Can I show sdk version at device or not?

[2018-08-23 02:31] matsujirushi opened #12 "Can't check on update status"
[code]

[2018-08-23 02:59] matsujirushi opened #13 "Document of claim your device"
Now, `Install Azure Sphere' include that claim your device. before Configure Wi-Fi.
Little confusing. And 'claim your device' is important.

I think to better you write 'claim your device' chapter after 'Configure Wi-Fi'.

[2018-08-23 09:32] shijiong opened #14 "'show-ota-status' is not a valid value for the 'Operation' command line option in the TP4.2"
In the "update the device" section, I use "azsphere device show-ota-status" command to check the update status. However, i get an error which tells me that "'show-ota-status' is not a valid value for the 'Operation' command line option. "

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 8d22728a-dbc4-f92a-e993-0c13ec09e4c3
* Version Independent ID: e89fb1af-07cb-f571-

[2018-08-23 14:45] amang2205 opened #15 "Download link for Azure Sphere Developer Tools"
Where does one download the Azure Sphere Developer Tools from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97065dd-068c-6c33-310f-fd1c722cf04c
* Version Independent ID: 2301900c-0c6d-80b4-6fbd-9b0b18f9e640
* Content: [Azure Sphere installation and device setup quickstart](https://docs.microsoft.com/en-us/azure-sphe

[2018-08-23 15:16] pennyo commented on #13
Thank you for your feedback. We are constantly revising the documentation and plan to address issues with claiming in an upcoming update.

[2018-08-23 16:34] pennyo commented on #15
Thank you for your question. The developer tools are currently available to private preview participants only. They are not yet publicly distributed.

If you already have an Azure Sphere development kit, please contact the person who arranged it for you to provide access to the tools via the Microsoft Collaborate tool.

If you don't have a development kit, you can pre-order one through the [Azure

[2018-08-23 16:57] pennyo commented on #12
Thank you for your feedback. This functionality is not available in the TP 4.2 tools. We apologize for the confusion.

[2018-08-23 16:58] pennyo commented on #14
Thank you for your feedback. This command is not available in the TP4.2 tools. We apologize for the confusion.

[2018-08-27 06:48] BillyHsu opened #16 "device recovery to TP4.2.1"
Dear Sir,

After recover my device to TP4.2.1, the error message as below.
How to solve it?
Thanks.

Starting device recovery. Please note that this may take up to 10 minutes.
Board found. Sending recovery bootloader.
Erasing flash.
Sending images.
Sending image 1 of 16.
Sending image 2 of 16.
Sending image 3 of 16.
Sending image 4 of 16.
Sending image 5 of 16.
Sending image 6 of 16.
Sending image

[2018-08-27 15:02] crushonme commented on #11
Refer to [show-ota-status
](https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-device#show-ota-status) .
But you cannot use it before TP4.2.1 Release.

TP4.2.1 Release Notes:
The azsphere.exe command-line utility now includes the azsphere device show-ota-status command,
which returns information about which version of the Azure Sphere OS your device is running and
whether an OS updat

[2018-08-27 15:07] crushonme commented on #12
We cannot use it before TP4.2.1 Release.

TP4.2.1 Release Notes:
The azsphere.exe command-line utility now includes the azsphere device show-ota-status command,
which returns information about which version of the Azure Sphere OS your device is running and
whether an OS update is available or being downloaded.

[2018-08-27 15:17] crushonme commented on #16
I have the same issue. And the device comes back after click the reset button.
![](https://crushonme-1256821258.cos.ap-shanghai.myqcloud.com/AzureSphere.png)
![](https://crushonme-1256821258.cos.ap-shanghai.myqcloud.com/AzureSphere2.png)

[2018-08-27 17:04] JamesLee-MSFT opened #17 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95a9f97-1fb1-b876-c4f5-878311a7db28
* Version Independent ID: 4b1a01aa-2f48-08b7-8f00-763bd3fa39cf
* Content: [Introduction to Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/)
* Content Source: [AzureSphere/articles/index.md](https://github.com/Microsoft

[2018-08-27 20:25] #17 closed

[2018-08-29 02:10] matsujirushi commented on #11
[code]

[2018-08-29 02:10] #11 closed

[2018-08-29 02:10] matsujirushi commented on #12
[code]

[2018-08-29 02:10] #12 closed

[2018-08-29 06:54] matsujirushi opened #18 "error: usleep()"
Please support ```usleep``` function.

[code]

[2018-08-29 07:06] matsujirushi commented on #18
Instead ```nanosleep```

[2018-08-29 07:06] #18 closed

[2018-08-29 18:03] JamesLee-MSFT commented on #16
Hi,

I ran through the steps on here and did not get the error.

https://docs.microsoft.com/en-us/azure-sphere/quickstart/qs-install

Can you confirm you installed the 4.2.1 VS_Tools_Preview_For_Azure_Sphere.exe update?

![image](https://user-images.githubusercontent.com/41642493/44806194-22531f00-ab7b-11e8-80a1-9bf6436b6284.png)

[2018-08-30 00:08] JamesLee-MSFT commented on #16
Hi, I received clarification from the product team.  Basically, the error is caused by the device still in the rebooting process.  The upgrade is still successful and resetting the device will fix the problem as you have already done so in your screen shot.

Thanks.

James

[2018-08-30 03:07] matsujirushi opened #19 "Cannot report floating-point value to DeviceTwin using AzureIoT_TwinReportState()"
in azure_iot_utilities.h:
[code]

azure_iot_utilities.h is auto-generated.

[2018-08-31 01:38] BillyHsu commented on #16
Hi James,

How to process the resetting on the device?
We already did the recovery process to TP4.2.1.
My VS_Tools_Preview_For_Azure_Sphere.exe is 0.49.2.45617.

Best Regards,
Billy

[2018-08-31 10:10] #15 closed

[2018-08-31 21:18] Mike-Ubezzi-MSFT commented on #19
@matsujirushi The auto-generated code, azure_iot_utilities.c/h, is sample code added to the app to show one way you can use the underlying Azure IoT SDK.  It doesn’t cover all scenarios.  Customers are encouraged to adapt this code for their purposes.  In this case, they could adapt the ‘ReportState’ function to handle floating point values in the underlying JSON twin document.  We might be able t

[2018-09-03 01:11] BillyHsu commented on #16
Dear Sir,

I try to rebuild the development in new computer.
In new system to recovery it again, the question in gone now.
Thanks.

Billy

[2018-09-07 12:54] weiqing-beijing opened #20 "Could not find the download link of the Visual Studio Tools Preview for Azure Sphere"
Hi there, has the download link been removed? I could not find any link of the VS Tools from this page.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97065dd-068c-6c33-310f-fd1c722cf04c
* Version Independent ID: 2301900c-0c6d-80b4-6fbd-9b0b18f9e640
* Content: [Azure Sphere installation and device setup quicks

[2018-09-07 12:57] matsujirushi commented on #20
#15

[2018-09-08 10:04] weiqing-beijing commented on #15
Thanks. Consider this as closed.

[2018-09-10 18:17] jmazzotta opened #21 "test"
test1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95a9f97-1fb1-b876-c4f5-878311a7db28
* Version Independent ID: 4b1a01aa-2f48-08b7-8f00-763bd3fa39cf
* Content: [Introduction to Azure Sphere](https://review.docs.microsoft.com/en-us/azure-sphere/?branch=pennyo%2Fprod-feedback)
* Content Source: [prod-feedback/AzureSp

[2018-09-10 18:17] #21 closed

[2018-09-10 20:26] #16 closed

[2018-09-10 20:26] pennyo commented on #14
You're right. We'll fix the example. Thanks for your feedback.

[2018-09-10 20:28] #13 closed

[2018-09-10 20:29] #9 closed

[2018-09-10 20:29] #7 closed

[2018-09-10 20:29] #20 closed

[2018-09-15 08:04] matsujirushi commented on #20
You can download 'Download the Azure Sphere SDK Preview for Visual Studio' link of [here](https://docs.microsoft.com/ja-jp/azure-sphere/quickstart/qs-install).

[2018-09-15 08:05] matsujirushi commented on #15
You can download 'Download the Azure Sphere SDK Preview for Visual Studio' link of [here](https://docs.microsoft.com/ja-jp/azure-sphere/quickstart/qs-install).

[2018-09-22 12:12] JolleyLama opened #22 "AzureSphere first impressions"
I just got my MT3620 kit yesterday. Thank you very much for your effort in this community. It is going to have very limited adoption in the community since it requires a PC running Windows 10. Most people in the IoT/SBC community use Linux or Mac. The expectation is that IoT IDEs will support Windows/Mac/Linux. I think that requiring the full version of Visual Studio 17 and Windows 10 is going to

[2018-09-23 16:57] chavakiran opened #23 "The extension is not installable on any currently installed products"
I am not able to install from vistual studio market place. VS_Tools_Preview_For_Azure_Sphere.exe is downloaded.
Tried three times.
![spherefailedtoinstall](https://user-images.githubusercontent.com/7982251/45930602-232b6680-bf17-11e8-8fd8-d45313fbab74.JPG)

[2018-09-25 14:14] matsujirushi opened #24 "create tenant per device"
I got this message.

![image](https://user-images.githubusercontent.com/8079404/46020043-630d6c00-c118-11e8-80e8-97f4ac24c85a.png)

[code]
What's mean 'this operation can only be done once per Azure Sphere device.'?

Do you recommend to create Azure Sphere tenant by Azure AD tenant? or by Azure Sphere device?

[2018-09-27 18:41] robotdad commented on #22
Thank you for the feedback. VS Code support for Linux and Mac is on our roadmap, but we don’t have a timeframe for that to share yet. You can open a feature request for the Azure Sphere team to enable Linux and Mac OS support [here](https://feedback.azure.com/forums/915433-azure-sphere).

We’re looking around to see if we have any 3D models for a case we can share. If we do we’ll post them to our

[2018-09-27 19:27] JolleyLama commented on #22
Marc,

Thank you very much for your reply. Good to know it’s being read. I’ll put in a feature request.

---Jeff

[2018-09-28 14:00] sergaz-msft commented on #24
Thanks for the feedback @matsujirushi . This message means that a device can only be used once to create a tenant. We are working on making this message more clear.

Our recommendation is that a typical organization only requires one AS tenant. If a tenant already exists, do not create another one unless your company or organization requires more than one tenant.
If you are absolutely certain that

[2018-09-28 14:34] matsujirushi commented on #24
Hi, @sergaz-msft
I understood. Thanks.

[2018-09-28 19:45] pennyo opened #25 "test query"
Test for queries

[2018-09-30 03:44] chavakiran commented on #23
Thanks.
It worked.
Probably error message could clearly say I have a older version of VS?

[2018-09-30 03:44] #23 closed

[2018-09-30 03:46] chavakiran opened #26 "claim your device - link broken?"
https://docs.microsoft.com/en-us/azure-sphere/quickstart/claim-device

[2018-10-01 00:21] baatkarlo opened #27 "How to add a hotel WiFi network to Azure Sphere device for on-the-road Azure Sphere development?"
I'm working on the road with Azure Sphere Dev kit, and have run into an issue in configuring Azure Sphere wifi: Hotel networks typically require a web browser to fill in hotel wifi related info. How to enable this for Azure Sphere so I can receive OTA OS updates? I travel a lot and need to be able to continue my dev efforts while on the road. Having a WiFi config approach that allows this would be

[2018-10-01 02:50] matsujirushi commented on #26
Some URLs are changed.
Claim process is here.
https://docs.microsoft.com/en-us/azure-sphere/install/claim-device

[2018-10-01 04:01] residentx10 opened #28 "Missing Features for MT3620, 2 x ARM Cortex-M4 with FPU"
When will this be supported on the device, US version (SKU:102991012)?

[2018-10-01 04:02] residentx10 opened #29 "Missing Features for MT3620, Support for ADC, I2C, I2S, PWM and SPI peripheral interfaces"
When will this be supported on the device, US version (SKU:102991012)?

[2018-10-01 04:03] residentx10 opened #30 "Missing Feature for MT3620, Wi-Fi 802.11a"
When will this be supported on the device, US version (SKU:102991012)?

[2018-10-01 04:04] residentx10 opened #31 "Missing Features for MT3620, RTC with clock selection and battery backup"
When will this be supported on the device, US version (SKU:102991012)?

[2018-10-01 14:00] gtrevi opened #32 "Azure Sphere SDK: VSIX installation error"
The VSIX installer may fail with an unclear error: " This extension is not installable on any currently installed products".
Updating Visual Studio to 15.8.x should fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de08ad95-5a5b-7d0d-860c-f9eb2e20c25e
* Version Independent ID: 496bd01d-da35-136d-cfec-c5b4c5479bab
* Co

[2018-10-01 14:01] #32 closed

[2018-10-01 16:01] crushonme opened #33 "Failed to build the azure sphere linux distribution"
Compile version: gcc-arm-none-eabi 4.8.2
OS; Windows 1803
Linux Version: Ubuntu on Windows

When I build the azure sphere linux distribution in [Third party disclosures and source code](https://3rdpartysource.microsoft.com/), I get below error:

`xxx#xxx:/mnt/d/linux-azure-sphere$ make ARCH=arm -j 4 xipImage
scripts/kconfig/conf  --silentoldconfig Kconfig
  CHK     include/config/kernel.release
Ca

[2018-10-01 21:05] spatdsg commented on #33
Did you install the GNU ARM embedded toolchain ?
Have you tried to run the following:

make ARCH=arm defconfig KBUILD_DEFCONFIG=mt3620_defconfig
make ARCH=arm CROSS_COMPILE=arm-none-eabi- -j 4 xipImage

[2018-10-02 01:59] BarryBo opened #34 "What format strings are supported?"
Is it all of the GNU C library printf() formats, or a subset, or something different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6ea9588-a545-f42f-71e9-963835e8362b
* Version Independent ID: c8ea8118-9431-ac66-d0b3-70893657845f
* Content: [Log_Debug function - Azure Sphere](https://docs.microsoft.com/en-us/azure-s

[2018-10-02 02:02] BarryBo opened #35 "What is the run-time overhead of this API?"
I expect it'll be fast/non-blocking, but I'd like to be sure it won't cause my application to hang for long periods of time.  Could you add documentation about whether it never blocks, may block, etc., and guidance about how long it could take to run?  Same with other APIs that will be called from the main loop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-10-08 07:57] crushonme commented on #33
Of course. Before build xipImage, I have build the default config.

[2018-10-08 08:27] crushonme commented on #33
In README-AZURE-SPHERE.md, it told that "Any version of this tool chain 4.0 or higher will work for building the kernel.  Testing has been done with both versions 4.9.3 and 6.3.0."

And [-fstack-protector-strong](https://outflux.net/blog/archives/2014/01/27/fstack-protector-strong/) told that fstack-protector-strong is a new option in gcc 4.9. So maybe I should compile the kernel with gcc version

[2018-10-09 02:08] crushonme commented on #33
I have successfully build azure sphere Linux distribution with gcc-arm-none-eabi version 6.3.1 on Ubuntu 18.04 on windows 10.

[2018-10-09 02:08] #33 closed

[2018-10-09 18:59] EHUbels opened #36 "UART Bytes Send/Receive"
Based on the UART examples as well as Kevin Saye's BLOG on RS-485 I'm trying to read 32 bytes, one frame from a sensor through the UART. I'm reading the bytes but get an unwanted termination into two frames of each 12 bytes and one of 8 bytes. I have a similar issue when sending HEX over the UART, as soon as it includes 0x00 it terminates. Any suggestions, Kevin's RS-485 seem to be able to read la

[2018-10-12 00:13] jwargo opened #37 "COM Ports?"
Why does the device expose three COM ports? That's not described in the docs. What's the purpose of each COM Port?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de08ad95-5a5b-7d0d-860c-f9eb2e20c25e
* Version Independent ID: 496bd01d-da35-136d-cfec-c5b4c5479bab
* Content: [Azure Sphere installation and device setup](ht

[2018-10-12 00:19] jwargo opened #38 "claiming a device"
I'm assuming you want to connect the device to power before claiming it. How does the CLI know which device to claim?  I'm assuming it's looking for the device connected via USB cable to the system running the CLI? shouldn't all those topics be covered in this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a

[2018-10-12 00:26] jwargo opened #39 "code formatting"
The content in the page isn't rendering properly - you have a big code block in what should be a series of blocks separated by text:

4. Add your Wi-Fi network to the device by using the azsphere device wifi add command as follows:

[code]
Replace `&lt;yourSSID&gt;` with the name of your network and `&lt;yourNetworkKey&gt;` with your WPA/WPA2 key. Azure Sphere devices do not support WEP. Network S

[2018-10-12 00:40] matsujirushi commented on #37
Look [here](https://docs.microsoft.com/en-us/azure-sphere/hardware/mt3620-mcu-program-debug-interface#overview-of-components).

[2018-10-12 19:56] EHUbels commented on #36
Dear Antonio, Richard,

Thank you so much for your response, really appreciate it. UART always seem to cause a lot of frustration, I'm sorry my request was not completely clear. It's not the sending that is the issue. Whatever I receive, also based on the example and your response the UART or code seems to truncate at 12 bytes.

My sensor transmits exactly 32 bytes and no \0 or anything like it ar

[2018-10-12 20:25] HowardEdidin opened #40 "Download PDF"
No Content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523ad25d-ef35-4653-4bb4-d01795828e4d
* Version Independent ID: 25b26299-d3ca-45fa-54a1-923c0aca80d0
* Content: [Azure Sphere with Azure IoT Hub - sample application](https://docs.microsoft.com/en-us/azure-sphere/app-development/azure-iot-sample)
* Content Source

[2018-10-12 20:32] HowardEdidin opened #41 "Exception when adding Iot Hub Service in Visual Studio"
![iotissue](https://user-images.githubusercontent.com/19954905/46892682-f2629100-ce33-11e8-952a-98d6315cc7b7.png)

[2018-10-12 20:54] richardtaylorrt commented on #36
Hi Erik, as @sergaz-msft says "when reading from UART, you may receive any number of bytes up to the maximum you requested.  This means you need to build up a receive buffer and keep track of how many bytes you have received so far.  Then you can act when you have received a full frame."

The rough code below shows a possible approach to this.

[code]

Note this code is just to illustrate the poin

[2018-10-12 22:04] HowardEdidin opened #42 "azure_iot_utilities.h"
The file is not added to the sample project.

[2018-10-14 03:44] HowardEdidin opened #43 "Screen shots are totally diiferent than the ones in Visual Studio"
You cannot Select Device Connectivity with Azure IoT from the list of connected services in VS.
&gt;&gt;In Solution Explorer, you should now see azure_iot_utilities.h and azure_iot_utilities.c in your solution.
They are not added

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523ad25d-ef35-4653-4bb4-d01795828e4d
* Vers

[2018-10-15 16:19] TimGitHub opened #44 "Command Prompt correction"
Hi all,
A tiny 'correction'. If you claim a device, the documentation suggests you should replace text inside the &lt;&gt;, however the &lt;&gt; themselves should also be replaced. Referring to:
"Replace my-tenant with a name that others in your organization"..
I would recommend to change this to:
"Replace '&lt;my-tenant&gt;' with a name that others in your organization will recognize, such as "Co

[2018-10-15 20:34] gconz opened #45 "Sample Project Will not build"
'Object reference not set to an instance of an object.' when trying to build the blink sample solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66d6e378-a8c1-6984-2a5c-30f2d2ae9971
* Version Independent ID: de2f147d-3f19-2f80-0427-b25c8061b51b
* Content: [Blink sample application Quickstart - Azure Sphere](https

[2018-10-16 06:37] duncanhoggan opened #46 "Azure Sphere SDK: VSIX installation setup failed"
Installation fails with the following message. 0x800707d3 - The requested metadata operation is not supported.

And in the log file these are the line showing that an error was raised.

[A3E8:AC84][2018-10-16T08:32:24]i304: Verified existing payload: SlipService at path: C:\ProgramData\Package Cache\{925475A6-5739-4477-93C1-FBC8361A90E8}v2.0.2.45571\packages\SlipService\Azure Sphere Device Communi

[2018-10-16 17:34] Mike-Ubezzi-MSFT commented on #41
@HowardEdidin Can you please use the following [Microsoft Visual Studio and .NET Framework Log Collection Tool](https://www.microsoft.com/en-us/download/details.aspx?id=12493) and send the output to AzCommunity at Microsoft.com, so that we can investigate this further. Thank you!

[2018-10-16 21:39] pennyo commented on #44
Thanks for the feedback. We'll fix this.

[2018-10-16 23:11] pennyo commented on #39
Thank you for the feedback. We will correct this error.

[2018-10-17 21:51] fmokren opened #47 "Tutorial Feedback"
Excellent tutorial. Everything worked without me having to figure out missing instructions or variations between my experience and the original author's.

This tutorial also covers a lot of information. It's going to take me awhile to process it all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523ad25d-ef35-4653-4bb

[2018-10-17 21:55] fmokren commented on #43
I didn't run into that problem. If you are still stuck leave a message and maybe I can help you out.

[2018-10-17 23:43] HowardEdidin commented on #46
I ran into the same issue after unistalling the sdk.

[2018-10-19 14:05] bawilless opened #48 "Consider adding a link to "Recover" the device in the Install section of this documentation"
We're receiving new Seeed MT3620 development kits.  Sometimes, students are encountering a roadblock when they try to claim their Sphere device because the OS that shipped with the device is not compatible with the current Sphere SDK.  It's easy to get past this roadblock, all the user needs to do is recover the OS.  Recovering the OS is well documented on this site (https://docs.microsoft.com/en-

[2018-10-19 18:09] Mike-Ubezzi-MSFT commented on #48
@bawilless Thank you very much for the detailed feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-19 18:15] Mike-Ubezzi-MSFT commented on #46
@duncanhoggan Thank you for the detailed feedback. Is there a document you are following as a reference? I came across this issue: https://github.com/MicrosoftDocs/azure-sphere-issues/issues/32

The VSIX installer may fail with an unclear error: " This extension is not installable on any currently installed products".
Updating Visual Studio to 15.8.x should fix

[2018-10-19 18:28] Mike-Ubezzi-MSFT commented on #47
@fmokren Thank you very much for the excellent feedback. Please let us know if you have any additional questions.

[2018-10-19 21:44] HowardEdidin commented on #46
I have 15.8.7 installed

AA68:3C44][2018-10-19T16:40:51]i304: Verified existing payload: TapDriverInstaller at path: C:\ProgramData\Package Cache\{582EC0EC-56C5-462F-A5F8-8A9EEE746597}v2.0.0\packages\TapDriverInstaller\TapDriverInstaller.msi.
[AA68:3C44][2018-10-19T16:40:51]i304: Verified existing payload: AzureSphereCore at path: C:\ProgramData\Package Cache\{93AD03C0-939C-4EA9-B7C1-8E8566437D9F}

[2018-10-19 21:52] HowardEdidin commented on #46
I tried running uninstall and that failed also. Log is attached

[VSIXInstaller_5eb85fc5-b6ad-4824-8a2a-c8d93d2c6d31.log](https://github.com/MicrosoftDocs/azure-sphere-issues/files/2497438/VSIXInstaller_5eb85fc5-b6ad-4824-8a2a-c8d93d2c6d31.log)

[2018-10-19 22:06] Mike-Ubezzi-MSFT commented on #46
Reference:
10/19/2018 4:49:09 PM - Found 'C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO\2017\ENTERPRISE\COMMON7\IDE\COMMONEXTENSIONS\Microsoft\Architecture Tools\GraphProviderPackage\extension.vsixmanifest'
10/19/2018 4:49:09 PM - Found 'C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO\2017\ENTERPRISE\COMMON7\IDE\COMMONEXTENSIONS\Microsoft\AnalyzeCodeCoverage\extension.vsixmanifest'
10/19/2018 4:49

[2018-10-20 01:47] Mike-Ubezzi-MSFT commented on #41
@HowardEdidin The below steps can be followed if you need to be unblocked now. We have a couple repro steps to confirm but we think it is related to an install sequence of the public extension was installed either before the Azure Sphere SDK or after it was installed. This is being investigated.

•	Uninstall the Azure Sphere VS SDK
•	Open VS, check to see if there is a Connected Service for Azure

[2018-10-20 03:04] HowardEdidin commented on #41
Weird that I have two

[cid:image001.png@01D467F7.B960D120]

From: Mike Ubezzi <notifications@github.com>
Sent: Friday, October 19, 2018 8:48 PM
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: Howard Edidin <hedidin@edidingroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-sphere-issues] Exception when adding Iot Hub Service in Visu

[2018-10-20 03:16] HowardEdidin commented on #41
Only one was uninstalled.

I tried installing the SDK again. Same error.

From: Mike Ubezzi <notifications@github.com>
Sent: Friday, October 19, 2018 8:48 PM
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: Howard Edidin <hedidin@edidingroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-sphere-issues] Exception when adding Iot Hub Se

[2018-10-21 19:49] EHUbels commented on #45
Had the same problem on one PC. Started to compare and finally found that the SDK did not install correct, look at the far end bottom of VS Tools & Features, Individual Components if the SDK and for the IoT the Connected Services are installed.

Erik

[2018-10-21 19:56] EHUbels commented on #36
The example code worked perfect, I do now receive the full frame of the PMS7003 Air Particle Sensor. Next issue I run into, yet again UART is sending command to the UART.

I've modified both the ButtonTimerEventHandler and the SendUartMessage to be able to send the following command, it only does send the first 4 bytes! Any suggestions?
    if (newButtonState != buttonState) {
        if (newButto

[2018-10-22 17:39] richardtaylorrt commented on #36
Hi - to send all 7 bytes, you should try:
`size_t totalBytesToSend = 7;`

sizeof(dataToSend) is just the size of the dataToSend pointer variable itself: which is 4 bytes on this 32-bit processor.

Also, I haven't tested, but if you are sending bytes, you should probably use char or uint8_t, and not uint16_t.

[2018-10-22 20:14] EHUbels commented on #36
Richard,

Thanks, this works like a charm, perfect. I can now read the complete data from the PMS7003 particle sensor and send a command to make it sleep. Wake-up will be similar but I'll have to create a second button instance and everything. Tomorrow I'll expect the CO2 sensors come in and they also use the UART in a similar way.

Thanks a lot.

Erik

[2018-10-22 20:14] #36 closed

[2018-10-23 00:05] Mike-Ubezzi-MSFT commented on #48
@bawilless All Azure Sphere kits sold by Seeed are to be sold with the latest version. If you are finding kits that are not out-of-the-box with the latest version, can you please detail this. If all kits require updates, please detail this as well. Yes, adding this step to the documentation is a great suggestion but, the documentation was written with the intent that the device would be at the lat

[2018-10-23 01:36] Mike-Ubezzi-MSFT commented on #48
In instances where the device requires the recovery steps to prepare the board, we would like the output of each command:

azsphere device show-ota-status -v
azsphere device show-attached -v

Please email the output of both commands for each device to: AzCommunity at Microsoft dotcom.

[2018-10-23 18:28] SitecoreDave opened #49 "A couple of typos"
"Azure Sphere is a secured" should be: "Azure Sphere is a secure"
"through which applications can securely connected to the cloud and web." should be: "through which applications can securely connect to the cloud and web."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95a9f97-1fb1-b876-c4f5-878311a7db28
* Version Ind

[2018-10-24 06:33] duncanhoggan commented on #46
@Mike-Ubezzi-MSFT I have the 15.8.7 installed and i was following [these install instructions](https://docs.microsoft.com/en-us/azure-sphere/install/install). Still getting the error, have had the Sphere hardware for just over a week but can't do anything with it, I know its early days for this product but would be nice if we could use it.

[2018-10-25 14:08] viktor-morin opened #50 "Component"
Hi! Could you describe the "component" in more detail and what the purpose is of the term.
We are building an image and then creating a imageset which we add to the feed for OTA.
But when creating a feed we need to attach a component, what's the purpose of adding that information?
What's the difference between an image set and a component?

---
#### Document Details

⚠ *Do not edit this section. I

[2018-10-25 16:33] pennyo commented on #50
HI Viktor-
Thanks for your feedback. These are good questions. We'll clarify this in a future update of the documentation.

[2018-10-25 16:37] pennyo commented on #49
Thank you for your feedback. We'll make the necessary changes.

[2018-10-25 17:21] pennyo commented on #47
Thanks for the feedback!

[2018-10-25 17:21] #47 closed

[2018-10-25 17:45] pennyo commented on #44
Fixed and live.

[2018-10-25 17:45] #44 closed

[2018-10-25 18:34] pennyo commented on #40
Thank you for your feedback. We've fixed the problem.

[2018-10-25 18:34] #40 closed

[2018-10-25 18:35] #25 closed

[2018-10-26 06:49] viktor-morin commented on #50
@pennyo
Would it be possible for you to describe component now? Thing is we are giving a talk regarding Azure Sphere and would be good to know the concept Component and what it's used for.
Cheers

[2018-10-26 07:09] viktor-morin commented on #8
Hi Pennyo!
So today, there is now way to remotly make the Azure Sphere to update the application? I need to physically restart it by pressing the reset button? How will this be handled in the future?

[2018-10-26 07:12] viktor-morin commented on #39
Hi!
How does Microsoft think about how this would work in reality? How should the end-user first time connect the device? Or change password if the router is replaced? We assume that all devices wont have an input display or similar? Any best practice regarding this? Cheers

[2018-10-26 12:36] matsujirushi commented on #50
Hi @viktor-morin ,
I trying to make Diagam Chart.

Component like 'Application'. It is without version number.

See my chart: (But it is draft :-) )
![image](https://user-images.githubusercontent.com/8079404/47566483-dcda8480-d966-11e8-882e-48bddd091eaa.png)

[2018-10-26 16:07] viktor-morin commented on #50
Thanks

[2018-10-26 17:55] pennyo commented on #8
Viktor,
Updating an application is different from updating the OS. To update an application, you upload a new imageset to the feed and then publish it, as described here:

https://docs.microsoft.com/en-us/azure-sphere/deployment/redeploy

Your device must be in a device group that allows application updates. Typically this means you've run the prep-field command on it:
https://docs.microsoft.com/e

[2018-10-26 19:56] chuckrichards opened #51 "UART Parity"
the current library only support uartConfig.parity = UART_Parity_None

what about Even or Odd...  I need Odd for my testing

while on the topic what about uartConfig.dataBits = UART_DataBits_Seven

[2018-10-26 20:19] Mike-Ubezzi-MSFT commented on #46
@duncanhoggan Would it be possible to detail all the extensions you have installed in your Environment, and perhaps if you installed `Connected Service for Azure IoT Hub` before attempting to install the `Azure Sphere SDK Preview`?

The SDK installs `Connected Service for Azure IoT Hub` and there is also a stand alone extension install for the same component.

I am currently in the process of atte

[2018-10-26 20:50] Mike-Ubezzi-MSFT commented on #46
@duncanhoggan In terms of installation, there is basically one step before you experience the error and that is to attach the board to a USB port. When you attach the board via the USB port, do you see three ports registered?
Also, when you attempt to uninstall and reinstall, are you using the Win10 Apps and Features dialog or are you uninstalling via Visual Studio Tools and Extensions?

_Windows

[2018-10-26 21:11] HowardEdidin commented on #46
![image](https://user-images.githubusercontent.com/19954905/47592611-96bafc00-d939-11e8-9125-dcd898873ded.png)

Log attached:
[dd_VC_AzureSphere_20181026160641.log](https://github.com/MicrosoftDocs/azure-sphere-issues/files/2520922/dd_VC_AzureSphere_20181026160641.log)

[2018-10-26 21:52] olegkhar commented on #46
Can you also please attach the latest VSIXInstaller log?  `dd_VC_AzureSphere_20181026160641.log` indicates that there was an error running VSIX installation.

One thing I noticed from one of the earlier VSIX logs that you uploaded is this:

10/19/2018 4:49:45 PM - Package 'Redgate.ReadyRoll,version=1.17.18155.10346' failed to install. System.IO.IOException: The file 'C:\Program Files (x86)\Microso

[2018-10-27 06:51] viktor-morin commented on #8
Thanks for the input.
I have done those steps, so just to clarify. When will the application be loaded to the device after that? Can it happens anytime in the next 24 hours? Is there any state or similar I need to change to enable this, or how do you handle if the current application is doing something critical and you would like to wait before update the application?

The only way we got it to wo

[2018-10-27 10:54] peterfoot commented on #42
This only gets added after you right-click References and select Add Connected Service and then choose your IoT Hub or Device Provisioning Service.

[2018-10-29 08:44] sadranyi commented on #43
The Screen Shots still don't match what is in VS 2017 Enterprise, also I keep getting wired errors

[2018-10-29 08:49] sadranyi commented on #43
![error_01](https://user-images.githubusercontent.com/564700/47638753-b2322c80-db1c-11e8-86f4-3e1c639a7e35.png)
![inkedss_01_li](https://user-images.githubusercontent.com/564700/47638815-ea396f80-db1c-11e8-9d4b-ab5004c030e1.jpg)

[2018-10-29 09:45] tokenstar commented on #8
Hi Viktor,
Assuming your device is connected to the Internet, it will update the application within 24 hours automatically.  There is nothing further you need to do to enable this.

Your application will receive a [termination signal from the OS](https://docs.microsoft.com/en-us/azure-sphere/app-development/initialization-termination) just before the update occurs.  There is currently no way for t

[2018-10-29 09:50] viktor-morin commented on #8
Thanks for information!
It's now clear!

[2018-10-29 12:19] theciscokid opened #52 "The command ""C:\Program Files (x86)\Microsoft Azure Sphere SDK\SysRoot\tools\gcc\strip.exe" --strip-unneeded"
I've just taken delivery of my Azure Sphere and am trying to run this example. When I try and deploy it from VS2017 I get the following error: - The command ""C:\Program Files (x86)\Microsoft Azure Sphere SDK\SysRoot\tools\gcc\strip.exe" --strip-unneeded &lt;path to app bin&gt;. I have tried repairing the sdk install and i've successfully setup the device with the azsphere commands as per this tut

[2018-10-29 14:06] bawilless commented on #48
Hi Mike,

Sorry for the delayed response, I was on vacation.  So far all the boards we have were sourced from Microsoft.  Be aware that new customers are also getting boards from Microsoft so they will encounter the same issue.

I'm looking at the documentation from the point of view of a new user.  If a new user encounters this error, how will they know how to resolve the issue?  Including a note

[2018-10-29 14:56] bawilless commented on #48
The requested output was sent via email.  I’ve also attached it here.

Brian

Brian Willess

brian.willess@avnet.com<mailto:%20brian.willess@avnet.com>

Technical Solutions Engineer

Engineering & Technology

[http://digital.avnet.com/signature/images/Avnet_logo_tagline_rgb.png]

1672 W. Flintlock Way

Chandler AZ, 85286

O 480.534.6041

avnet.com<http://www.avnet.com/>

From: Mike Ubezzi [mailto:

[2018-11-01 13:56] viktor-morin opened #53 "Find devices in devicegroup"
Is it possible to list all devices in a devicegroup? Or what's the idea about this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7752135-2de8-7f0a-b7c4-9ad363311cf3
* Version Independent ID: af53a10a-6f57-fdca-f46d-3517f322d2e9
* Content: [Azure Sphere CLI device-group (dg) command](https://docs.microsoft.com/en-us/

[2018-11-02 12:17] max1weber commented on #45
'Object reference not set to an instance of an object.' when trying to build the blink sample solution.

Same issue here.  And " VS Tools & Features, Individual Components if the SDK and for the IoT the Connected Services are installed." there are installed

Perhaps some other prereqs missing?

[2018-11-03 19:46] pennyo commented on #49
The use of "secured" is intentional. Other problem is fixed. Thanks for catching.

[2018-11-03 19:46] #49 closed

[2018-11-05 17:56] sergaz-msft commented on #52
Hello @theciscokid thanks for your feedback!
Can you share more details (full error message in 'Build' pane of VS) and any relevant screenshots?

Thanks!

[2018-11-06 22:06] sergaz-msft commented on #53
Hello @viktor-morin . The command to list all devices in a device group is as follows:

`azsphere device-group list`
See [here](https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-device-group#list).

Thank you.

[2018-11-07 09:44] viktor-morin opened #54 "Azure Sphere Linux OS Github"
I was wondering if the Linux OS/Kernel is up on Github?
I saw a presentation where Microsoft stated it is open source and they count on contribution.
I can however not find it?

[2018-11-07 15:34] sergaz-msft commented on #53
Hello @viktor-morin you are correct! Sorry about the misunderstanding. I am checking with product group if we support listing all devices in a device group.

Thank you!

[2018-11-07 16:01] sergaz-msft commented on #51
Thanks for the feedback @chuckrichards . I have passed that feedback to the product team. Can you as well please ask that feature here?: https://feedback.azure.com/forums/915433-azure-sphere

All Best

[2018-11-07 16:01] #51 closed

[2018-11-07 16:04] sergaz-msft commented on #53
I have passed this feedback to the product team. We don't have a command to list all devices on a devicegroup. Please can you also ask that feature here?: https://feedback.azure.com/forums/915433-azure-sphere

Thank you!

[2018-11-07 16:05] sergaz-msft commented on #53
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-07 16:05] #53 closed

[2018-11-07 22:18] rajeshagadi commented on #45
Facing the same problem as above.

Steps taken: At Step 2 above, soon after the project is created or soon after repon the project from the last build failures to build successfully. with below error message:

---------------------------
Microsoft Visual Studio
---------------------------
An exception has been encountered. This may be caused by an extension.
You can get more information by examini

[2018-11-07 22:55] gconz commented on #45
I've found the solution. It has to do with the extension.  I used this tool to clean up VS MEF extension cache:

https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ClearMEFComponentCache

Then I reinstalled the azSphere extension.

[2018-11-08 22:59] richardtaylorrt commented on #54
Hi - please take a look at [Third party disclosures and source code](https://3rdpartysource.microsoft.com/), and filter on 'Azure Sphere'.

[2018-11-09 00:35] olegkhar commented on #43
Hello,

We believe that you have an older version of IoT Hub extension installed, and that it is interfering with the functionality provided by Azure Sphere's IoT Hub.  Can you please go to Tools > Extensions and Updates in Visual Studio, and check whether you have an entry for Azure IoT Hub?

And if you do have it, can you please:

1. Disable both Azure Sphere and IoT Hub extensions
2. Restart Vi

[2018-11-09 03:13] HowardEdidin commented on #43
I ad to remove the extension completely. When trying to reinstall I get the following exception

`[1268:9A3C][2018-11-08T21:09:53]i001: Burn v3.11.0.1701, Windows v10.0 (Build 17763: Service Pack 0), path: C:\Users\Howard\AppData\Local\Temp\{E4A519B7-5F67-463B-ABEC-AF0A345BF024}\.cr\VS_Tools_Preview_For_Azure_Sphere.exe
[1268:9A3C][2018-11-08T21:09:53]i000: Initializing string variable 'MbaNetfxPa

[2018-11-12 20:02] starbuckscoffee opened #55 "RDB design files"
Need description how we can download/get RDB design files(P-MT3620RDB-1-0xxxxx)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2245c14d-0ab2-05de-25ba-bdb7ed861aca
* Version Independent ID: a7f33bcd-3d29-e02e-983f-d939d57020d5
* Content: [MT3620 reference board design - Azure Sphere](https://docs.microsoft.com/ja-jp/azure-sphere/hardware/mt3620-hardw

[2018-11-13 03:25] KerryJenkins opened #56 "Unable to start debugging. Unrecognized XML element 'AzureSphereLaunchOptions'."
I am getting the following when starting debugging the Mt3620Blink demo on Visual Studio 2017 Version 15.8.9:

Unable to start debugging. Launch options string provided by the project system is invalid. Unrecognized XML element 'AzureSphereLaunchOptions'.

I have rerun the installer (repair) for VS_Tools_Preview_For_Azure_Sphere.exe but am still getting the same result.

[2018-11-13 09:37] SamVanhoutte commented on #46
I'm also getting an exception while installing the sphere sdk.  I have the board connected to my PC and I can see the three COM ports in device manager.
However, when running the `VS_Tools_Preview_For_Azure_Sphere.exe` (also tried run as admin), I get the following error at the end of the process: `0x800707d3 - The requested metafile operation is not supported.`
![image](https://user-images.github

[2018-11-13 10:49] duncanhoggan commented on #46
@Mike-Ubezzi-MSFT I attempted the install again today and everything went off **smoothly**. The installation through the provided `VS_Tools_Preview_For_Azure_Sphere.exe` file went off without a hitch. Only thing i can assume is that an update to VS since the issue was flagged has resolved the installation failure.
Thanks for your assistance!

[2018-11-13 22:54] Knight21024 opened #57 "Cloud Architect"
The Device Twin app works - in installed under Azure IoT Hub called "Device Explorer"
The title bar is Device Twin (once the app is running)
The Data tab (monitoring) never worked for me - i got the error ... Stopped Monitoring events. An error occurred during communication with '0d68523c8ac04e93b6579cd07f77a26b_B5'. Check the connection information, then retry.

However the rest of the app works.

[2018-11-14 09:52] viktor-morin opened #58 "Real-time processor"
We had a demo last week with Azure Sphere where we showed the application processor and alot of people where interested in what Azure Sphere can bring to the table.
Some people where specific asking about the real-time processor since they are looking to solve a current issue (big scale), where Azure Sphere could be the solution.

We where wondering if it's possible to get a preview, or ETA when i

[2018-11-14 11:33] sergaz-msft commented on #55
Hello @starbuckscoffee that description is not publicly available. Please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can validate if you have a NDA so that we can share that documentation with you.

Thank you!

[2018-11-14 11:34] sergaz-msft commented on #52
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-18 20:01] starbuckscoffee commented on #55
Thank you for answering to my questions.

[2018-11-19 05:30] residentx10 commented on #55
@starbuckscoffee
https://github.com/Azure/azure-sphere-hardware-designs/tree/master/P-MT3620RDB-1-0

On Mon, Nov 19, 2018 at 12:28 AM George Carlisle <george.carlisle@gmail.com>
wrote:

[2018-11-19 14:43] sergaz-msft commented on #55
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-19 14:43] #55 closed

[2018-11-19 14:46] sergaz-msft commented on #37
More info here: https://docs.microsoft.com/en-us/azure-sphere/hardware/mt3620-hardware-designers

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-19 14:46] #37 closed

[2018-11-19 14:49] sergaz-msft commented on #57
Thanks for the feedback @Knight21024 .  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-20 00:04] shijiong opened #59 "Issues of update from 4.2.1 to 18.11"
Hello, my friends

Today I update my MT3620 from TP 4.2.1 to the latest 18.11, and find something interesting.

First of all, after update, I open the project that created for TP 4.2.1, while, a huge number of errors appear. Maybe it is caused by some including head files. Then, I have to create new projects, do some copy and paste work. Finally, everything works as before. Maybe we should write a

[2018-11-20 19:50] pennyo commented on #57
We are aware that the Device Twin/Device Explorer can be problematic, and we plan to suggest the use of a different tool in a future release of the documentation.

Were you able to see any messages from your device, or did the error occur immediately?

[2018-11-21 19:59] olegkhar commented on #46
@SamVanhoutte,

The error code that you provided translates to "No Applicable SKUs" while installing the VSIX.  Can you please upload the VSIX log--and also make sure that you have Visual Studio 2017, version 15.7 or greater installed?

[2018-11-22 21:33] richardtaylorrt commented on #31
Hi - please see [Using the real-time clock with Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/app-development/rtc), added as part of our [18.11 release](https://docs.microsoft.com/en-us/azure-sphere/resources/release-notes-1811).

[2018-11-22 21:33] #31 closed

[2018-11-23 19:13] iz4blue opened #60 "Azure portal 에 있는 용어와 맞추었으면 합니다."
"가운데 패널에서 역할 및 관리자 아래에 있는 엔터프라이즈 애플리케이션을 선택합니다."
이 문구에서 "엔터프라이즈 애플리케이션" 이라는 단어는 portal 에서 "엔터프라이즈 응용 프로그램" 으로 되어 있습니다.
번역이 되면서 2가지의 용어 차이가 있어 혼선이 있습니다.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7e0886-3299-17a1-ea10-257c68e550bf
* Version Independent ID: dae4abba-a2fc-b58f-f18d-947d0a768003
* Content: [Limit acc

[2018-11-25 03:09] #19 closed

[2018-11-26 06:04] jrchinchilla opened #61 "There seems to be a typo in azure_iot_hub.c line 134"
Variable defined as directMethodCallbackh(...) should be directMethodCallback(...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523ad25d-ef35-4653-4bb4-d01795828e4d
* Version Independent ID: 25b26299-d3ca-45fa-54a1-923c0aca80d0
* Content: [Azure Sphere with Azure IoT Hub - sample application](https://docs.microsoft.c

[2018-11-26 06:05] jrchinchilla opened #62 "Errors when compiling Azure IoT Hub Sample for MT3620 RDB (Azure Sphere)"
Getting the folllowing errors:
1&gt;arm-poky-linux-musleabi-gcc.exe : error : crypt32.lib: No such file or directory
1&gt;arm-poky-linux-musleabi-gcc.exe : error : winhttp.lib: No such file or directory
1&gt;arm-poky-linux-musleabi-gcc.exe : error : Secur32.lib: No such file or directory
1&gt;arm-poky-linux-musleabi-gcc.exe : error : Ws2_32.lib: No such file or directory

---
#### Document Details

[2018-11-26 16:19] jrchinchilla commented on #62
It seems like this issue happens when you have the Connected Service for IoT Hub extension installed in VS 2017. I uninstalled this extension and created a new "Azure IoT Hub Sample for MT3620 RDB (Azure Sphere)" project and was able to build and debug successfully.

[2018-11-26 16:20] jrchinchilla commented on #61
Not an issue after I uninstallde the Connected Service for IoT Hub extension in VS 2017.

[2018-11-26 18:34] vvvishnu1 commented on #58
Hello Viktor, thank you for your patience and sending us this question. We cannot share the ETA for testing real time processor yet. Azure Sphere team is listening to the the feedback from the customers and using it to prioritize the feature development. We will let you know as soon as we have an ETA.

[2018-11-26 18:38] vvvishnu1 commented on #59
The issue and its resolution are documented in the Release Notes now.

Attempts to rebuild existing TP 4.2.1 applications with the 18.11 Azure Sphere SDK Preview for Visual Studio will initially fail with the following error:
'Target API Set' project property is not set. Open the Project Properties and set this field using the drop-down menu. Ensure that the Configuration selected on that page inc

[2018-11-27 00:05] shijiong commented on #59
Hi Vishnu,

The problem is resolved. Thanks!

[2018-11-27 14:19] kursatgol commented on #60
Hi All,

I can not see my tenant and my claimed device to this tenant on Azure Sphere Portal on my account. I did the whole limited access procedures and i added related users to the Azure Sphere utility application but nothing changed. Could you please help me?

regards.

[2018-12-03 18:50] vicelias-renosubsystems opened #63 "Don't use the phrase "Ground loop test point""
Don't use the term ground "loop" when just describing the ground test/clip point on the hardware.
A ground loop is usually a bad thing in the hardware world.
Microsoft seems to be all about software and doesn't do hardware documents very well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 877d4170-58b8-f3a6-49f0-45b7f

[2018-12-03 19:06] vicelias-renosubsystems commented on #63
The words Ground and Loop shouldn't be put together.  This is a test clip or test point or maybe you could call it a Ground Test Point Loop.  Just not a Ground Loop.  Go to digikey and look up the part number, Keystone electronics makes these and they call them Test Points.

[2018-12-05 16:02] bawilless opened #64 "Is the dependant feed on this page still valid with the 18.11 release?"
Is this statement true for the 18.11 release?

"In the current release, Azure Sphere OS feed is named "Preview MT3620" and the feed ID is 3369f0e1-dedf-49ec-a602-2aa98669fd61."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16395218-fa75-bd42-ee22-d48eb25f61b2
* Version Independent ID: 161af554-9e3c-550c-4b0f-792446b9d

[2018-12-05 16:17] pennyo commented on #64
Yes, that is correct. You can always verify by using  **azsphere feed list** on the command line:

Listing all feeds.
Retrieved feeds:
--> [3369f0e1-dedf-49ec-a602-2aa98669fd61] 'Preview MT3620'
--> [a48bb8cf-bee5-439c-a3fa-889c5f1c9807] '1811UartTestFeed'
Command completed successfully in 00:00:05.4542688.

[2018-12-05 19:45] henrygab opened #65 "Picture typographical error "Pord D" should be "Port D""
In section `Overview of components`, the picture at:
https://docs.microsoft.com/en-us/azure-sphere/hardware/media/ftdi-to-mt3620.png

has a typographical error for port D, labeling it as `Pord D` instead of `Port D`.
Simple fix: change the label in the picture to `Port D`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-12-06 10:33] olegkhar commented on #46
There seems to be an error during installation of VSIX.  Can you please upload the logs or VSIXInstaller*.log?

The most comprehensive set of logs would be the one collected by VSCollect tool, aka.ms/vscollect
The tool drops vslogs.zip into %TEMP% directory.

[2018-12-06 10:43] MSSPI commented on #46
Please find below the log file:

01/12/2018 19:29:57 - Microsoft VSIX Installer
01/12/2018 19:29:57 - -------------------------------------------
01/12/2018 19:29:57 - vsixinstaller.exe version:
01/12/2018 19:29:57 - 15.9.3032
01/12/2018 19:29:57 - -------------------------------------------
01/12/2018 19:29:57 - Command line parameters:
01/12/2018 19:29:57 - C:\program files (x86)\microsoft visua

[2018-12-06 13:41] aguptadel opened #66 "when instructed by Microsoft is not clear"
"when instructed by Microsoft" is not clear on who at Microsoft and when.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dab9ea38-0619-6245-da46-33c535a7f92f
* Version Independent ID: 8e7168b8-055f-408a-aaad-0cefc6880d61
* Content: [MCU Programming and Debugging Interface Guide - Azure Sphere](https://docs.microsoft.co

[2018-12-06 17:10] pennyo commented on #62
Yes, that is correct. For now, the solution is to uninstall the Connected Service for IoT Hub extension and use only the extension that is installed with the Azure Sphere SDK.

[2018-12-06 20:55] aguptadel opened #67 "Issue withvCreate a new account"
Create a new account and directory that are not associated with any other account did not worked for me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5cac582-108f-ed21-5ebd-02d35aaf6c3d
* Version Independent ID: 47d7bf64-ece8-a0c1-b2b7-3b6b447f9a03
* Content: [Account requirements for Azure Sphere](https://docs.micro

[2018-12-07 00:59] aguptadel opened #68 "Great content !!!"
Ran with out issues

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66d6e378-a8c1-6984-2a5c-30f2d2ae9971
* Version Independent ID: de2f147d-3f19-2f80-0427-b25c8061b51b
* Content: [Blink sample application Quickstart - Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/quickstarts/qs-blink-application)
* Content

[2018-12-11 10:22] moyanming opened #69 "Is there recommend store for the Azure Sphere Development Kit in China?"
Hi all,
Is there recommend store for the Azure Sphere Development Kit in China?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de08ad95-5a5b-7d0d-860c-f9eb2e20c25e
* Version Independent ID: 496bd01d-da35-136d-cfec-c5b4c5479bab
* Content: [Azure Sphere installation and device setup](https://docs.microsoft.com/en-us/azur

[2018-12-11 14:08] bawilless opened #70 "Graphic in step #2 needs an update as the portal content has changed"
The "Add Enrollment Group" page has changed.  The "Save" button at the bottom of the page, now shows "Enable"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faedf864-4477-e53a-f711-0e5deaf3197b
* Version Independent ID: 416a2b64-8c07-f6bc-8393-307639bd9b3a
* Content: [Set up an Azure IoT Hub to work with Azure Sphere](

[2018-12-11 14:09] bawilless commented on #70
Step #3 also needs to be edited "save" becomes "Enable."

[2018-12-11 14:13] bawilless commented on #70
Well I really need to finish the document before commenting.  The Save button is now at the top of the page.  Disregard my last comment.  : )

[2018-12-19 16:16] irwincs opened #71 "Sending ASCII Data over UART"
I need to send/receive ASCII data through the UART on the MT3620. Receiving data works correctly, but when I send data, it is not received correctly. The correct number of bytes are received, but they are not the same bytes that I sent. The received bytes have different numerical values.

I'm using the Azure Sphere UART sample on the sending side and a C# program on a Desktop PC with a serial port

[2018-12-19 17:08] richardtaylorrt commented on #71
Hi - please can you paste in the relevant parts of your code (for both Azure Sphere and PC) and give an example of which bytes are being received incorrectly.  Thanks.

[2018-12-19 17:32] irwincs commented on #71
Hi Richard,

Thanks for the quick response.  Here is the sending code:
[code]

[2018-12-19 17:36] irwincs commented on #71
Here is the receiving code:
[code]

[2018-12-19 18:07] richardtaylorrt commented on #71
Hi - thanks for sharing, please could you also share an example of bytes (a string) that are received incorrectly, with the debug log output from the Azure Sphere app, and the console output of the PC app.

[2018-12-19 18:43] irwincs commented on #71
Here is the data being sent and the corresponding data being received:
[code]

[2018-12-19 19:09] irwincs commented on #71
Do I need to do some special encoding in the sending program (Azure Sphere) prior to sending out the bytes? It seems like the SerialPort class may be automatically doing some encoding prior to sending, I receive the byes sent from the C# program on the device without issue. I saw some references to the iconv library, but couldn't find much documentation.

[2018-12-20 18:48] irwincs commented on #71
I updated the code to give better information in the Debug Window and included one sample of sending from the Desktop to the Azure Sphere device as well.  I also included several different text strings sent from the MT3620 to the c# test app.

Here is the debug log from the Desktop application:
[code]

[2018-12-20 18:51] irwincs commented on #71
Here is the debug log from the C program on the MT3620:

[code]

[2018-12-20 22:39] richardtaylorrt commented on #71
Hi - please could you share the C# code on the PC that creates the SerialPort object.  In particular, what values are set for data bits, parity bit and stop bit?  For Azure Sphere, these must be 8,0,1 respectively.

[2018-12-20 23:13] irwincs commented on #71
I can share the code tomorrow, but I can confirm that I’m using 8,0,1 and 9600 baud on both sides.

[2018-12-21 13:19] irwincs commented on #71
I populate the communications parameters from a Windows Form: Parity is set to None, Data Bits 8 and Stop Bits 1, which are the form defaults.

Here is the Desktop c# code:
[code]

[2018-12-21 19:01] irwincs commented on #71
The problem seems to be only with sending data from the UART on the MT3620. The C# program sends/receives data from the LED sign controller board that I'm ultimately trying to communicate with over serial. The MT3620 also receives data fine from the C# program.

Perhaps it's a wiring issue. The sign has 3 wires in it's serial communication cable: TXD, RXD and GND. I've currenly got GND connected t

[2018-12-21 20:52] irwincs commented on #71
I'm connecting through a standard serial port (9-pin) I'm going to try it on my laptop with a USB to serial cable as it does not have an old-style serial port. Only 3 pins are connected.
![db-9 female to ps2 male cable diagram](https://user-images.githubusercontent.com/31076972/50363134-6312e180-0538-11e9-955a-356227fc2119.png)
![img_0319](https://user-images.githubusercontent.com/31076972/5036313

[2018-12-21 22:51] richardtaylorrt commented on #71
Hi - thanks again. It's possible that this is a voltage level problem. I'm not an expert on RS232 serial on PCs, but I think it is -/+12V, whereas the MT3620 uses 3.3V TTL logic. You may need to look at voltage level shifting solutions.

[2018-12-21 23:48] irwincs commented on #71
By George, I think you’ve got it. I was about to try RS -485.

[2018-12-22 22:15] thomastitze commented on #45
Had the same challenge with the error message "An exception has been encountered. This may be caused by an extension." I did not had installed the "Desktop Development with C++". I use a fresh installed version of VS Studio 2017 15.9.4 on a clean Windows 10 1809 machine. After installing the "Desktop Development with C++" Experience, same error comes up right after the project was loaded. I used @

[2019-01-11 19:12] irwincs commented on #71
I've connected an RS-232 to TTL converter to the MT3620 and can now send commands out over RS-232 successfully. The data is not being received back from the device correctly, so I will debug this and report back. I purchased 3 different converters in case one of them doesn't work correctly.

[2019-01-13 22:28] ewconnell opened #72 "documentation error using the "azsphere device image list-installed" command"
the "azsphere device image list-installed" command does not output JSON info as shown on this page. It outputs information like this:

Installed images:
 --&gt; Mt3620Blink1
   --&gt; Image type:   Application
   --&gt; Component ID: 9419cc28-79dc-4366-a066-590659dd0fbd
   --&gt; Image ID:     358fd27a-22f6-46c3-8ea8-42a8ac8f90be
Command completed successfully in 00:00:01.4284699

---
#### Documen

[2019-01-14 20:30] pennyo opened #73 "Typo/thinko"
Abrupt end to sentence: The sysroots

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9f03e66-a9f8-b1ee-f565-5cf23cf06cae
* Version Independent ID: 4d29ef11-49b6-d29b-72c8-8e8cf73725ab
* Content: [Use beta features - Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/app-development/use-beta)
* Content Source:

[2019-01-16 15:38] irwincs commented on #71
I tried 2 different RS-232 to TTL converters and with each device, sending data out works correctly, but receiving data back doesn't work correctly. Before using the converters, receiving data worked correctly, but sending didn't work correctly.

[2019-01-16 16:42] irwincs commented on #71
I got it to work by bypassing the RS-232 to TTL converter for receiving data and using it for sending data. It seems like a bit of a hack to me, but it does seem to work. More testing is required to be sure.

[2019-01-30 10:18] mscbpi opened #74 "OTA targeted images not installed"
Following the guide, I can't get OTA download of the app.

The device is correctly connected to WIFI, configured in device group, subscribed to list:

`azsphere device image list-targeted
Successfully retrieved the current image set for device with ID
'0F8ADE345823314A1EE33DBBF6CEC59C6E15B81E5DA8E3ED9AFC05DD9981BA6CD0C9E397E3CC7756B69D456A9EFC9CAEF78BDB915413EDEB07604DDE88CF63BE' from your Azure S

[2019-01-30 11:21] mscbpi opened #75 "Update/OTA does not occur"
azsphere device image list-targeted lists my application (blink)

azsphere device wifi show-status reports connected (unrestricted wifi)

azsphere device image list-installed shows no install even after reset.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6089189-0c15-d287-ff98-3bb424e4c24f
* Version Independ

[2019-01-30 16:10] pennyo commented on #75
If you've run prep-debug but haven't run prep-field the device will be in system software group only. Please run these two commands and make sure that the device group that your device is in supports both application and OS update.
azsphere device show-ota-config
azsphere device-group show --devicegroupid <device group GUID from the ota config>

Thank you!

Thanks!

[2019-01-30 16:11] #73 closed

[2019-01-30 16:12] pennyo commented on #72
Thank you for your feedback. We'll fix this in an upcoming update.

[2019-01-30 16:12] #72 closed

[2019-01-30 16:13] pennyo commented on #70
A couple of things have changed here. We're updating for the next major release.
Thank you for your feedback.

[2019-01-30 16:13] #70 closed

[2019-01-30 16:14] pennyo commented on #68
Good to hear! Thank you!

[2019-01-30 16:14] #68 closed

[2019-01-30 16:14] #65 closed

[2019-02-01 06:47] JayaKumarBalan commented on #62
Still it did not work for me.

[2019-02-01 06:56] JayaKumarBalan commented on #62
It worked now ,  A restart did the trick .

[2019-02-01 12:42] djaus2 opened #76 "No Json format for azsphere device image list-installed command"
In the section
## Trigger the deployment
[code]
Does not return Json. Returned result example:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e04f52b-e1a2-44ae-1102-efb2e2096731
* Version Independent ID: 004091d7-2e9e-9074-98b9-b1c364f8603a
* Content: [Deploy your first application quickstart - Azure Sphere](ht

[2019-02-01 12:45] djaus2 commented on #76
I see you have already been alerted to this so will close it

[2019-02-01 12:46] #76 closed

[2019-02-01 15:46] pennyo commented on #75
A further suggestion:
If the verbose (-v) output of azsphere device image list-targeted, azsphere device image list-installed, and azsphere device show-ota-status (and the device group ones) shows that the image is indeed targeted at your device and that your device group enables OTA application update, the problem could be that your network has port/filter restrictions that aren't letting the upd

[2019-02-01 18:36] jmandel opened #77 "Ports in wrong column"
In rows 1-2 of the table, ports appear (correctly) in the "Port" column, but in rows 3-6, they appear incorrectly in the "URL or IP Address" column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02995860-63e0-47fa-91f8-35e7898116d1
* Version Independent ID: 39939a47-0efc-5632-11ad-05d1e91b4bde
* Content: [Azure Sphere

[2019-02-01 18:43] pennyo commented on #77
Thank you the feedback. We’ll fix this.

From: Josh Mandel <notifications@github.com>
Sent: Friday, February 1, 2019 11:36 AM
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: Penny Orwick <Penny.Orwick@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-sphere-issues] Ports in wrong column (#77)

In rows 1-2 of the table, ports appea

[2019-02-03 06:09] leang97 commented on #45
Had the same issue just now, cleared the MEF cache and same issue still there, 'Object reference not set to an instance of an object.' when trying to build project. Installed Visual Studio Community 2017, then installed "Desktop Development with C++", got that issue popped, cleared MEF cache still had that problem. Now trying to repair Visual Studio......

[2019-02-03 12:52] matsujirushi commented on #45
@leang97
Please install "Visual C++ tools for CMake and Linux" and "Embedded and IoT Development".
See [that](https://social.msdn.microsoft.com/Forums/en-US/9899bbda-790f-416d-9049-c2f524ec9b05/azure-sphere-mt3620blink1-fails-on-startup?forum=azuresphere).

[2019-02-05 11:43] Imacutekayx opened #78 "Device ID could not be found"
Hello,

I try to claim a device with an existing id on my hub.
The code I write on the Developer Command Prompt is : "azsphere device claim --deviceid <idOfMyDevice>" but it returns the error : "Device Id <idOfMyDevice> could not be found, or was already claimed to a different Azure Sphere tenant.".

I login with the only tenant of my AD who has all rights on my hub and I verified my id to be sure

[2019-02-16 08:27] mifurm commented on #54
There is no Azure Sphere repo there:(

[2019-02-16 21:10] pgmolloy opened #79 "Azure Sphere SDK: VSIX installation setup failed"
Tried to update Azure Sphere SDK to [19.02] that I downloaded from https://aka.ms/AzureSphereSDKDownload and received this error screen
![2019-02-16_13-45-58](https://user-images.githubusercontent.com/8608419/52905050-7e753280-31f1-11e9-97ca-a8d2728713ff.png).
=====================================================
The log file is attached.
[dd_VC_AzureSphere_20190216134840.log](https://github.com/M

[2019-02-19 21:41] yuehuang010 commented on #79
Hello, Thank you for trying Azure Sphere.  This is an issue is with 18.11 unintentionally affecting VS2019 Preview.
To workaround the problem: Uninstall VS2019, then install it again.  Then install 19.02.
Thanks.

[2019-02-20 19:53] richardtaylorrt commented on #54
Hi @mifurm - the source isn't currently available directly here on GitHub, but it is available for download at the link above. Please let us know if you have any trouble accessing it. Thanks.

[2019-02-26 14:01] max90727 opened #80 "In Azure portal, I could not find the same Device Explorer under my IoT Hub as the one described in this tutorial"
Under my IoT hub, I found the IoT devices. In the Device details, I found the tab message to device, but I did not find the Data Tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523ad25d-ef35-4653-4bb4-d01795828e4d
* Version Independent ID: 25b26299-d3ca-45fa-54a1-923c0aca80d0
* Content: [Azure Sphere with Azure IoT

[2019-02-26 18:50] GlennMiller opened #81 "Some changes in the sample program output window"
Just a note to say the output window might be different for Device Output as described in (4)

INFO: Received desired value 1 for LedBlinkRateProperty, setting it to 1.
[Azure IoT] INFO: Set reported property 'LedBlinkRateProperty' to value 1.
[Azure IoT Hub client] INFO: AzureIoT_DoPeriodicTasks calls in progress...
[Azure IoT Hub client] INFO: AzureIoT_DoPeriodicTasks calls in progress...
[Azure

[2019-02-26 20:13] pennyo commented on #81
Thank you for your feedback. We'll update the docs as required.

[2019-02-26 20:29] pennyo commented on #80
Did you install the Device Explorer from [SetupDeviceExplorer.msi](https://github.com/Azure/azure-iot-sdk-csharp/releases/download/2018-3-13/SetupDeviceExplorer.msi) as referenced in the documentation? This is a separate tool that is not part of Azure Portal. Using Device Explorer, you see the Data tab when you open it, as in the following screenshot:
![image](https://user-images.githubusercontent

[2019-02-26 20:32] pennyo commented on #77
Fixed in 19.02 release.

[2019-02-26 20:32] #77 closed

[2019-02-27 08:49] jianyuanMa commented on #80
Thank you. That solves my question.

[2019-02-27 12:37] sha1painkiller opened #82 "Step 5 doesn't work"
In Step 5, can't find "Add enrollment group" in Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faedf864-4477-e53a-f711-0e5deaf3197b
* Version Independent ID: 416a2b64-8c07-f6bc-8393-307639bd9b3a
* Content: [Set up an Azure IoT Hub to work with Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/ap

[2019-02-28 08:05] joeyjoey1984 opened #83 "cartificate can not be uploaded to iot center"
after verify the certificate with IOT hub, the same certificate can not be uploaded to IOT center because it is grey in the selection icon. tried a new certificate, still can not be uploaded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79eb45a2-0b0c-6449-5acc-504fb16583e6
* Version Independent ID: fa9be175-df4d-a165

[2019-03-08 09:42] muesliman opened #84 "which baudrates are valid values?"
which baudrates are valid values? maybe some defines or an additional enum might be quiet helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6456a5db-dfa5-9719-c1ec-090fcdc1b824
* Version Independent ID: cecf132c-31cf-0a74-c6ba-58ef71464b1d
* Content: [UART_BaudRate_Type typedef - Azure Sphere](https://docs.microso

[2019-03-08 09:55] muesliman commented on #84
It seems that all common baud rates between 1.200 and 921.600 are allowed (so file descriptor is valid than)

[2019-03-09 15:57] jflynn129 opened #85 "Sphere SDK plans with Linux (Ubuntu) support"
Curious if there are any plans to support Ubuntu with the Sphere SDK?

[2019-03-11 18:07] jflynn129 opened #86 "Problems connecting to MT3620 Development Kit"
I received two different MT3620 development kits and have not been able to connect any of them to my PC running 'Windows 10 Enterprise', Version 1803, Build 17134.590.

When attaching the MT3620 to the computer, it does not find/install the serial driver.  I went to https://www.ftdichip.com/FTDrivers.htm and downloaded the driver for 'Windows 10' and it appears to have resolved that issue.  When t

[2019-03-11 20:45] xtreampb commented on #82
to find "Add enrollment group" open your device provisioning service.  Select "Manage enrollments" on the left hand side of the blade/window that appeared.  "Add enrollment group" will be near the top of the new view.
![Add enrollment group](https://user-images.githubusercontent.com/1777628/54156599-f8798f80-441c-11e9-8f96-32a7d363e493.jpg)

[2019-03-12 04:35] bespinfw commented on #52
Hi, I have the same error.

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3073	The command ""C:\Program Files (x86)\Microsoft Azure Sphere SDK\Sysroots\1\tools\gcc\strip.exe"
--strip-unneeded "C:\Users\\source\repos\\\\\bin\ARM\Debug\\bin\app""
exited with code 1.	AzureSphereVirtualCoffeeMachine	C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\V

[2019-03-12 07:22] bespinfw commented on #52
@sergaz-msft please have a look with me.

I just updated my VS 2017 and also checked that it has nothing with the Hangeul in the path. I tried to create a new Azure Sphere blink Application and get the same error when trying to build the solution.

Please also check my post above for further information, where I missed to mention you.

Microsoft Visual Studio Professional 2017
Version 15.9.8
Visua

[2019-03-12 10:51] theciscokid commented on #52
I was using an organisational account. I switched to a normal windows account and that resolved the issue. My organisational account was showing as <username>(<part of organisation> and I believe it was the bracket in the path causing the issue.
I'm now running a later version of the SDK and have not seen the issue again.

[2019-03-12 14:29] #80 closed

[2019-03-12 14:32] #82 closed

[2019-03-12 15:09] daniel-larsen opened #87 "Power-loss resilience"
Does azure sphere offer power-loss protection for writes to mutable storage?

I understand that azure sphere uses the littlefs file system which does feature power-loss protection. Does this benefit apply to the mutable storage API? If not, what is the recommended approach to ensure the mutable storage file does not get corrupted?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-03-13 08:40] bespinfw commented on #52
@theciscokid thanks for the hint and workaround

@sergaz-msft
I can confirm following situations, independent of the solution path:
- The solutions are building without that error with a local user called 'user'
- The solutions are failing to build with a local user called 'user(something)' and my AAD user 'user(some)'

like thecosokid described it seems to have something to do with the users path

[2019-03-13 10:23] Buttje opened #88 "Missing Features for MT3620, Crypto accelerators, Pluton"
The product brief advertises the Pluton Security Subsystem to provide security for the entire chip, including cryptographic engines and TRNG. I'd like to know which other features are offered, e.g. secure key store, and how I can make use of these features from an A7 normal world application.
Is there any more detailed documentation available about this features and how to use it (e.g. header file

[2019-03-13 11:45] sergaz-msft commented on #52
@bespinfw your windows installation is Korean. If you try a user name with brackets () on an English Windows Installation the issue is still there? I am not sure how to try and repro it - should I just create a username with brackets and try to install the SDK + follow the blink sample?

@theciscokid can you elaborate more? You don't see the issue even when using brackets in the path or username w

[2019-03-13 22:58] bespinfw commented on #52
Yes please try that. For cross checking I also created an additional local user with brackets () in the name and tried to build the blink example. Build error occured immediatly.

[2019-03-18 19:49] #63 closed

[2019-03-18 22:12] #64 closed

[2019-03-18 22:32] #62 closed

[2019-03-19 13:02] jflynn129 commented on #86
chirp, chirp, chirp... goes the crickets.  After waiting for a response and receiving none (as is typical for MSFT) I dug into this further.  the problem is the TAP Driver configuration.  When the SDK was installed, it was installed on a machine that was running on a virtual network (VPN).  The TAP driver incorrectly configured the TAP driver.  specifically, I had the "Cisco AnyConnect VPN client"

[2019-03-19 13:06] jflynn129 commented on #85
I guess no response means:
1) No, there are no plans to support a Linux development environment thus not worthy of an answer
2) No one knew an issue was ever raised asking this question because they don't monitor github issues
3) Looking for someone to translate the question into the correct native language so it can be understood

I think it is interesting that no one can even take 5 seconds to r

[2019-03-19 17:04] sergaz-msft commented on #85
@jflynn129 sorry the delay on this one. Currently you will need a PC running Windows 10 Anniversary Update or later. See the Prerequisites [here](https://docs.microsoft.com/en-us/azure-sphere/install/install).

Please vote for the feature request [here](https://feedback.azure.com/forums/915433-azure-sphere/suggestions/35968183-support-linux-distros) so we can prioritize it :).

Thanks! Let us know

[2019-03-19 17:15] sergaz-msft commented on #86
@jflynn129 sorry for the delay on our answer. We are troubleshooting the issue with you on MSDN. Let's continue there and close it here, as we will have MVPs providing insights if they have seen a similar issue. Adding for reference: https://social.msdn.microsoft.com/Forums/en-US/6e384532-5d4a-412f-b176-996fb74b8e38/failed-to-upgrade-sphere-to-1811?forum=azuresphere

Thanks!

[2019-03-19 17:17] #86 closed

[2019-03-19 20:21] #85 closed

[2019-03-19 22:58] Alberto-Vega-MSFT commented on #84
@muesliman It seems like you resolved your issue?

[2019-03-19 23:02] Alberto-Vega-MSFT commented on #87
@daniel-larsen Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-20 15:21] sergaz-msft commented on #22
@JolleyLama we will proceed and close this case now. If you have opened a feature request please share the link here so others can vote :). Thank you!

[2019-03-20 15:21] #22 closed

[2019-03-20 15:26] sergaz-msft commented on #24
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 15:26] #24 closed

[2019-03-20 15:27] sergaz-msft commented on #26
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 15:27] #26 closed

[2019-03-20 15:34] sergaz-msft commented on #28
@residentx10 sorry the delay answering your question. Please see [here](https://social.msdn.microsoft.com/Forums/en-US/001edc81-7236-4035-b7da-bcd0d910adca/mt3620-arm-cortexm4f-support-when?forum=azuresphere) a related question on MSDN. We will follow-up on that thread when we have more details. You can also reach us by email so we can update you.

Thanks!

[2019-03-20 15:34] #28 closed

[2019-03-20 15:42] AshokPeddakotla-MSFT commented on #29
@residentx10  Sorry for the delay. We have released new updates. Please check the [New features and changes](https://docs.microsoft.com/en-us/azure-sphere/resources/release-notes-1902#new-features-and-changes-in-the-1902-release) and let us know if you need further help on this one. You can also create a feedback item on the [UserVoice](https://feedback.azure.com/forums/915433-azure-sphere) and up

[2019-03-20 15:42] #29 closed

[2019-03-20 15:42] Alberto-Vega-MSFT commented on #27
@baatkarlo I apologize for the super late response. For Future Reference if you come across this issue via internet search. There is a request in User Voice for a solution to this problem https://feedback.azure.com/forums/915433-azure-sphere/suggestions/36123595-setup-wifi-in-field-using-wifi-access-point-instea please upvote so it gets prioritized or create a new entry with your idea.

[2019-03-20 15:46] sergaz-msft commented on #34
Thanks for your feedback @BarryBo.

@pennyo can you please validate what are the strings format supported and enhance the doc with that info?

Thank you!

[2019-03-20 15:48] Alberto-Vega-MSFT commented on #30
@residentx10 I apologize for the super late response.  Can you post this as a feedback @ https://feedback.azure.com/forums/915433-azure-sphere?query=wifi . This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-03-20 15:49] AshokPeddakotla-MSFT commented on #35
@BarryBo Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-20 15:53] sergaz-msft commented on #38
@jwargo sorry the late on this. Let us know if your feedback has been addressed now with the different versions on the documentation since you opened the issue?

Thank you!

[2019-03-20 15:57] Alberto-Vega-MSFT commented on #61
@jrchinchilla Sorry for the delay. I am closing old issues. Closing this one since you were able to resolve it yourself. Thanks for reaching out!

[2019-03-20 15:57] #61 closed

[2019-03-20 15:58] sergaz-msft commented on #39
@jwargo , @viktor-morin thank you for your feedback and sorry for the delay on the follow-up.

I am requesting @pennyo to review if the feedback was addressed and weather we can close this issue as resolved now.

Thank you!

[2019-03-20 16:01] AshokPeddakotla-MSFT commented on #41
@HowardEdidin Sorry for the delayed respoinse. Could you please use the latest version of SDK and let us know if you still see the error message.

[2019-03-20 16:03] AshokPeddakotla-MSFT commented on #42
@HowardEdidin  We hope your issue has been addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 16:03] #42 closed

[2019-03-20 16:04] Alberto-Vega-MSFT commented on #59
Going over unclosed issues @shijiong  Thanks for your valuable feedback!

[2019-03-20 16:04] #59 closed

[2019-03-20 16:04] HowardEdidin commented on #41
I did a complete reinstall and it works now.

[2019-03-20 16:05] AshokPeddakotla-MSFT commented on #41
@HowardEdidin Glad to hear that your issue is resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 16:05] #41 closed

[2019-03-20 16:06] sergaz-msft commented on #45
Hi all,
Before closing this issue @gconz can you please confirm that your issue is now solved?

Thank you!

[2019-03-20 16:09] Alberto-Vega-MSFT commented on #46
@duncanhoggan Going over old issues on this repo. Touching base to se if  you got to resolve this issue?

[2019-03-20 16:11] sergaz-msft commented on #48
Hi @bawilless I know a long time as passed (sorry for that) - I am checking back with you if your feedback was addressed with the new versions of the SDK and the changes done to the documentation since you opened the issue?

Thank you!

[2019-03-20 16:13] sergaz-msft commented on #50
@viktor-morin I know a long time has passed since you opened the issue. Confirming before closing the issue if your feedback was addressed with the new versions of the documentation?

Thank you.

[2019-03-20 16:15] Alberto-Vega-MSFT commented on #83
Hi @joeyjoey1984 I apologize for the delay. Just wanted to touch base and check if you were able to resolve this issue?

[2019-03-20 16:15] AshokPeddakotla-MSFT commented on #54
@viktor-morin We hope your issue has been addressed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 16:15] #54 closed

[2019-03-20 16:18] max1weber commented on #45
Yes,

It is ok

Outlook voor Android downloaden<https://aka.ms/ghei36>

________________________________
From: António Sérgio Azevedo <notifications@github.com>
Sent: Wednesday, March 20, 2019 5:06:37 PM
To: MicrosoftDocs/azure-sphere-issues
Cc: Marc Weber; Comment
Subject: Re: [MicrosoftDocs/azure-sphere-issues] Sample Project Will not build (#45)

Hi all,
Before closing this issue @gconz<https:/

[2019-03-20 16:20] Alberto-Vega-MSFT commented on #75
Hi @mscbpi was your issue resolved?

[2019-03-20 16:20] sergaz-msft commented on #60
@iz4blue @kursatgol thank you for your feedback. Sorry for the delay answering it. Can you please confirm if you are still seeing this issue?

Thanks

[2019-03-20 16:22] Alberto-Vega-MSFT commented on #79
@pgmolloy Just checking if you were able to overcome the issue.

[2019-03-20 16:22] sergaz-msft commented on #66
@aguptadel thank you for your feedback and we are sorry for the delay on our answer.

I believe your feedback was addressed on the new documentation. Can you please confirm before we close the issue?

Thank you!

[2019-03-20 16:26] sergaz-msft commented on #71
@irwincs let us know if you are still blocked or we can now proceed and close this issue? Thank you so much.

[2019-03-20 16:28] AshokPeddakotla-MSFT commented on #69
@moyanming Sorry for the delayed response.  I don't find any suggestions. Please use [this](https://azure.microsoft.com/en-in/services/azure-sphere/) link to get the development kit.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 16:28] #69 closed

[2019-03-20 16:29] sergaz-msft commented on #74
@mscbpi thank you for your feedback. Can you please clarify what is the doc you are following?

Thanks!

[2019-03-20 16:32] sergaz-msft commented on #78
Thank you for your feedback @Imacutekayx . Can you confirm that you are following the steps from [this doc](https://docs.microsoft.com/en-us/azure-sphere/install/overview) in the correct order?

PS ([see here](https://docs.microsoft.com/en-us/azure-sphere/install/create-tenant)):
"
If a tenant already exists, do not create another one unless your company or organization requires more than one tena

[2019-03-20 16:36] AshokPeddakotla-MSFT commented on #81
@GlennMiller The document will be updated as per the suggestions after review.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 16:36] #81 closed

[2019-03-20 16:37] sergaz-msft commented on #88
Thanks for your feedback @Buttje .

@pennyo can you help validate if we have documentation available related with the questions above?

Thank you!

[2019-03-20 16:37] Alberto-Vega-MSFT commented on #58
@viktor-morin For future reference this MSDN thread is asking people to reach out and we will provide an update as soon as we can. https://social.msdn.microsoft.com/Forums/en-US/001edc81-7236-4035-b7da-bcd0d910adca/mt3620-arm-cortexm4f-support-when?forum=azuresphere

[2019-03-20 16:37] #58 closed

[2019-03-20 16:39] Alberto-Vega-MSFT commented on #67
@aguptadel I apologize for the delayed response. I just tested the part of the doc you are pointing out and it worked for me. Were you able to resolve this?

[2019-03-20 16:45] bawilless commented on #48
Hi Sergio,

I just looked at the “claim your device” documentation again, and there’s not any mention of how to recover, or update the OS if your device has an older OS.  Maybe the SDK outputs that detail now?  There is a link to troubleshooting, but there’s no mention in that section either on how to recover your device.

I’m just looking out for a first time user who gets a board with an older O

[2019-03-20 17:15] irwincs commented on #71
The issue is closed.

Thanks,

George

On Mar 20, 2019, at 12:26 PM, António Sérgio Azevedo <notifications@github.com<mailto:notifications@github.com>> wrote:

@irwincs<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Firwincs&data=02%7C01%7C%7Cc3214dad61f54b0cfd8c08d6ad50c4ca%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636886959734558354&sdata=6NPFBZmzUy5PfcBaXf6oTB8

[2019-03-20 17:20] MSSPI commented on #46
Hi,

I still have the issue

Sylvain

Le 20 mars 2019 à 17:10, Alberto Vega <notifications@github.com<mailto:notifications@github.com>> a écrit :

@duncanhoggan<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fduncanhoggan&data=02%7C01%7CSylvain.Piguet%40microsoft.com%7Ca4d2fa85e7804dc4470a08d6ad4e803a%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636886950000505175&sd

[2019-03-20 17:35] sergaz-msft commented on #71
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-20 17:35] #71 closed

[2019-03-20 17:36] pennyo commented on #39
The original formatting error has been fixed.

As for questions about how to change passwords and other input devices, Azure Sphere now supports additional connectivity options, which are described [here](https://docs.microsoft.com/azure-sphere/network/connect-private-network) and [here](https://docs.microsoft.com/en-us/azure-sphere/network/wifi-including-ble). We also provide connectivity samples

[2019-03-21 08:46] sergaz-msft commented on #45
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 08:46] #45 closed

[2019-03-21 08:53] sergaz-msft commented on #48
Thanks for revisiting this @bawilless . You are right we don't reference [here ](https://docs.microsoft.com/en-us/azure-sphere/install/claim-device) how to update the OS though we are trusting that a first-time user would follow the steps in order from [here](https://docs.microsoft.com/en-us/azure-sphere/install/overview). Meaning that they would need to Install the Azure Sphere SDK and set up the

[2019-03-21 10:53] sergaz-msft commented on #88
Thanks @pennyo for syncing with me internally.

@Buttje, we currently don't have documentation related with your request above. We want to onboard your feedback though and for that please let me ask that you open a new feature request [here](https://feedback.azure.com/forums/915433-azure-sphere). Be as much specific as possible on the features needed for your scenario.

Share the link here so othe

[2019-03-21 10:54] sergaz-msft commented on #88
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-21 10:54] #88 closed

[2019-03-22 00:25] Alberto-Vega-MSFT commented on #84
@muesliman Just touching base to make sure you resolved your issue?

[2019-03-22 00:27] Alberto-Vega-MSFT commented on #83
@joeyjoey1984 Thank you for reaching out. I am so sorry we did not get back to you on time. We will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 00:27] #83 closed

[2019-03-22 00:30] Alberto-Vega-MSFT commented on #79
@pgmolloy Closing this thread since we haven't heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 00:30] #79 closed

[2019-03-22 00:32] Alberto-Vega-MSFT commented on #43
@HowardEdidin Closing old issues. I am sorry we didn't get back to you on time. If there are still further questions or comments regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 00:32] #43 closed

[2019-03-22 12:12] muesliman commented on #84
At least it was more a try and error.
But: what I expect, ist that there should be a documentation which baud-rates are really supported.

[2019-03-22 20:36] pennyo commented on #84
@muesliman We will add this information in a future release of the documentation.

[2019-03-22 20:38] pennyo commented on #87
@daniel-larsen Great question. We plan to address this in an update of the documentation.

[2019-03-22 20:59] pennyo commented on #50
@viktor-morin My apologies as well for failure to respond sooner. The diagram answered the question well. We are planning changes to the component/image/image set documentation for a future release.

[2019-03-22 21:06] pennyo commented on #48
@bawilless As @sergaz-msft  says, we assume that someone with a new board follows the instructions in order, and that someone with a board that is already in use will start with the [Release Notes](https://docs.microsoft.com/en-us/azure-sphere/resources/release-notes-1902) for the current release, as  linked in the release announcement. We welcome your feedback on how to make this clearer to our a

[2019-03-22 21:29] bawilless commented on #48
Looks like you have it covered.  Thanks,

Brian

Brian Willess

brian.willess@avnet.com<mailto:%20brian.willess@avnet.com>

Technical Solutions Engineer

Engineering & Technology

[http://digital.avnet.com/signature/images/Avnet_logo_tagline_rgb.png]

1672 W. Flintlock Way

Chandler AZ, 85286

O 480.534.6041

avnet.com<http://www.avnet.com/>

From: Penny Orwick [mailto:notifications@github.com]
Se

[2019-03-22 23:01] Alberto-Vega-MSFT commented on #27
@baatkarlo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 23:01] #27 closed

[2019-03-22 23:02] Alberto-Vega-MSFT commented on #30
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-22 23:02] #30 closed

[2019-03-22 23:34] Alberto-Vega-MSFT commented on #57
@Knight21024 Going over old issues. Just wanted to touch base and see if you were able to overcome this issue?

[2019-03-23 00:05] Alberto-Vega-MSFT commented on #67
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-23 00:05] #67 closed

[2019-03-23 00:05] Alberto-Vega-MSFT commented on #75
@mscbpi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-23 00:05] #75 closed

[2019-03-24 20:34] piercalderan commented on #62
When compiling, in the output pane it shows:
MSB3073	uscita dal comando "%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\powershell.exe -ExecutionPolicy Bypass -NoProfile -NonInteractive -File "C:\Users\pier\Desktop\azure-sphere-samples-master\Samples\AzureIoT\AzureIoT\script\validate_manifest.ps1
:VCEnd" with code 1.	AzureIoT	C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\

[2019-03-25 09:47] viktor-morin commented on #50
Thanks, I was happy with the answer at that time! :)

[2019-03-25 13:50] Alberto-Vega-MSFT commented on #87
@daniel-larsen Thanks for your valuable feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 13:50] #87 closed

[2019-03-25 13:52] Alberto-Vega-MSFT commented on #84
@muesliman Thanks for your feedback! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-25 13:52] #84 closed

[2019-03-25 15:23] Alberto-Vega-MSFT commented on #46
@MSSPI based on this comment https://github.com/MicrosoftDocs/azure-sphere-issues/issues/46#issuecomment-438221948 and that no one is reporting this issue anymore. Have you tried updating the tooling?  (Visual Studio and Azure Sphere SDK for Visual Studio?)

[2019-03-26 00:45] sergaz-msft commented on #48
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-26 00:45] #48 closed

[2019-03-26 00:51] sergaz-msft commented on #50
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-26 00:51] #50 closed

[2019-03-26 01:29] sergaz-msft commented on #62
@piercalderan we are following-up with you here: https://github.com/Azure/azure-sphere-samples/issues/32

Thanks!

[2019-03-26 15:13] duncanhoggan commented on #46
@Alberto-Vega-MSFT All good for me now. I'm happy to close, if @MSSPI is all good.

[2019-03-26 19:01] Alberto-Vega-MSFT commented on #46
Thanks @duncanhoggan @MSSPI Please let me know if after updating you still have the issue. See https://github.com/MicrosoftDocs/azure-sphere-issues/issues/46#issuecomment-438221948

[2019-03-28 00:00] Alberto-Vega-MSFT commented on #46
Hi @MSSPI Just reaching out to see if you have any updates?

[2019-03-28 08:04] MSSPI commented on #46
Hi,

I’ve updated VS2017, redownloaded the installer and I still have the same error

[cid:image001.jpg@01D4E545.4A841020]

Sylvain
De : Alberto Vega <notifications@github.com>
Envoyé : jeudi 28 mars 2019 01:00
À : MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc : Sylvain Piguet <Sylvain.Piguet@microsoft.com>; Mention <mention@noreply.github.com>
Objet : Re: [Microsof

[2019-04-01 14:41] sergaz-msft commented on #46
@MSSPI on the logs that you shared I couldn't find the Error 0x800707d3 . Can you please confirm that your issue is exactly as described by @duncanhoggan ?

`[A3E8:AC84][2018-10-16T08:32:24]i304: Verified existing payload: SlipService at path: C:\ProgramData\Package Cache{925475A6-5739-4477-93C1-FBC8361A90E8}v2.0.2.45571\packages\SlipService\Azure Sphere Device Communication Service.msi.
[A3E8:347

[2019-04-01 14:54] MSSPI commented on #46
Hi,

I don’t know which issue I’m facing.

What I can tell is that I’m unable to install the SDK for month and I have the issue 0x80131500 – Unspecified Error during install (please see the screenshot in my previous email)

Sylvain

De : António Sérgio Azevedo <notifications@github.com>
Envoyé : lundi 1 avril 2019 16:41
À : MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>

[2019-04-01 15:28] sergaz-msft commented on #46
Thanks for confirming @MSSPI . I hope you can understand that the issue reported here and yours are not related with a document and we want to make sure that others can find it on the proper place.

I will kindly request that you identify the documentation that you are following (step-by-step) and open an issue against it (scrolling down to the bottom of the page and opening a new "Content feedbac

[2019-04-01 15:28] #46 closed

[2019-04-02 22:43] toolboc opened #89 "Improper Header notation in SPI Documentation"
The current [Azure Sphere SPI documentation](https://docs.microsoft.com/en-us/azure-sphere/app-development/spi) contains an error in the [Header files section](https://docs.microsoft.com/en-us/azure-sphere/app-development/spi#header-files).

[code]

should be:

[code]

as the former notation does not properly resolve in Visual Studio.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-04-03 04:21] AshokPeddakotla-MSFT commented on #89
@toolboc Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-08 11:29] sergaz-msft commented on #38
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 11:29] #38 closed

[2019-04-08 11:30] sergaz-msft commented on #60
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 11:30] #60 closed

[2019-04-08 11:30] sergaz-msft commented on #66
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 11:30] #66 closed

[2019-04-08 11:30] sergaz-msft commented on #74
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 11:30] #74 closed

[2019-04-08 11:31] sergaz-msft commented on #78
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 11:31] #78 closed

[2019-04-08 11:32] sergaz-msft commented on #39
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 11:32] #39 closed

[2019-04-10 15:05] pennyo commented on #89
We will correct this in an upcoming release of the documentation.

[2019-04-15 18:40] al9419 opened #90 "can't use Device Explorer"
I tried to reopen Device Explorer a few times, it stills shows it. After I close the error window, there is no sensor ID I can choose, it totally empty.

<img width="498" alt="Capture" src="https://user-images.githubusercontent.com/48025247/56156634-08dcd700-5f94-11e9-84ad-898eaa75e755.PNG">

Here's the output I got from Visual Studio
<img width="393" alt="Capture1" src="https://user-images.github

[2019-04-16 01:29] Alberto-Vega-MSFT commented on #90
@al9419 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 14:08] sergaz-msft commented on #52
Sorry the late @bespinfw . I was also able to reproduce the issue and will now raise this up internally. Thanks for your patience!

[2019-04-17 04:06] ninosarmiento opened #91 "Incorrect enum identifier in example"
the typedef enum identifier should be WifiConfig_Secuirity instead of GPIO_OutputMode;

typedef enum {
    WifiConfig_Security_Unknown = 0,
    WifiConfig_Security_Open = 1,
    WifiConfig_Security_Wpa2_Psk = 2
} **_GPIO_OutputMode;_**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a13d196b-4cd8-12b9-a8a0-08e020307fe2

[2019-04-17 17:24] Karishma-Tiwari-MSFT commented on #91
@ninosarmiento
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-17 23:28] Alberto-Vega-MSFT commented on #90
@al9419 Sorry for the delay were you able to overcome this issue?

[2019-04-18 15:57] al9419 commented on #90
No, the issue is still there.

[2019-04-18 23:36] Alberto-Vega-MSFT commented on #90
@al9419  Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-04-18 23:38] Alberto-Vega-MSFT commented on #91
@ninosarmiento Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-19 19:25] Alberto-Vega-MSFT commented on #90
Hi @al9419  If you haven't created the support ticket please follow the instructions on the previous email. If you already did. Would you please share the support case number in an email to the address I shared with you?

[2019-04-19 19:27] Alberto-Vega-MSFT commented on #90
I will be closing this issue for now since  we wil continue the conversation via email.

[2019-04-19 19:27] #90 closed

[2019-04-29 19:50] pennyo commented on #52
We have updated the online documentation to add this information.

[2019-04-29 19:50] #52 closed

[2019-05-06 12:15] simon-jun opened #92 "IoT Hub Sample. Failed to connect to Iot Hub."
I tried to get the IoT Hub Sample Application to work. So i followed all the steps. I set up a IoT hub and DPS and linked them successfully. After that i created an enrollment group. Then I added my device to the IoT Hub via Visual Studio as described. I selected the correct DPS.
Running the sample application now gives out the following error, you can also see in the picture:
[Azure IoT] IoTHubDe

[2019-05-06 14:03] sergaz-msft commented on #91
@pennyo can you have a look at this? Thank you!

[2019-05-06 14:50] pennyo commented on #91
Good catch! We'll fix this in the next update of the documentation.

[2019-05-06 15:06] sergaz-msft commented on #92
Thanks for reporting this @simon-jun . I need to map this issue with a specific doc. Can you confirm [this is the one](https://docs.microsoft.com/en-us/azure-sphere/app-development/azure-iot-sample) you are following? And in what step did it fail?

Also I need to ask if you followed the Prerequisites?

- Connect your Azure Sphere device to your PC and to a Wi-Fi network.
- Run azsphere device prep

[2019-05-06 16:17] simon-jun commented on #92
Yes that's the one I am following. I did the prerequisites. As I said I created a DPS and linked it to my existing IoT hub via steps 1-5. The status in my certificate exporer says it's verified.

The failure occurs at the step:"To prepare the sample code"...F5 to build and run.

In my output window you can see, that everything works except the connection to the iot hub.

[2019-05-06 21:23] sergaz-msft commented on #92
Thanks for confirming it @simon-jun . Can you also please confirm that your network meets these requirements?: https://docs.microsoft.com/en-us/azure-sphere/network/ports-protocols-domains

Thank you!

[2019-05-07 08:23] simon-jun commented on #92
No ports are blocked in the network.
Do I need to setup port forwarding?

[2019-05-07 10:50] sergaz-msft commented on #92
Can you try it on a different network? Thanks

[2019-05-07 17:16] Olee25 commented on #92
Had the same issue, my application was working fine one day then the next day it just stopped beeing able to connect to both iot central and iot hub (both where tested and worked fine before). Got the following message returned:

[2019-05-08 07:55] simon-jun commented on #92
Using a different network actually worked, but i still don't know what's the issue on my first network. I'll look into it and report back when i have some news.

[2019-05-08 16:49] sm1th opened #93 "Continuity error"
Hi there, the following paragraph does not make sense as it is:

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a13b5723-67c1-ebd8-5ae1-3c76f94cd5d3
* Version Independent ID: 14bd3533-ecd2-c30c-9132-d78bd8ca7ea1
* Content: [Deployment basics - Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/deploymen

[2019-05-08 17:14] pennyo commented on #93
Thank you for your feedback.
You're right; looks like some words got lost along the way. We'll fix it in the next doc release.

[2019-05-09 07:06] sergaz-msft commented on #92
@Olee25 is it working now? @simon-jun my suggestion is that next time this happens please open a support ticket on azure portal so that we can look at Server Side Logs for both DPS, IoTHub and Azure Sphere.

Thanks!

[2019-05-09 14:28] Olee25 commented on #92
Ye, seems to be working fine now.

[2019-05-09 14:53] sergaz-msft commented on #92
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 14:53] #92 closed

[2019-05-09 18:41] sm1th commented on #87
@Alberto-Vega-MSFT @pennyo we are having issues restoring correct values from the mutable file after power loss, and would like to have an update on this.

Cheers!

[2019-05-14 18:59] niheinba commented on #93
Do we know when that will be released?

[2019-05-23 17:11] pennyo commented on #84
This information is available in the documentation here:
[Use UART](https://docs.microsoft.com/en-us/azure-sphere/app-development/uart)

[2019-05-28 15:06] rickeycv opened #94 "WIFI RSSI problem"
Hi,
I'm trying to get RSSI level using this function but I always get RSSI = 0. Is there a problem with the API?
When I call "azsphere device wifi scan" in the command prompt window I can get signal levels without problems.
Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12330c3e-8ed0-61f1-21c1-4338cd

[2019-05-28 16:36] Alberto-Vega-MSFT commented on #94
@rickeycv Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 12:54] sergaz-msft commented on #94
Hi @rickeycv is this the same issue as the one reported on MSDN? https://social.msdn.microsoft.com/Forums/en-US/0c9b56ee-4498-423f-9f31-c71363f73e30/api-bug-wificonfiggetcurrentnetwork-function-always-returns-rssi-value-of-zero-via?forum=azuresphere

Thanks!

[2019-05-29 13:32] rickeycv commented on #94
The returned value of WifiConfig_GetCurrentNetwork function is zero of course, that is why I can get SSID and Frequency without problems. The problem is in the pointer to WifiConfig_ConnectedNetwork struct, one of the fields of WifiConfig_ConnectedNetwork struct is the RSSI value, which always is zero. WifiConfig_TriggerScanAndGetScannedNetworkCount() and WifiConfig_GetScannedNetworks() functions

[2019-05-29 13:44] sergaz-msft commented on #94
Sorry for the misunderstanding and thanks for providing more details.
I will check on my side if I have the same behavior. In the meantime please let us know the SDK and OS Version?

- azsphere show-version

- azsphere device show-ota-status

Thanks,

[2019-05-29 14:06] rickeycv commented on #94
azsphere show-version:
19.02
azsphere device show-ota-status:
19.04

Thanks.

[2019-05-29 14:48] pennyo commented on #35
Thanks, Barry. This item is on our backlog.

[2019-05-29 14:48] #35 closed

[2019-05-29 14:49] pennyo commented on #34
Thanks, Barry. This item is on our backlog.

[2019-05-29 14:49] #34 closed

[2019-05-29 17:26] sergaz-msft commented on #94
Thank you! I was also able to repro this issue on 19.04. I checked with Product Group and this is known. I am now trying to confirm if it is fixed on 19.05. If you can report the RSSI value on a D2C message to Azure IoT can you test it using the Eval Feed with 19.05 version? The reason I ask you to test it with Azure IoT is because you can't debug a device with an Eval Feed on it.

Thanks

[2019-05-29 21:43] rickeycv commented on #94
Thank you, I was testing my code using Eval Feed with 19.05 version and now I am able to get the RSSI value. When 19.05 version is going to be released?

[2019-05-30 10:18] sergaz-msft commented on #94
Glad that you could verify that the bug is fixed on 19.05 version. As explained [here](https://docs.microsoft.com/en-us/azure-sphere/deployment/deployment-microsoft-feeds) The Retail Evaluation Azure Sphere OS feed provides OS software **14 days before** its release to the Retail Azure Sphere OS feed. Therefore the Retail feed should be receiving the new version between today or tomorrow.

Thanks!

[2019-05-30 10:18] sergaz-msft commented on #94
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 10:18] #94 closed

[2019-05-30 18:16] kyleswinney opened #95 "Unclear what "is not associated" means"
Section - Check the TAP-Windows adapter configuration
Step 2 - In Device Manager, open Network Adapters and select TAP-Windows adapter:
Text - "If you see more than one TAP adapter, or if you see only one TAP adapter but it is not associated with the Azure Sphere device,"

The phrase "associated with" is unclear.

After review of my system, I'm guessing it means the TAP - Windows Adapter is titled

[2019-05-30 18:45] kyleswinney opened #96 "RSS is uncommon, consider alternate technologies"
I can't remember the last time I subscribed to an RSS feed. I'm betting I'm in the majority. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3204f0e0-78f1-405b-9509-9a3adf282925
* Version Independent ID: b63ae29e-d7ec-42d7-bb91-20f7cc33a1d5
* Content: [Azure Sphere notifications](https://docs.microsoft.com/en-us/azur

[2019-05-30 19:29] kyleswinney opened #97 "Error " A component with the same name ('Mt3620Blink1') already exists." after Quickstart: Blink tutorial"
Executing the command...
azsphere device link-feed --dependentfeedid 3369f0e1-dedf-49ec-a602-2aa98669fd61 --imagepath "C:\Users\kswinney\source\repos\Mt3620Blink1\Mt3620Blink1\bin\ARM\Debug\Mt3620Blink1.imagepackage" --newfeedname kswinneyFeedBlink
Getting the details for device with ID '25E9B57D70E4B2E1D5622AEEB3E8A4A5CF13C2EDFC327861A6AE04751282E49793BC9E68506F2FC4603C7834529F0D9F6DB7818DEA2AFE1

[2019-05-30 21:29] pennyo commented on #89
This has been corrected in today's documentation release. Closing the issue.

[2019-05-30 21:29] #89 closed

[2019-05-30 21:30] pennyo commented on #91
Fixed in today's 19.05 documentation release. Closing this issue.

[2019-05-30 21:30] #91 closed

[2019-05-30 21:32] pennyo commented on #93
We've just published the documentation for our 19.05 release. This has been fixed. Closing the issue.

[2019-05-30 21:32] #93 closed

[2019-05-31 01:29] BryanTrach-MSFT commented on #95
@kyleswinney Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 01:34] BryanTrach-MSFT commented on #97
@kyleswinney Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 09:28] sergaz-msft commented on #96
Thank you for your feedback @kyleswinney . As of today, all Azure Updates are posted [here](https://azure.microsoft.com/en-us/updates/) and exposed on an RSS feed. Please kindly add a new feature request [on uservoice](https://feedback.azure.com/forums/34192--general-feedback) with your suggestion for alternative methods :). Let us know the link when you do it, so others can vote as well.

Thanks!

[2019-05-31 09:29] sergaz-msft commented on #96
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-31 09:29] #96 closed

[2019-05-31 11:19] sergaz-msft commented on #95
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-31 11:22] sergaz-msft commented on #97
Thanks for the feedback @kyleswinney , I believe another alternative is that you change the Name and the ComponentId on "app_manifest.json" . @pennyo can we add a note on the doc for that?

Thanks!

[2019-05-31 12:24] PaulDFoster opened #98 "Request MT3620 M4 data sheet incorrect"
The aka.ms/mt3620-m4-datasheet URL isn't live or implemented.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd75646-48be-ac9d-9c7b-72e7b37cc2af
* Version Independent ID: e82f57e8-7c97-4e66-23bc-2993ffa9e3e8
* Content: [Use peripherals in a real-time capable  application - Azure Sphere](https://docs.microsoft.com/en-g

[2019-05-31 12:29] jonasbark opened #99 "Azure Sphere IOT Hub Sample Doc returns 404"
https://docs.microsoft.com/de-de/azure-sphere/app-development/azure-iot-sample
returns a 404. It's linked in e.g. https://docs.microsoft.com/de-de/azure-sphere/app-development/azure-iot#using-iot-hub

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: ed0e4594-2b67-cf34-2f18-fa0a58145bb1
* V

[2019-05-31 15:36] pennyo commented on #99
Thank you for the feedback. We will fix the link in a doc update as soon as we can.

The Azure IoT sample is now available in the [Azure Sphere Samples repo on GitHub](https://github.com/Azure/azure-sphere-samples/tree/master/Samples/AzureIoT).

[2019-05-31 15:40] pennyo commented on #98
Thank you for the feedback. We will fix the link as soon as we can.

You can request the datasheetfrom Avnet by emailing Azure-Sphere@avnet.com.

[2019-05-31 15:44] PaulDFoster commented on #98
Hi Penny,

My email to Avent just got bounced too ☹

Cheers
Paul

PAUL FOSTER
Commercial Software Engineering
Senior Software Engineer | Microsoft UK
t: +44 (0)118 909 3838| m: +44 (0)7802 881926  e:paulfo@microsoft.com
____________________________________________________________________________________
Microsoft Limited (company number 01624297) is a company registered in England and Wales whose

[2019-05-31 19:06] pennyo commented on #98
We've updated the documentation with the correct email address and confirmed that it is live. We will proceed to close this issue now.

[2019-05-31 20:37] kyleswinney commented on #97
CC my Microsoft email

Yep…I solved the problem before I wrote the feedback just to make sure I had it right. My next step was to try a rename and modify the manifest. I appreciate you confirming.

BTW…that you guys are responding to feedback is awesome. Also, my only intention is to improve the Azure Sphere docs. This product is awesome!

…Kyle

PS…I’m open to Technical PM opportunities where I’d

[2019-06-03 19:54] TAMHAN commented on #56
Hello,
please let me report that I have the same issue on Visual Studio 2019 when working with the very latest SDK.

[2019-06-04 16:30] #98 closed

[2019-06-05 16:59] gus-ghielec opened #100 "writing to flash"
Our program needs to retain some info in flash. Can the M4 write to flash?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d869ddd-8dfb-d767-8bc5-ecdd16711d34
* Version Independent ID: a121d5cc-02d3-d8b8-fbe8-72842cd75be9
* Content: [Manage memory and latency considerations - Azure Sphere](https://docs.microsoft.com/en

[2019-06-05 18:54] Alberto-Vega-MSFT commented on #100
Hi Thanks for reaching out. Please read this doc if you haven't yet:

[Using storage on Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/app-development/storage)

[Memory available for high-level applications](https://docs.microsoft.com/en-us/azure-sphere/app-development/application-memory-usage)

[2019-06-05 19:38] gus-ghielec commented on #100
Thanks I have seen those but what I need is to have access to writing to the flash memory form within a program running on the M4.

Assume a program running on the M4 that needs to store some parameters on flash, like calibration data. The A7 has "mutable storage" but there is no such thing (or similar) for the M4.

[2019-06-05 19:43] pennyo commented on #100
@gus-ghielec Information about memory use for M4 programs is here:
https://docs.microsoft.com/en-us/azure-sphere/app-development/memory-latency

[2019-06-05 19:48] gus-ghielec commented on #100
Maybe I am not explaining this enough! I am not finding anywhere on any docs, not even the datasheet we received under NDA, that shows how a program running on the M4 can write on the internal flash.

void mainRunningOnM4()
{
    WriteToFlash(adddress, CalibrationData);
}

[2019-06-05 22:37] pennyo commented on #100
@gus-ghielec The M4 cores don't have write access to flash. If you need to store peristent data from the M4, the app can send the data to the A7 app, which can use the mutable storage API to write it to flash.

[2019-06-05 23:46] gus-ghielec commented on #100
@pennyo then an app on the A7 is needed as a gateway to write mutable storage but then can this storage be accessed directly by the M4 or we would also need to use the A7 as a gateway to read the flash that was written through mutable storage?

[2019-06-06 14:45] sergaz-msft commented on #56
Hi @TAMHAN  can I kindly ask you to open a new issue and we follow-up from there? Thanks.

[2019-06-06 15:23] Thoemmeli opened #101 "Hardware Target not shown in VS 2019"
Hardware Target fields are not shown in Visual Studio 2019. On the very same PC they are indeed shown in VS 2017. I do run VS 2019 Enterprise Version 16.0.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c8fe303-324f-149e-d664-95b3f335bbb0
* Version Independent ID: 98bfc861-2906-8225-455c-573035403312
* Content: [Targ

[2019-06-06 16:04] Alberto-Vega-MSFT commented on #101
@Thoemmeli Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 16:19] sdrasnin-microsoft opened #102 "missing information for those new to visual studio"
The instructions on this page say to open up the Blink template, but doesn't give enough information for new people on how to do this.  I think it should instruct people to start Visual Studio, select "create a new project" (choose a project template) and then search for the Azure Blink template. That way new people don't have to hunt for the UI to do this and/or don't have to google it.

---
####

[2019-06-06 20:26] sdrasnin-microsoft opened #103 "output of azure device image list-installed is possibly truncated?"
when I run this command, the image name is listed as "AzureSphereBlin" instead of "AzureSphereBlink1".  Why is it truncated? I searched the project files and don't see this truncation in project files.

BTW, the documentation is great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e04f52b-e1a2-44ae-1102-efb2e2096731

[2019-06-06 20:27] sdrasnin-microsoft opened #104 "truncated (?) output"
when I run this command, the image name is listed as "AzureSphereBlin" instead of "AzureSphereBlink1". Why is it truncated? I searched the project files and don't see this truncation in project files.

BTW, the documentation is great!
I forgot to paste in the command line output in my previous post:
C:\Users\sdrasnin\Documents&gt;azsphere device image list-installed
Installed images:
 --&gt; Azure

[2019-06-07 00:43] Alberto-Vega-MSFT commented on #104
@sdrasnin-microsoft Thanks for reaching out. Would you please provide more detail about this issue?

[2019-06-07 00:47] Alberto-Vega-MSFT commented on #103
Closing this post since it is meant to be part of https://github.com/MicrosoftDocs/azure-sphere-issues/issues/104

[2019-06-07 00:47] #103 closed

[2019-06-07 00:50] Alberto-Vega-MSFT commented on #102
@sdrasnin-microsoft Thanks for providing your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-11 17:04] pennyo commented on #100
@gus-ghielec The M4 app has access only to the part of flash where its own ELF is--and that excludes the area where mutable storage might be. So your M4 app would still need to go through the A7 to read anything written in mutable storage.

[2019-06-12 15:27] AshokPeddakotla-MSFT commented on #104
@sdrasnin-microsoft Thanks you for reporting this issue. We are able to repro the issue.

![image](https://user-images.githubusercontent.com/44426435/59364511-964e6480-8d54-11e9-98d9-c336a4a26867.png)

We are checking on this issue internally and will update as earliest.

[2019-06-12 16:06] Alberto-Vega-MSFT commented on #101
@Thoemmeli would you please try to update Visual Studio to VS 2019 16.04

[2019-06-12 20:20] Alberto-Vega-MSFT commented on #104
@sdrasnin-microsoft Thanks again for the feedback we will be tracking this internally so we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-12 20:20] #104 closed

[2019-06-12 20:38] #101 closed

[2019-06-14 22:16] rickeycv opened #105 "Is there a way to handle CS externally?"
I mean, I want to use three SPI devices with the same SPI bus, but in the SPIMaster_Open() function you have to specify the ChipSelect ID and when you write using SPI, it automatically clear and set this pin. Is there a way to disable "automatic mode" of CS and do it manually with another GPIO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-06-15 00:32] Alberto-Vega-MSFT commented on #105
@rickeycv Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-16 02:08] #100 closed

[2019-06-17 15:32] sergaz-msft commented on #97
Thank you so much @kyleswinney :). We have taken your feedback and will add a note on the doc on the next release happening soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-17 15:32] #97 closed

[2019-06-17 15:35] sergaz-msft commented on #95
Hi @kyleswinney we will change the document text to the following on our next release happening soon:

"If you see more than one TAP adapter, or if you see only one TAP adapter but its name is not Azure Sphere, follow these steps to uninstall all TAP adapters and reinstall the SDK. If you see no TAP adapters, reinstall the SDK."

Thank you so much for your feedback!

We will now proceed to close t

[2019-06-17 15:35] #95 closed

[2019-06-19 06:03] AshokPeddakotla-MSFT commented on #99
@pennyo Just checking in to see if there is any update on this issue so that it can be closed.

[2019-06-19 15:22] pennyo commented on #99
Hi Ashok-
This is a localization issue; it appears in the German docs but not in the source docs. I’m following up off-line with you and our loc contact.
-Peny

From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Wednesday, June 19, 2019 12:03 AM
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: Penny Orwick <Penny.Orwick@microsoft.com>; Mention <mention@no

[2019-06-20 06:19] #99 closed

[2019-06-20 06:19] AshokPeddakotla-MSFT commented on #99
@jonasbark The documentation has been updated with the correct link. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-20 17:10] pennyo commented on #102
@sdrasnin-microsoft In today's doc update, we've added links to Visual Studio tutorials for those who are new to it. Azure Sphere development is supported on Visual Studio Enterprise, Professional, and Community, along with multiple versions within those editions, so the Visual Studio documentation is the best place to find information for new users.

[2019-06-20 19:41] pennyo commented on #102
Closing this issue.

[2019-06-20 19:41] #102 closed

[2019-06-21 20:47] jeffgar opened #106 "Mass production"
My understanding is that the recover command should not be used for mass production.  Can a clarification be added regarding when recover should be used and also a suggested alternative for mass production?

Thanks,
Jeff

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 748c2974-e65b-3d06-3198-5a15dce0435b
* Version Indep

[2019-06-21 22:28] Alberto-Vega-MSFT commented on #106
@jeffgar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-21 23:32] Alberto-Vega-MSFT commented on #105
@rickeycv I raised your issue internally. Also assigned the issue to content author.

[2019-06-22 14:16] xiongyu0523 opened #107 "Document error"
" Visual Studio integrated development environment (IFE) ", should be IDE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0be310e-4cea-4cb7-3fad-578140c35e0a
* Version Independent ID: a61988d8-f1c9-e283-b071-5cc024c42ca1
* Content: [Overview of Azure Sphere applications](https://docs.microsoft.com/en-us/azure-sphere/a

[2019-06-24 05:40] AshokPeddakotla-MSFT commented on #107
@xiongyu0523 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-24 14:23] sergaz-msft commented on #106
@jeffgar please take a look at [Manufacturing connected devices doc](https://docs.microsoft.com/en-us/azure-sphere/hardware/manufacturing-guide) (it covers mass production) and let us know if it answers your questions?

Thanks!

[2019-06-26 22:47] Auticons1 opened #108 "Dead link"
The hyperlink "Connecting Ethernet adapters to the MT3620 development board" right under section "Hardware instructions" no longer works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3781077-8806-0de8-85c1-a0e08b3abe8c
* Version Independent ID: f53b30fb-3874-c03e-bb5e-ab194b15fc53
* Content: [Connect Azure Sphere to

[2019-06-26 22:50] Auticons1 opened #109 "Reference to wrong app"
The third bullet point under section "Link the device to a feed" should mention Blink app instead of HelloWorld.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e04f52b-e1a2-44ae-1102-efb2e2096731
* Version Independent ID: 004091d7-2e9e-9074-98b9-b1c364f8603a
* Content: [Deploy your first application quickstart - Azure

[2019-06-27 09:05] sergaz-msft commented on #106
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-27 09:05] #106 closed

[2019-06-27 09:31] sergaz-msft commented on #108
Thanks for reporting this @Auticons1 . The new link should be: https://github.com/Azure/azure-sphere-samples/blob/master/Hardware/mt3620_rdb/EthernetWiring.md

@pennyo can we fix the doc? Thank you!

[2019-06-27 09:33] sergaz-msft commented on #109
Thanks for reporting this @Auticons1 .

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-27 19:17] ozhernan opened #110 "broken link"
this link is broken

and the Hardware/README.md file in

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d195d27b-e2ea-6583-7d6d-b33c8392c6bf
* Version Independent ID: 59e2ee21-3862-58f0-be3a-16313d0e1251
* Content: [Release Notes 19.05](https://docs.microsoft.com/en-us/azure-sphere/resources/release-notes-1905#feedback)

[2019-06-28 05:33] RohitMungi-MSFT commented on #110
@ozhernan Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-06-28 12:50] sergaz-msft commented on #110
Thank you for reporting it @ozhernan . [This](https://github.com/Azure/azure-sphere-samples/blob/master/Hardware/README.md) is the new link.

@pennyo can we have it fixed in the doc? Thanks!

[2019-07-01 17:43] richardtaylorrt commented on #105
@rickeycv - you can use the regular POSIX read() and write() functions to avoid any 'automatic' CS behaviour.  You can pass these functions the file-descriptor (fd) returned when opening a SPI interface (for either 'A' or 'B' CS, it doesn't matter in this case).  As you suggest, you can then surround these write() and read() calls with additional calls to manually drive a separate 'C' CS using a G

[2019-07-01 20:11] rickeycv commented on #105
Currently i'm using POSIX read() and write() for SPI and they automatically control CS pin. I can't control it externally.

Thanks.

[2019-07-01 23:54] ozhernan commented on #108
documentation has not been updated

[2019-07-02 15:56] pennyo commented on #107
Fixed, verified, and closed.

[2019-07-02 15:56] #107 closed

[2019-07-02 15:57] pennyo commented on #108
Fixed, verified, and closed.

[2019-07-02 15:57] #108 closed

[2019-07-02 15:57] pennyo commented on #109
Fixed, verified, and closed.

[2019-07-02 15:57] #109 closed

[2019-07-02 15:58] pennyo commented on #110
FIxed, verified, and closed.

[2019-07-02 15:58] #110 closed

[2019-07-03 00:50] dbut019 opened #111 "Error 0x80131500 when installing Azure Sphere SDK"
Install is failing on a machine with:

**Windows 10 build 17134.rs4_release.180410-1804
Visual Studio 2019 Version 16.1.5
MT3620 device connected to USB port**

Full install log:

[4D80:4FF4][2019-07-03T12:26:10]i001: Burn v3.11.0.1701, Windows v10.0 (Build 17134: Service Pack 0), path: C:\Users\dbutters\AppData\Local\Temp\{DCAAC5C9-C3B8-4962-8AC2-E00F865EE8C1}\.cr\Azure_Sphere_SDK_Preview_for_Vis

[2019-07-03 01:24] dbut019 commented on #111
Resolved - this was a failure originating from a failed install of Azure Compute Emulator 2.9.1. Manually uninstalling this and installed 2.9.6 allowed the Sphere SDK install to complete.

[2019-07-03 01:24] #111 closed

[2019-07-05 08:19] richardtaylorrt commented on #105
Thanks.  Yes, you're correct that read() and write() will still automatically change the CS pins.

So an alternative suggestion is to not attach anything to the CS pins at all.  Instead, you could pick 3 separate GPIOs - e.g. GPIO0, GPIO1, GPIO2.  Here's a pseudocode example:

[code]

[2019-07-05 18:49] ozhernan opened #112 "broken link"
the link in this line is broken

The README.md file describes how to change the hardware target for the samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d195d27b-e2ea-6583-7d6d-b33c8392c6bf
* Version Independent ID: 59e2ee21-3862-58f0-be3a-16313d0e1251
* Content: [Release Notes 19.05](https://docs.microsoft.com/

[2019-07-05 23:30] Alberto-Vega-MSFT commented on #112
@ozhernan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-06 00:14] Alberto-Vega-MSFT commented on #112
@pennyo Would you please review the PR with the url change? Thanks!

[2019-07-06 16:12] rickeycv opened #113 "I cannot delete a temporary image"
Hello, I built and added the image as temporary, after, I downloaded the image to the device, but when I try to delete it, I can't do it and I get the following error:
error: Could not delete component '0da14a9e-b294-4511-84b2-ba6e36ace0a2': Operation not permitted; application development capability is required ('azsphere.exe device prep-debug').

Do you have any advice?

Thanks.

---
#### Docume

[2019-07-07 02:20] DixitArora-MSFT commented on #113
Hi @rickeycv Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-08 16:04] bawilless opened #114 "Avnet Azure Sphere Starter Kit does not work with the Ethernet examples (new hardware configuration build required)"
The Issue

The current Ethernet implementation requires that the user side load a special hardware imagepackage to the device as documented here.  This package configures the Sphere Hardware and OS to use the ENC28J60 Ethernet device on interface ISU0 with GPIO 5 to expose eth0 on the board.  This hardware configuration works fine with the Seeed board, since these interfaces are available on the h

[2019-07-08 16:34] AshokPeddakotla-MSFT commented on #113
@rickeycv We are aware of this issue and product team is actively working on the fix. Appreciate your patience in this matter.

[2019-07-08 17:08] rickeycv commented on #105
Yes, that could be a temporal solution but you are wasting one pin. Do you plan to modify API in order to disable CS "automatic control"?

Thanks.

[2019-07-08 19:23] Alberto-Vega-MSFT commented on #114
@bawilless Thanks for the detailed and actionable feedback! We are currently investigating and will update you shortly.

[2019-07-08 20:50] Alberto-Vega-MSFT commented on #112
@ozhernan Closing this issue since the fix has been merged.

[2019-07-08 20:50] #112 closed

[2019-07-10 14:36] sergaz-msft commented on #105
Hello @rickeycv let us kindly ask you to open a new feature request on azure sphere feedback forum [here](https://feedback.azure.com/forums/915433-azure-sphere). As this is out of the scope of this doc we will close the issue and follow-up with you on the feedback forum. Please share the link when you do so.

Thank you! :)

[2019-07-10 14:36] #105 closed

[2019-07-10 16:58] Alberto-Vega-MSFT commented on #114
@bawilless Azure Sphere engineering team is already looking into this but we can not share an ETA for it yet. Please stay tuned.

[2019-07-10 17:01] bawilless commented on #114
Thanks for the update.  This would be a great Intern task!

[2019-07-10 18:55] Auticons1 opened #115 "Misreference under step 3.2"
Step 3.2 meant to mention the CAcertificate.cer download on Step 2, not Step 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79eb45a2-0b0c-6449-5acc-504fb16583e6
* Version Independent ID: fa9be175-df4d-a165-144f-8abe62ecb7ea
* Content: [Set up Azure IoT Central to work with Azure Sphere](https://docs.microsoft.com/en

[2019-07-11 05:08] KrishnaG-MSFT commented on #115
@Auticons1 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 16:02] AshokPeddakotla-MSFT commented on #113
@rickeycv We are closing this issue for now and will update you if there are further changes regarding this issue.

Also, if this issue needs immediate resolution and really blocking your current work, please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscri

[2019-07-12 16:02] #113 closed

[2019-07-13 00:03] Alberto-Vega-MSFT commented on #114
We will be closing this issue for now since it is being tracked internally by the Product Group. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-13 00:03] #114 closed

[2019-07-13 00:39] ozhernan opened #116 "remove "Note: ADC is not currently supported in software.""
This line is not true anymore

"Note: ADC is not currently supported in software."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 877d4170-58b8-f3a6-49f0-45b7f514b7e9
* Version Independent ID: 18c7d3f7-864d-da98-447c-5aac535c8a99
* Content: [MT3620 development board user guide - Azure Sphere](https://docs.microsoft.com

[2019-07-13 06:27] AjayKumar-MSFT commented on #116
@ozhernan, Thanks for bringing this to our attention! We are taking a look into this and will get back to you soon.

[2019-07-15 04:08] AshokPeddakotla-MSFT commented on #113
Update: This issue has been resolved. Please check now and reach out to support as suggested above if you still encounter this issue. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-15 04:17] AshokPeddakotla-MSFT commented on #115
@Auticons1 Thanks for reporting this issue. [PR](https://github.com/MicrosoftDocs/Azure-Sphere-Docs-pr/pull/102) has been created to address this and changes will go live by EOD.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-15 04:17] #115 closed

[2019-07-15 05:16] AshokPeddakotla-MSFT commented on #116
Adding author @esalc for further review and update the document as appropriate.

[2019-07-18 16:12] JuergenSchwertl opened #117 "Doc incorrect on #of GPIOs in block. GPIO group size is actually 4, not 8"
Doc page states "On the MT3620, GPIOs are mapped to real-time cores in **blocks of eight**, starting with GPIO 0"
however, the chip documentation states that GPIOs are grouped in blocks of 4 (four) and you can actually successfully deploy and run two M4 apps using GPIO17 (LED2_BLUE) and GPIO23 (LED4_BLUE). The example is correct that GPIO 8 & 9 fails as both are within GPIO_GROUP_2.
---
#### Docum

[2019-07-18 20:31] Alberto-Vega-MSFT commented on #117
@JuergenSchwertl Thanks for providing feedback! Would you please provide the link to the doc that contradicts this one? Thanks

[2019-07-19 06:35] JuergenSchwertl commented on #117
It's the beforementioned "MT3620 M4 Datasheet" referenced on the very same page. May version has it as chapter "3. Peripherals", July version it is "4. Peripherals" as 2nd paragraph.
https://github.com/Azure/azure-sphere-samples/blob/master/Samples/GPIO/GPIO_RTApp_MT3620_BareMetal/main.c#L99 also hints at it

[2019-07-19 16:01] Alberto-Vega-MSFT commented on #117
@JuergenSchwertl Thanks for the clarification! I have passed your feedback and assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-21 07:37] DoctorWho8 opened #118 "Problem: SDK installer is taking a long time when trying to install the communications service"
Hello!
I am trying to install the SDK onto Windows 10, which may or may not be the release described. And it seemingly is taking a long time to do so, when concerning the communications service for the device. This device is the Avnet designed one. It kept throwing a complaint that the service wasn't starting or responding depending on the interpretation.

Finally clicking cancel on it I got to th

[2019-07-21 07:48] DoctorWho8 commented on #118
Update: It finally finished with an error message that tells me it failed. Here is the log:
[A94C:7580][2019-07-20T16:21:00]i001: Burn v3.11.0.1701, Windows v10.0 (Build 17134: Service Pack 0), path: C:\Users\hanso\AppData\Local\Temp\{B8889B3C-2859-4ADC-9804-2E10B203A1B4}\.cr\Azure_Sphere_SDK_Preview_for_Visual_Studio.exe
[A94C:7580][2019-07-20T16:21:00]i000: Initializing string variable 'MbaNetfx

[2019-07-21 17:59] Karishma-Tiwari-MSFT commented on #118
@DoctorWho8
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-22 21:25] Karishma-Tiwari-MSFT commented on #118
@DoctorWho8 The scope for these doc issues is to help identify gaps and issues with the documentation. Can you please share the doc you are referring to, so that I can involve the right team.

Else, if you are looking for help with debugging performance issues I would suggest opening a support ticket or reaching out to the MSDN and Stack Overflow communities

[2019-07-22 21:39] mbryantII commented on #70
I am unable to find the enrollment section on the IoT Hub portal.  I suspect that there has been a UX change that removed or moved this functionality elsewhere

[2019-07-22 22:06] DoctorWho8 commented on #118
All of this devolves from https://docs.microsoft.com/en-us/azure-sphere/install/install I simply followed the instructions there to download the SDK. I made sure my Avnet designed device was plugged in first. And then followed those instructions. It finally exploded and delivered that log blurb when I rebooted the computer and watched the installer restart. Debugging performance issues are when I

[2019-07-23 17:32] AshokPeddakotla-MSFT commented on #116
@esalc Could you check this and update the doc?

[2019-07-23 18:22] davidkwoods opened #119 "Can't follow steps as ordered"
Attempting to check the OS version on my yet-unclaimed Azure Sphere board using "azsphere device show-ota-status" gives an error saying I need to pick a tenant.  Perhaps the "Update the OS" step should come after claiming the device and assigning it to a tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f02a9e-3

[2019-07-23 23:36] Alberto-Vega-MSFT commented on #119
@davidkwoods Thanks for the feedback! I have assigned the issue to the content author @pennyo to evaluate and update as appropriate.

[2019-07-24 07:35] ch8uk commented on #118
I had the same problem with installation, but the second try installed it successfully.

[2019-07-24 21:49] DoctorWho8 commented on #118
@ch8uk What steps did you take to cause it to install successfully the second time around? And is this for the Avnet designed board? Or the other guy? (There are two that I know of.)

[2019-07-24 22:22] ch8uk commented on #118
For the second attempt, I didn't make any changes. I just tried again. I read on Microsoft website when installing Visual Studio to try again if it fails.
I am using VS 2019 Enterprise trial.  On my order it says Avnet, it's being posted today. Sorry, I can't suggest much.
Hope Hackster.io Azure Sphere community can help.

[2019-07-25 11:19] Lnk2past opened #120 "Removing a link-feed?"
I wanted to remove a link-feed that was created while running through a tutorial, but there are no details on how to do that.

e.g.

[code]

I want to be able to remove the `test-1` link-feed from my system. The same goes for device-groups and skus. I effectively would like to be able to wipe any configuration data setup during tutorials so that I can start clean but nothing in the documentation d

[2019-07-25 11:57] ch8uk commented on #118
DoctorWho8: Do you have the "Desktop development with C++" workload for VS.
The blog here mentions that it needs it before installing Azure Sphere.
https://www.element14.com/community/groups/internet-of-things/blog/2019/04/24/avnets-azure-sphere-starter-kit-out-of-box-demo-part-1-of-3

[2019-07-25 12:52] ch8uk commented on #118
A MSDN Azure Sphere forum, https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuresphere

[2019-07-25 14:06] CHEEKATLAPRADEEP-MSFT commented on #120
@Lnk2past  Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 14:24] DoctorWho8 commented on #118
Oh that one. Yes I have VS2017 installed. I also installed VS2019 and even VS2015 (which I use for a different platform.)

[2019-07-25 19:44] andyNYS commented on #119
i have same issue. is this a bug or simply an order of operations issue in the docs?

[2019-07-26 04:12] AshokPeddakotla-MSFT commented on #120
@Lnk2past In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-07-26 15:13] Lnk2past commented on #120
Hi @CHEEKATLAPRADEEP-MSFT & @AshokPeddakotla-MSFT, thank you for following up!

I was following this: https://docs.microsoft.com/en-us/azure-sphere/deployment/link-to-feed

and was also looking at the reference documentation: https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-feed

I am really new to all of this (Azure, Azure Sphere, IoT) so maybe I am missing something simple :)

[2019-07-26 16:08] senssei commented on #119
In your organization, there may be already some Azure Sphere tenats. You may create new AAD (Azure Active Directory) and scope it.

[2019-07-26 16:13] senssei opened #121 "Failed device recover"
On the `azsphere device recover` I got

[code]
After unplugging device is attached correctly so it doesn't look bricked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f02a9e-3e9a-4e35-238b-0578585ce396
* Version Independent ID: 7062718a-92fa-12b5-e5e0-10fed9039b59
* Content: [Update the OS - Azure Sphere](https://do

[2019-07-26 16:33] senssei commented on #121
After creating tenant manually I got

[code]

[2019-07-26 16:35] senssei commented on #121
After the second recovery

[code]

[2019-07-26 16:42] sergaz-msft commented on #121
Hi @senssei it means that you are not seeing the issue anymore? :). Tip: You can use "-v, --verbose" when running commands to have more details on logs.

[2019-07-26 17:02] senssei commented on #121
@sergaz-msft Thank, I think I am good now.

I was able to move forward and by `-v` flag get more info. The device needs to be claimed before `azsphere device show-ota-status`  otherwise you will get the issue with endpoint
[code]
It's a pity but I don't have logs from the verbose mode. If this will be observable again, I will remember to attach them for future searches by others.

PS @sergaz-msft

[2019-07-26 17:02] #121 closed

[2019-07-26 17:24] sergaz-msft commented on #121
Thanks @senssei . Regarding your feedback, we are tracking it on userVoice. Please vote for the feature request: https://feedback.azure.com/forums/915433-azure-sphere/suggestions/36316705-development-mode

Thank you!

[2019-07-26 19:21] irwincs opened #122 "Dimensions of DC Power Jack for MT3620 Development Kit"
I need to run the MT3620 from an external 5VDC power supply but I cannot find the dimensions of the DC jack anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 877d4170-58b8-f3a6-49f0-45b7f514b7e9
* Version Independent ID: 18c7d3f7-864d-da98-447c-5aac535c8a99
* Content: [MT3620 development board user guide - Azure

[2019-07-26 20:39] andyNYS commented on #119
I had started with a new Azure domain and account as per the instructions as I can't use my corporate account and my old personal account was still linked to a former employer so I did not have access to Azure AD.

[2019-07-26 20:50] DoctorWho8 commented on #122
Which kit are you referring to? The Avnet board does not have one, it has two places where headers can be installed. The other guy's one if I am correct would be the typical 2.1mm style connector.

[2019-07-27 02:32] xiongyu0523 opened #123 "--EnableRTCoreDebugging should be --enablertcoredebugging"
Case sensitive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 296ad092-159d-212b-e6c0-a100decf5220
* Version Independent ID: b1ce8d45-b530-929a-2fa8-96e9a9055b54
* Content: [Build a real-time capable application quickstart- Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/quickstarts/qs-real-time-application

[2019-07-27 03:52] CHEEKATLAPRADEEP-MSFT commented on #122
@irwincs  Thanks for the question! We are investigating and will update you shortly.

[2019-07-27 12:08] joostd commented on #22
Is that roadmap public or is there an ETA yet? I have the same problem: acquired an  MT3620 Kit but no idea how to use it from my MacOS or Linux systems. I don’t have any windows 10 systems unfortunately.

[2019-07-27 18:21] KrishnaG-MSFT commented on #123
@xiongyu0523 Thanks for the comment. We will actively investigate and get back to you with an update.

[2019-07-27 20:44] irwincs commented on #122
It's the original MT3620 Kit, not the new one from Avnet. [https://docs.microsoft.com/en-us/azure-sphere/hardware/mt3620-user-guide#power-supply](url)

[2019-07-27 22:57] DoctorWho8 commented on #122
Okay. That's the one I saw on the Microsoft site directly. Mine was courtesy an interesting process from E14 via Avnet. I'm still trying to decide what would be a good fit for the two specialty connectors on top.

[2019-07-28 15:06] emgieer opened #124 "Creating account associated with MSA account doesn't work for me"
I am able to log in to azure portal with my personal account. But when I open Azure Active Directory i get popup informing about error (without any further details about this error). And when I try to open "Users" section of Azure Active directory, I see following error message: "Unable to complete due to service connection error, please try again later." and no button to create new user.

After l

[2019-07-29 03:06] AshokPeddakotla-MSFT commented on #124
@emgieer  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 06:43] hosek commented on #22
Im also interested in VS Code support, haven't seen such platform locked IoT device (Azure Sphere MT3620) for a quite long time.

[2019-07-29 13:23] sergaz-msft commented on #123
Thanks for pointing this @xiongyu0523 . I have submitted a PR and the doc will be fixed soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-29 13:23] #123 closed

[2019-07-29 15:15] sergaz-msft commented on #122
Hi @irwincs did you look at the [Hardware definitions for the Mediatek MT3620 MCU](https://github.com/Azure/azure-sphere-samples/blob/master/Hardware/mt3620/README.md) ?

See also: [MT3620 reference board design](https://docs.microsoft.com/en-us/azure-sphere/hardware/mt3620-reference-board-design)

If you were already aware of those docs and couldn't find your answer I can check internally. Do let

[2019-07-29 15:59] irwincs commented on #122
Yes, I looked through all these documents but couldn’t find the diameter of the DC power jack.

[2019-07-29 18:35] sergaz-msft commented on #122
Thanks for checking it @irwincs . @esalc can we add a note on the doc specifying the characteristics of DC power jack? Thank you!

[2019-07-30 02:50] DoctorWho8 commented on #122
I see the problem. Our friend @irwincs references a set of documents describing a reference board design. Most likely the board he has was built using those specs by a different company, then mine (@irwincs what is the name on the board?) And I will wager that those specs do not describe a default power jack style. I have seen plenty so far, and there are actually a lot to choose. The default is t

[2019-07-30 14:45] AshokPeddakotla-MSFT commented on #120
@Lnk2past Thanks for the information. We are checking on this internally and will update you as earliest.

[2019-07-30 19:28] irwincs commented on #122
Here is the board I'm using. It's the standard MT3620 Development Kit (US Version) The DC Power jack is in the lower right hand corner of the illustration: ![mt3620-rdb-headers-1902](https://user-images.githubusercontent.com/31076972/62158745-326d0480-b2de-11e9-96f1-63fe6c2e576e.png)

[2019-07-30 19:30] sergaz-msft commented on #22
Hello. We will update the status of the feature requests soon on user voice soon. Thank you so much for bringing this up!

- https://feedback.azure.com/forums/915433-azure-sphere/suggestions/35567668-add-mac-vs-code-support
- https://feedback.azure.com/forums/915433-azure-sphere/suggestions/35968183-support-linux-distros

[2019-07-30 20:31] DoctorWho8 commented on #122
And it seems I am right. Try plugging into it a standard 2.1mm power connector from a wall wart. Do not of course plug in the wart. It should fit.

[2019-07-30 22:02] irwincs commented on #122
It's not a 2.1 mm connector.

[2019-07-30 23:39] DoctorWho8 commented on #122
There are (or should be) several style connectors out there.  Do you have the same wart but with multiple style connectors on it? Try the different barrel styles there, and please post the size that works.

[2019-07-31 01:16] irwincs commented on #122
Thanks for your help. My wife suggested the same thing and we have already ordered an assorted set of barrel connectors and will post the size of the connector, once I've found one that works.  The specifications for the connector should really be provided to developers in the Azure Sphere SDK documentation.

[2019-07-31 01:51] DoctorWho8 commented on #122
You are welcome of course.

[2019-07-31 01:52] DoctorWho8 commented on #122
Of course the next one is where did you obtain this kit?

[2019-07-31 15:09] bjthomson commented on #119
@davidkwoods - I concur. The instructions seem to be in the wrong order.

[2019-07-31 15:56] MarekLani commented on #74
@sergaz-msft  can you please reopen this issue, as I am facing same problem. I followed this article: https://docs.microsoft.com/en-us/azure-sphere/quickstarts/qs-first-deployment with one difference, I was using app which uses beta apis, so when creating feed I referenced Retail Evaluation Azure Sphere OS as dependentfeedid (ofc by its id).

[2019-07-31 17:26] bjthomson opened #125 "Uhhh guys, this isn't a PC"
"Between stages, the board will appear functional while the next group of updates is downloaded, but during the update you should expect the board to be unresponsive for several minutes at a time." I guess we'd better not install it in anything critical then, like a lift (elevator) or an HVAC controller.
User enters lift, presses button, doors close, lift starts rising, software update. Several mi

[2019-07-31 18:09] irwincs commented on #122
Here are the dimensions of the connector from the [kit](http://www.aceyoon.com/index.php?route=product/search&search=38%20PCS&description=true) that fits into the DC power jack:
1.35mm ID (0.053"), 3.50mm OD (0.138")
Could someone from Microsoft verify that these are the correct dimensions?

[2019-07-31 18:12] manyam09 opened #126 "Unable to login with personal email account on Azure Sphere Kit"
Hi, when i try to login for the command "azsphere login", i tried with my personal email account. This didn't allow me to login and thrown an error. I even tried joining Azure Active Directory. But Still i am not able to login. The below is the error i am getting

Sorry, but we’re having trouble signing you in.

AADSTS50020: User account 'manyam.sk@outlook.com' from identity provider 'live.com' do

[2019-08-01 00:45] NobleAscent commented on #125
Totally agree with this!!!. Even simple commands fail
azsphere device show-ota-status
error: The device is not responding. The device may be unresponsive if it is applying an Azure Sphere operating system update; please retry in a few minutes.
error: Command failed in 00:00:21.6166302.

[2019-08-01 00:59] Alberto-Vega-MSFT commented on #125
@bjthomson and @NobleAscent Thanks for reaching out. I will pass along your feedback!

[2019-08-01 05:11] AshokPeddakotla-MSFT commented on #120
@Lnk2past Currently, there is no way to delete the feeds and cloud config once set. I suggest you, please create a feedback item on the [UserVoice](https://feedback.azure.com/forums/915433-azure-sphere?) and upvote. All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

[2019-08-01 05:11] #120 closed

[2019-08-01 09:43] MarekLani commented on #120
@AshokPeddakotla-MSFT please this is crucial capability. Removing feed from group as well as removing device from group. These capabilities should be provided no matter if they are stated UserVoice or not.

[2019-08-01 11:06] AshokPeddakotla-MSFT commented on #124
@emgieer This would require further investigation to find out the root cause. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-01 14:28] sergaz-msft commented on #74
@MarekLani can I kindly ask you to open a new issue under the documentation you refer? Though if you are not following the doc as is the best is that a new thread on MSDN is open: https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuresphere

Thank you!

[2019-08-01 14:34] sergaz-msft commented on #122
@esalc can we validate this? Thanks!

[2019-08-01 14:54] MarekLani commented on #74
thanks @sergaz-msft . I have just found out it was network related issue (most probably my internet provider was filtering the communication). Device however was not showing any sign of existing OTA update and deploy problem, which was misleading and so I have created following user voice feedback: https://feedback.azure.com/forums/915433-azure-sphere/suggestions/38281627-provide-ota-logs

[2019-08-01 15:58] sergaz-msft commented on #74
Thank you! We will maintain user voice feedback and update accordingly! Glad that you are now unblocked :). Happy coding!

[2019-08-01 16:05] persello opened #127 "Wrong link title"
Under "Structs" you have a link called "Networking_NetworkInterface" but it points and is described as "UART_Config".

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: ca8d7748-ebda-bfb3-ab25-02d3943f2935
* Version Independent ID: 540f019e-429a-deb6-c7da-cc7a3626c2ab
* Content: [Informaz

[2019-08-01 16:56] sergaz-msft commented on #127
Thanks for pointing this out @persello . The correct link should be: https://docs.microsoft.com/en-us/azure-sphere/reference/applibs-reference/applibs-networking/struct-networking-networkinterface

We will fix this in next update.

[2019-08-01 17:02] sergaz-msft commented on #127
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-01 17:02] #127 closed

[2019-08-01 17:07] persello commented on #127
@sergaz-msft In my opinion, being that in the uart.h documentation and being described as related to a function included in uart.h, the error is in the title (the link seems correct as it points to the UART_Config struct).

[2019-08-01 17:15] sergaz-msft commented on #127
@persello you are absolutely right! Making that change :)!

[2019-08-01 17:49] mdtm1g14 opened #128 "Connection issues the Azure Sphere MT3620 starter kit"
I have recently received an Azure Sphere MT3620 starter kit and have been going through the steps to get it started.  However I soon had an issue where, when performing a lot of different operations I would get the message:

"error: The device is not responding.  The device may be unresponsive if it is applying an Azure Sphere operating system update; please retry in a few minutes"

I checked the

[2019-08-01 19:52] residentx10 commented on #128
return the product because Microsoft isn't really supporting this....

On Thu, Aug 1, 2019 at 1:49 PM mdtm1g14 <notifications@github.com> wrote:

[2019-08-02 06:14] AkosLukacs opened #129 ""you need a Microsoft work or school account""
I think the wording is less than perfect: "you need a Microsoft work or school account" sounds like you need something only a corporation or school can have. My first reaction - someone who has used Azure for some things, but not really familiar with Azure lingo - was "Does this mean I can't create one as an individual?"

I guess there is/will be an influx of people from Avnet's competition, and I

[2019-08-02 08:49] AshokPeddakotla-MSFT commented on #129
@AkosLukacs  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-02 08:53] AshokPeddakotla-MSFT commented on #128
@mdtm1g14 Thanks for the feedback! We are currently investigating and will update you shortly.
Please help with the link of document on which above document feedback request is created.

[2019-08-02 10:38] AshokPeddakotla-MSFT commented on #124
Please reach out the support as per the above email. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-02 10:38] #124 closed

[2019-08-02 16:53] richardtaylorrt commented on #128
@mdtm1g14 - please could you try the following:
1. Save a copy of this file: `c:\windows\serviceprofiles\localservice\appdata\local\Azure Sphere Tools\restore.json`
2. Delete this file
3. Run the Services Manager (services.msc).
4. Restart the "Azure Sphere Device Communications Service".

Please let us know if this solves the problem, and send the saved .json file to AzCommunity@microsoft.com, re

[2019-08-03 11:11] Colcothar commented on #128
While trying to create a tenant I have experienced the same error message.
I've tried the steps above and I'm still encountering the same issue.

In case it was my machine I did try it on alternative machine but I'm still getting the same error.
Got a feeling it might be the board...

[2019-08-03 11:20] mdtm1g14 commented on #128
This solved the second issue and I can now communicate with the board, however, I am now back to the original issue, an example of the output is bellow:

Device ID: F0BBF9435F8D47E253534FEC6A018EAC073F7EEDDE303D1E1D9FAAEFBFF3CA147166EACD8B7CFB8BA0A0BAE228D4A7382FDA92404E53C94825B63F5F85CF86E7
IP address: 192.168.35.2
Connection path: 2123
Command completed successfully in 00:00:06.0027099.

error:

[2019-08-05 14:46] K1rdro commented on #129
Can confirm, coming in from the Avnet competition, and wording in step 3 (Specify the username@directoryname.onmicrosoft.com) is confusing.

[2019-08-05 21:22] DoctorWho8 commented on #129
Group so can I. While waiting for my rig's SDK to properly install and the device to be recognized, I read the documents in question.  I then decided to wait for those issues to be resolved before I would try again.

And I have used Azure before, typically to try out examples, and even to participate in events regarding Azure itself, not what we are talking about in these discussions.

The article

[2019-08-05 23:10] qiutongs opened #130 "Beyond I2CMaster_WriteThenRead"
Hi,

I2CMaster_WriteThenRead API combines a "write then read" as a single bus transaction. I am wondering why Azure Sphere doesn't provide an API to generalize it to multiple read/write operations in a single transaction.

For example, this is what Linux provides.
https://github.com/torvalds/linux/blob/master/Documentation/i2c/dev-interface

[code]

Thanks,
Qiutong

---
#### Document Details

⚠ *D

[2019-08-05 23:16] Alberto-Vega-MSFT commented on #130
@qiutongs Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-06 07:16] harrison314 commented on #126
I had the same problem.

My soliution:
* You must login to the Azure portal, in Azure Active Directory create a new user.
* Next, use your browser to sign in and change your password when prompted.
* Login to _Azure Sphere_ using a new user account.

See <https://docs.microsoft.com/en-us/azure-sphere/install/azure-directory-account>

[2019-08-07 03:03] Alberto-Vega-MSFT commented on #125
@NobleAscent @bjthomson
Thanks again for the feedback! Would you please post this as a feedback @ https://feedback.azure.com/forums/915433-azure-sphere?query=update . This will allow the community to upvote this request.

[2019-08-07 09:33] mdtm1g14 commented on #125
I believe this may be similar to the issue I am experienceing #128, looks like it might be a common issue

[2019-08-07 09:55] fkilgour opened #131 "sdk install failed with error 0x80131500"
Hi,

First install attempt with the Sphere:
Platform: Windows 10
Installed VS2019 Community products below:
Microsoft Visual Studio Community 2019 Version 16.2.1
VisualStudio.16.Release/16.2.1+29201.188
Microsoft .NET Framework Version 4.7.03056
Installed Version: Community
Visual C++ 2019   00435-60000-00000-AA583
ASP.NET and Web Tools 2019   16.2.290.48383
C# Tools   3.2.0-beta4-19359-03+15b43b3

[2019-08-07 10:49] bjthomson commented on #125
My comment isn't related to #128 - that covers implementation details. I was talking about getting someone to think at a higher level - the big picture.
As requested, I've posted in the feedback forum.

[2019-08-07 10:56] mdtm1g14 commented on #125
@bjthomson Sorry I was mainly refering to the comment from @NobleAscent

[2019-08-07 14:06] Alberto-Vega-MSFT commented on #125
Thank you! linking the post here so people coming across this issue can upvote it https://feedback.azure.com/forums/915433-azure-sphere/suggestions/38323372-more-on-update

[2019-08-07 14:06] Alberto-Vega-MSFT commented on #125
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 14:06] #125 closed

[2019-08-07 18:52] AshokPeddakotla-MSFT commented on #128
@mdtm1g14 Please share the link of document on which above document feedback request is created so that it can be linked.

Also, please check the [troubleshooting steps](https://docs.microsoft.com/en-us/azure-sphere/install/troubleshoot-installation#failure-to-connect-to-device) and let us know if that helps to resolve this issue.

If issue still persists, Can you please file a support request @ h

[2019-08-07 18:53] Alberto-Vega-MSFT commented on #131
@fkilgour I'm sorry to hear that you are facing this issue. The logs just look like the ones on this thread: https://social.msdn.microsoft.com/Forums/en-US/f6f6f6dc-1b4e-4c3c-b6ad-cce3c0972fd0/failed-to-install-azure-sphere-sdk

[2019-08-08 03:39] DoctorWho8 commented on #131
I wan't going to comment until someone else did, but... It happens that the response from when I tried to install  the SDK second time, (after the computer rebooted). was the same in the log that I posted. I still haven't reconciled my, ah, original problem with the similar one here. but it seems unlikely that the same thing would have happened.

[2019-08-08 09:49] fkilgour commented on #131
Thanks Alberto,

My bad - I'm not on Win10 v1903.

I'll close this, update and retry.

Frank

[2019-08-08 10:33] AshokPeddakotla-MSFT commented on #128
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-08 10:33] #128 closed

[2019-08-09 07:27] xiongyu0523 opened #132 "Highlight 'NetworkConfig' capability in manifest must be set to true before call Networking_SetInterfaceState API"
The only place mentioned is in Networking_SetInterfaceState API reference part of document. Should provide all information in this single page to guide customer setup ethernet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3781077-8806-0de8-85c1-a0e08b3abe8c
* Version Independent ID: f53b30fb-3874-c03e-bb5e-ab194b15fc

[2019-08-09 11:23] AshokPeddakotla-MSFT commented on #132
@xiongyu0523 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-09 22:58] pennyo commented on #117
We've updated the documentation to include the correct information. Thanks for your feedback!

Closing this issue.

[2019-08-09 22:58] #117 closed

[2019-08-10 02:15] Alberto-Vega-MSFT commented on #130
Hi @qiutongs would you please provide that valuable feedback at https://feedback.azure.com/forums/915433-azure-sphere/filters/top?page=2 this way it can get upvoted and prioritized by the product team.

[2019-08-10 08:41] fkilgour commented on #131
Hi again,

I have updated Windows to v1903. Restarted. Re-installed VS2019 Community Edition. Restarted.
Azure Sphere SDK install still fails with the same error - full log file pasted below.
I checked the other 2 issues in those links - one was a Docker issue (I am not using Docker) and the other was resolved by a Windows update (this has not resolved my failure).
A similar issue was resolved by

[2019-08-11 16:48] tscholze commented on #119
08/11/19 - the document command order is still not fixed.
Also, the help text to create a new tenant misses a required parameter `--name`.

[2019-08-12 07:59] Niproblema opened #133 "Can't uninstall/fix/use azure sphere sdk"
uninstaller hangs at azure sphere services
See probably same issue https://social.msdn.microsoft.com/Forums/en-US/88aa78d4-2840-4b8f-a1c2-d5cfa2578c16/azure-sphere-sdk-will-not-uninstall-my-solution?forum=azuresphere

[2019-08-12 08:04] Niproblema commented on #133
Log file
[dd_VC_AzureSphere_20190812100304.log](https://github.com/MicrosoftDocs/azure-sphere-issues/files/3491438/dd_VC_AzureSphere_20190812100304.log)

[2019-08-12 09:07] sergaz-msft commented on #126
@manyam09 can you confirm that you are now unblocked so we proceed and close this issue? Thank you for providing help @harrison314 !

[2019-08-12 19:25] Alberto-Vega-MSFT commented on #130
Hi @qiutongs Since this feedback is related to the actual product vs the documentation. We will be closing this issue now.
Please share the link to your feedback post so others coming across this issue can go and up-vote your idea. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-12 19:25] #130 closed

[2019-08-12 19:49] doomtoo commented on #119
"Update the OS"->" How to login with an overly complicated system, required to update the OS" O.o

I spent almost an hour, trying to find out the issue with why logging in with any Microsoft account is futile, before giving up, and skipping ahead.

[2019-08-12 20:40] techyg opened #134 "Why the restriction?"
I don't understand the rationale for the restriction:

"Claiming is a one-time operation that you cannot undo even if the device is sold or transferred to another person or organization"

Why have this as a limitation? Is it purely for economic / sales reasons? I can't think of a good technical reason for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-08-13 00:49] Alberto-Vega-MSFT commented on #134
Hi @techyg Adding the Feedback Entries below as I believe it relates with this discussion and we want to make sure that is voted so we can prioritize:

https://feedback.azure.com/forums/915433-azure-sphere/suggestions/36316705-development-mode

https://feedback.azure.com/forums/915433-azure-sphere/suggestions/36196912-allow-for-transfering-device-ownership

Thank you!

[2019-08-13 05:06] Alberto-Vega-MSFT commented on #131
@fkilgour This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-13 07:03] AshokPeddakotla-MSFT commented on #129
@pennyo @esalc please check this issue and provide an update

[2019-08-13 09:24] olegkhar commented on #118
Hello!  Can you please check if the following file exists on your computer:
`%WINDIR%\serviceprofiles\localservice\appdata\local\Azure Sphere Tools\restore.json`

And also: when you go to Network Connections (`ncpa.cpl`), is there an "Azure Sphere" network adapter?

Thanks!

[2019-08-13 09:31] AshokPeddakotla-MSFT commented on #133
@Niproblema Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario.
These forum community members could provide their expert guidance on your scenario based on their experience.
Thanks!

[2019-08-13 09:53] ch8uk commented on #118
My path is different, C:\Users\admin\AppData\Local\Azure Sphere Tools\. There are two files in there, settings.json and  tokens.cache.  If I follow your path, when I get to %WINDIR%\serviceprofiles\localservice\ I don't see appData folder.
For ncpa.cpl, yes ther is Azure sphere tap Windows adpter.

[2019-08-13 10:45] sergaz-msft commented on #122
@irwincs thanks for your patience.

**I have confirmed with Product Group:**

- The socket is 1.3mm ID and 3.7mm OD
- The part is Cliff FC68145S. Here is a link to the datasheet: https://uk.farnell.com/cliff-electronic-components/fc68145s/dc-socket-smd-dc-8s-1-3mm-pin/dp/1889307

For questions about the MT3620 dev board (big one, aka the CDVB/RDB), the schematics are on github here: https://github

[2019-08-13 14:48] sergaz-msft commented on #126
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-13 14:48] #126 closed

[2019-08-13 18:43] persello opened #135 "Settings for the SPIMaster_Open function have swapped descriptions."
"SPI_Mode_0" is described as the SPI bit order,
"SPI_BitOrder_MsbFirst" is described as the communication mode.

I think, based on the names themselves, that these descriptions are swapped.

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: ff26fc0d-9baf-d571-da12-01d8fefeb209
* Version I

[2019-08-13 20:31] pennyo commented on #129
We're aware that this is a pain point and are working to improve the documentation for the next release.

@DoctorWho8  You need an account that is associated with an Azure Active Directory (AAD). Not all accounts on the Microsoft website have one. The AAD is used to manage access to your Azure Sphere tenant.

[2019-08-13 20:46] pennyo commented on #132
We will add this information in an upcoming release of the documentation.

[2019-08-13 21:46] Alberto-Vega-MSFT commented on #131
@fkilgour Please reach out if you need help opening a support ticket by following the instructions on my previous comment. Since you are going to get help from support we will be closing this issue now.

[2019-08-13 21:46] #131 closed

[2019-08-13 22:02] Alberto-Vega-MSFT commented on #135
@persello Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-13 22:12] olegkhar commented on #118
Hello, @ch8uk,

I recommended to @DoctorWho8 to spot-check `%WINDIR%\serviceprofiles\localservice\appdata\local\Azure Sphere Tools\restore.json` because that file may be preventing the Slip Service from starting up, causing the installation failure.  Please note that Windows stores application data for Service accounts in `%WINDIR%`; this is in contrast to user application data stored in `%LOCALAP

[2019-08-13 22:45] ch8uk commented on #118
Hello @olegkhar,
Sorry I didn't realize it was meant for  @DoctorWho8.  I have not run into any problems, except for the fact that it installed on the second try.

[2019-08-13 23:35] olegkhar commented on #118
Hello, @ch8uk,

No worries--all feedback is welcome.  Glad to hear that you haven't run into any additional problems, and hopefully you won't run into any more!

[2019-08-14 00:28] henrygab opened #136 "[Blink] No explanation on how to change board"
This is feedback from a user who has experience with creating projects for various MCUs (Cypress PSoC, nRF52840, etc.).  This is my attempt to follow the instructions to get Blink working.  The documentation leaves the introductory user with questions, not answers, which is not desirable for a blink / hello world sample.

#### Where in the docs...
In section "Prerequisites", there's a warning/call

[2019-08-14 03:28] DoctorWho8 commented on #118
Actually @olegkhar I did do that. I promptly put the board aside, at least temporarily. Mostly because of other unrelated issues. But also because of the issues that have surfaced concerning its hosting methods. See I do not use Office 365, and I rarely even check Outlook.com although I do have an account on it...... But I am waiting here to see if the rest of you have solutions to your problems.

[2019-08-14 04:12] DoctorWho8 commented on #129
@pennyo I understood the documents implicitly. And indeed it mentions what does, and what doesn't and what may not,. And there the documents need to be updated, and need to be easier to understand. For example what _does indeed_ contain an AAD function for the purposes of doing that.
You state that  > The AAD is used to manage access to your Azure Sphere tenant.<  I understand that function. Okay

[2019-08-14 04:14] DoctorWho8 commented on #129
Actually @AkosLukacs what we need happens to be easier to understand documentation.

[2019-08-14 07:26] Wiz-IO opened #137 "GCC for BareMetal"
Hi,

Can you publish **gcc & linker settings** for **baremetal** as:
https://docs.microsoft.com/en-us/azure-sphere/app-development/manual-build#compile-the-application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0db551c-2484-3af9-ac08-d9978e82b445
* Version Independent ID: dea4dddf-46d1-cb41-2dcf-b77dece8c581
* Con

[2019-08-14 07:47] AkosLukacs commented on #129
Exactly. Raised this issue after I already successfully claimed my device, but the documentation felt unclear.

[2019-08-14 08:29] AshokPeddakotla-MSFT commented on #132
@pennyo Thanks for the confirmation.
@xiongyu0523 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-14 08:29] #132 closed

[2019-08-14 08:51] ch8uk commented on #118
@DoctorWho8 I came across a discussion on Element14 where some are using a Virtual Machine from Microsoft.  https://developer.microsoft.com/en-us/windows/downloads/virtual-machines
It is 20GB.

[2019-08-14 09:24] Colcothar commented on #128
@AshokPeddakotla-MSFT
I've noticed the troubleshooting guide references the correct ip as "192.168.35.1".

Both @mdtm1g14 and I's boards seem to be connected on "192.168.35.2" - a different ip.
Could this perhaps explain the error we are encountering?

[2019-08-14 09:32] AshokPeddakotla-MSFT commented on #136
@henrygab Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-14 15:03] DoctorWho8 commented on #118
It's a thought. Of course I'll need to check to see what this system is using. (It is indeed running Windows 10) However.... The particulars that Microsoft has up on it, is pretty good, except for the presence of Ubuntu inside it.

Next: What would be considered to be a "work account" as far as Azure being concerned?

[2019-08-14 15:23] pennyo commented on #136
@henrygab Thank you for the detailed feedback. We plan to revise this for the next release.

[2019-08-14 15:33] ch8uk commented on #118
@DoctorWho8 This link explains how to get an account and if you don't want to get Azure subscription, you can just leave tha page after getting your account. https://docs.microsoft.com/en-us/azure-sphere/install/azure-directory-account#create-a-new-account-and-directory-that-are-not-associated-with-any-other-account
I haven't used Windows subsystem for Linux, but if you want to uninstall, instruct

[2019-08-14 17:48] henrygab opened #138 "[BUG] [FIX KNOWN] Link for admin consent broken"
The instructions for the administrator to grant permissions to Azure Sphere say the administrator should use the link:
https://login.microsoftonline.com/common/adminconsent?client_id=0b1c8f7e-28d2-4378-97e2-7d7d63f7c87f&redirect_uri=https://docs.microsoft.com/azure-sphere/install/admin-consent-success

However, that consistently fails.  Thanks to an Escalation Engineer on the Azure IoT Developer S

[2019-08-14 18:07] henrygab commented on #136
@pennyo Thanks, Penny!
Another useful addition: Explicitly list the known dev kits / starter kits that do **_not_** require any changes for the sample to work.

Given this is the "hello world" equivalent, reducing mental load for an onboarding user is key, and simply checking if their board is in the list (and thus can avoid the changes) seems an even better path.  This is also currently reasonabl

[2019-08-14 20:01] Alberto-Vega-MSFT commented on #128
@Colcothar did changing the IP solved the problem?

[2019-08-14 20:06] Alberto-Vega-MSFT commented on #133
@Niproblema Do you have an update?

[2019-08-14 20:32] Colcothar commented on #128
@mdtm1g14

I'm unsure how to go about changing the IP.
A futher thing to note, I have more than one TAP adapter - Three to be precise. Could this perhaps be why the connecting IP is different?

[2019-08-14 22:35] Alberto-Vega-MSFT commented on #138
@henrygab Thank you for helping make this docs better. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-15 02:08] Niproblema commented on #133
What am I supposed to update you on?
Issue is known and solution is known, next step would be to implement fix.

[2019-08-15 13:54] Alberto-Vega-MSFT commented on #133
Hi @Niproblema We were asking for a link to a document to tie this issue to since the issues on this repository are meant for documentation errors or suggestions on documentation enhancements. With that said.

I see that unlike other customer (on the thread you linked to) uninstall is failing for you. We need to get you help from support engineers. If you do not have access to a support plan, plea

[2019-08-15 13:58] Alberto-Vega-MSFT commented on #128
@Colcothar This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-15 21:31] MicahMcKittrick-MSFT commented on #137
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-15 21:32] errohitsinghal commented on #114
@Alberto-Vega-MSFT I am currently trying to Push Azure Sphere to one of my big client and unfortunately, I am stuck due to this issue. A Must-have requirement is Ethernet Connection and We have built 90% solution over Avnet Azure SK. Do you have any idea when new ImagePackage would be available? I mean any rough ETA will help us about taking critical decisions about the product. If its possible, c

[2019-08-16 04:40] Wiz-IO commented on #137
BTW I make this settigs and work fine... you can add to documentation
https://github.com/Wiz-IO/platform-azure/blob/1157b786250277b2da1ce55959329363830a345b/builder/frameworks/baremetal-MT3620.py#L62

[2019-08-16 15:25] sergaz-msft commented on #122
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-16 15:25] #122 closed

[2019-08-16 19:58] Colcothar commented on #128
Will do.

I've done a little deeper analysis of my own. Seems one of my TAP adapters (a VM Ware one) seems to use 192.168.35.1

[2019-08-17 00:50] Alberto-Vega-MSFT commented on #137
@Wiz-IO Thanks for sharing  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-17 01:43] Alberto-Vega-MSFT commented on #133
@Niproblema please reach out to the email I provided on my previous comment so we can get you a one time free support ticket if you don't have a  support plan. Closing this issue now since a support engineer will assist you now.

[2019-08-17 01:43] #133 closed

[2019-08-17 01:44] Alberto-Vega-MSFT commented on #134
@techyg We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-17 01:44] #134 closed

[2019-08-18 19:49] agschipor commented on #124
@emgieer @AshokPeddakotla-MSFT  Hi! I'm experiencing the same problem. Did you solved it? Thanks!

[2019-08-19 07:38] AshokPeddakotla-MSFT commented on #124
@agschipor Can you please create a new issue with the detailed error message and the documentation which you are following?

[2019-08-19 07:41] agschipor commented on #124
I can do it, but it is exactly the same issue & documentation - I'm receiving the same errors. It will be better to create a new issue?

[2019-08-19 09:06] AshokPeddakotla-MSFT commented on #118
@DoctorWho8 Any update on this? Does the above suggestions helped?

[2019-08-19 09:17] xiongyu0523 opened #139 "DPS can't be created on free subscription but Sphere need DPS"
The free subscription does not allowed user to create DPS instance, even we give them 200$ free credit for 30days on the free subscription, they can't spend. As far as I know this force customers to use pay-as-you-go subscription which is not a good option for people who do not want to be charged. Any workaround?

Currently Sphere only works with IoT Hub DPS, not IoT Hub itself. This increase the

[2019-08-19 11:24] glynj-bsquare opened #140 "Azure Communication service won't start during install."
I followed the instructions on this page, and was able to start communicating with the MT3620 device last week. Today, after an automatic Windows OS update, I could not communicate with it. This may not be related, but I mention it just in case.
I have Visual Studio 16.2.2, but am unable to find out what version of Azure Sphere I have - see below.
As per the instructions, I uninstalled Azure Spher

[2019-08-19 11:54] glynj-bsquare commented on #140
I have verified that three COM ports are opened when I plug in the Sphere device.

[2019-08-19 12:00] richardtaylorrt commented on #140
Hi - please can you:
- save a copy of this file: c:\windows\serviceprofiles\localservice\appdata\local\Azure Sphere Tools\restore.json
- delete this file from that location
- retry the installation

Please let us know if this solves the problem and, if so, send the saved .json file to AzCommunity@microsoft.com, referencing this issue. Thanks.

[2019-08-19 12:14] glynj-bsquare commented on #140
Thanks for the quick response. Unfortunately this makes no difference. When I click cancel on the failure dialog, the installation does automatically undo the various stages. The Restore.json file was not replaced by a new one after the retried install.
The one I deleted contains only this:

[]

[2019-08-19 12:29] richardtaylorrt commented on #140
Sorry that didn't help.  One of my colleagues will continue to progress this ticket, and suggest next steps as soon as possible.

[2019-08-19 13:22] DoctorWho8 commented on #140
@richardtaylorrt the problem related by the correspondent there, resembles the first problem I developed. (And that's one of two reasons why I put mine aside for the moment.)

@glynj-bsquare  Did all of this happen after the computer was restarted? Or did you see this happen all the time during an install attempt?

[2019-08-19 13:26] glynj-bsquare commented on #140
The computer rebooted unattended over the weekend due to an OS update.

Visual Studio was not left running at the time, and the Sphere device was not connected at the time.

This morning I was unable to communicate to the device using azsphere - the error suggested I uninstall then reinstall the Sphere dev SDK.

I did the uninstall, whihc was successful, but now every time I try to install the SDK

[2019-08-19 13:36] DoctorWho8 commented on #140
Makes sense. Depending on the OS you run, its certainly possible that something else changed. Mind you the operative term is "certainly possible".

[2019-08-19 13:38] glynj-bsquare commented on #140
In case it's relevant, I'm running on Windows 10.

[2019-08-19 14:28] DoctorWho8 commented on #118
@AshokPeddakotla-MSFT I haven't had a reason to try anything special today, or even during the course of the previous week. Point of fact is that I have not done anything with this new device, because of issues both not related here, and the one big problem regarding an appropriate Azure subscription.