[2020-09-30 11:50] nk-gears commented on #258
When i try to migrate it prompts to login and after signing in using the same credentials.

AADSTS50020: User account 'myusername@live.in' from identity provider 'live.com' does not exist in tenant 'OsTechnology' and cannot access the application '0b1c8f7e-28d2-4378-97e2-7d7d63f7c87f'(Azure Sphere Utility) in that tenant. The account needs to be added as an external user in the tenant first. Sign

[2020-10-01 11:26] AshokPeddakotla-MSFT commented on #258
@nk-gears To provide more context, looks like you are using the personal MSA to login when attempting the migration.  But if you previously used Azure Sphere before the 19.10 migration, you must have signed up with an AAD organizational (work/school) account.  You should use that account to drive the migration.  The CLI prompts should instruct further on this. if that doesn't help and you are stil

[2020-10-01 18:08] ericawes commented on #226
assigned to v-lobe

[2020-10-06 20:58] pennyo commented on #220
We don't have a solution for getting memory usage on Ubuntu at present.

Closing the issue.

[2020-10-06 20:58] #220 closed

[2020-10-08 09:34] nk-gears commented on #258
Is there a way to identify to which Tenant my device is registered. Also i am seeing a tenant with the following name. Is this created by microsoft by default for all users?

![image](https://user-images.githubusercontent.com/897323/95441136-64b0d200-0977-11eb-8015-6e4eea7d5a8a.png)

[2020-10-08 09:41] nk-gears commented on #258
I have added a TXT Entry to the DNS for hopechurch site. Please ask the client to test now.

![image](https://user-images.githubusercontent.com/897323/95442053-88284c80-0978-11eb-9804-40993104b36a.png)

[2020-10-15 19:37] ericawes commented on #226
@sylvaingirardbe  Thank you for the suggestion; we added a couple links to [Understand and use device twins in IoT Hub](https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-device-twins), and added an entry for device twins on the [Azure Sphere terminology](https://docs.microsoft.com/azure-sphere/product-overview/terminology) page.

[2020-10-15 19:37] #226 closed

[2020-10-20 08:48] azsphere opened #260 "Revise Picture"
![AzureSphereTenantCARenewal](https://user-images.githubusercontent.com/53162885/96562770-1e0a9280-12fc-11eb-85af-b9293e03efdc.png)

Hello,

I think that the picture should be revised 1) to show 'Active' & 'Inactive' status 2) move ~60days bar as attached for better understanding.

Thanks,

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-10-20 09:25] asergaz commented on #260
Thank you so much for the great feedback @azsphere . I am assigning this issues to the content author @prabhushyja to evaluate and enhance the doc. Thanks again!

[2020-10-20 16:30] SatishBoddu-MSFT commented on #258
Hello @nk-gears Just checking back, could you please let us know if you need further help in this matter.

[2020-10-20 17:38] nk-gears commented on #258
Yes. I need few clarifications.

How do I know which tenant the device was claimed ?.

I am a individual developer and I really don't remember the tenant which I claimed the device last year.

[2020-10-20 18:06] SatishBoddu-MSFT commented on #258
Hi Nirmal,@nk-gears

Did you try the below commands from an AzSphere Dev CLI?

https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-device#list

**azsphere device list**

https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-tenant#list

**azsphere tenant list**

ID                                   Name
--                                   ----
d343c263-4aa3-4558-adbb-d3fc3

[2020-10-21 04:11] SatishBoddu-MSFT commented on #258
We will update the outcome of the enabled support discussions soon.

[2020-10-22 18:11] ericawes commented on #260
Thank you for the feedback! We published a revised image yesterday that corrects the issue: [Configure tenant CA certificates for cloud services](https://docs.microsoft.com/azure-sphere/deployment/tenant-cert)

[2020-10-22 18:11] #260 closed

[2020-10-23 04:23] azsphere commented on #260
Great thank you! @asergaz  @ericawes . I have read updates and clear for me now. 👍 Thanks again!

[2020-10-24 16:00] wickste opened #261 "Link for "Next Step" is broken/missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a777684-ac8f-25df-600d-4b8aafada22a
* Version Independent ID: 8889f26b-3adf-1b14-f523-2f9844b82a2c
* Content: [Claim your device quickstart - Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/install/claim-device)
* Content Source: [AzureSp

[2020-10-24 19:34] YutongTie-MSFT commented on #261
@wickste
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-25 05:07] YutongTie-MSFT commented on #261
@pennyo HI Penny, could you please update the document? I don't have the access for changing it. Thanks.

[2020-10-26 17:23] #261 closed

[2020-10-26 22:18] LouisBerner commented on #251
@xiongyu0523  - Thank you for your feedback. Your suggestion has been incorporated into core docs.

The change will be be published in a future update. Have a great day!

[2020-10-26 22:19] #251 closed

[2020-10-27 09:57] niziak opened #262 "The Azure Sphere Security Service is not responding"
Please add to page `azure-sphere/install/troubleshoot-installation#linux-specific-problems` workaround description for Debian Buster issue for following problem:

Trying to `azsphere login` responds with error:
`The Azure Sphere Security Service is not responding. Please check your network connection and try again`

The log file unveils error:
`Interop+Crypto+OpenSslCryptographicException: error:0

[2020-10-27 12:31] AshokPeddakotla-MSFT commented on #262
@niziak Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-27 16:11] AshokPeddakotla-MSFT commented on #262
@pennyo Please look into this feedback and update doc as appropriate.

[2020-10-30 11:08] AshokPeddakotla-MSFT commented on #262
I have assigned the issue to the content author @pennyo to evaluate and update the doc as appropriate.

[2020-11-04 16:59] egionet opened #263 "Issue with AzureSphereBlink1 Sample"
[Enter feedback here]
I just received my Seeed MDB, updated the device OS (20.09) and Visual Studio is running 20.09 as well, the device was claimed and connected over WiFi.  When I uploaded the sample AzureSphereBlink1 program the LED didn't blink until the code was modified:

while (true) {
        GPIO_SetValue(fd, GPIO_Value_Low);
        nanosleep(&sleepTime, NULL);
        GPIO_SetValue(fd,

[2020-11-04 18:56] SatishBoddu-MSFT commented on #263
Hello @egionet
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-09 22:29] SatishBoddu-MSFT commented on #263
Hello @egionet Just checking back on this. While we check with our team. Please confirm if you still see the same issue?

Please let us know if you need further help in this matter.

[2020-11-10 00:58] egionet commented on #263
Thanks for following up.  I had the wrong board referenced (i.e. seeed_mt3620_mdb instead of mt3620_rdb).  Once the change was made the original code worked.  I discovered this by attempting to communicate with an SHT31 over I2C.  I reused the "I2C_LSM6DS3_HighLevelApp" and updated the code for a basic temperature and humidity request but not having any luck.  The SHT31 was confirmed to be operati

[2020-11-10 01:22] SatishBoddu-MSFT commented on #263
Hello @egionet Thanks for confirmation on issue resolution from your side.

*  Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft to ask your further technical questions.
* We do have lot of interesting projects posted on [Hackster.io](https://www.hackster.io/search?i=projects&q=azure%20sphere)

Please

[2020-11-10 17:53] #263 closed

[2020-11-10 18:14] pennyo commented on #219
We've added support for memory visualization in Visual Studio for the 20.10 release. Please see
[Application memory use](https://docs.microsoft.com/en-us/azure-sphere/app-development/application-memory-usage) for details.

[2020-11-10 18:14] #219 closed

[2020-11-11 16:16] AshokPeddakotla-MSFT commented on #262
@niziak We really appreciate for reporting the issue and providing the fix. It will definitely beneficial to the other community members.

We see that the problem occurs on Debian Buster Linux, whereas we support Ubuntu 20.04. We haven’t repro'd the error on the supported Ubuntu. If we find that it’s a common problem to several Linux flavors, we would consider adding it to the documentation, curre

[2020-11-11 16:16] #262 closed

[2020-11-13 02:25] xiongyu0523 opened #264 "Document is not clear about how to manually install appdevelopment capability and remove it later"
We have no description to guide a customer how to do this. Not all customer want install gdb and other configuration in 'azsphere dev edv' command

1. No description for update command, people don't know they should use 'select' or 'update' command to apply to a device.
2. No description for none capability, which is used for removing capability..

---
#### Document Details

⚠ *Do not edit this se

[2020-11-13 03:58] BharathNimmala-MSFT commented on #264
@xiongyu0523 Thanks a lot for your feedback, our team will review and get back to you at the earliest.

[2020-11-13 03:58] SatishBoddu-MSFT commented on #264
Hello @xiongyu0523
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-18 01:41] SatishBoddu-MSFT commented on #264
Hello @xiongyu0523
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-11-23 20:55] pennyo commented on #239
@Gerriko We do not currently have a way to create your own custom board configurations, nor to specify that a different ISU should be used. You can raise this as a feature request in the [Azure Sphere forum](https://feedback.azure.com/forums/915433-azure-sphere).

[2020-11-23 20:55] #239 closed

[2020-11-24 05:30] nk-gears commented on #258
@AshokPeddakotla-MSFT , Closing this Issue with resolved.

@SatishBoddu-MSFT , Thanks for working closely to troubleshoot the root cause and resolving them. I Appreciate the Team behind for the efforts and co-ordination.

Later i will share a detailed blog post on the scenario and how what are the things which i missed while migrating the device.

[2020-11-24 05:30] #258 closed

[2020-11-24 19:21] pennyo commented on #264
@xiongyu0523 Hi Neo--
Our general guidance for customers is to use the combined commands (enable-development and enable-cloud-test), as described in [Device capabilities and communication](https://docs.microsoft.com/azure-sphere/app-development/device-capabilities).

We'll more clearly link this to the [azsphere device capability](https://docs.microsoft.com/azure-sphere/reference/azsphere-device#c

[2020-11-25 01:16] bobbydharrell commented on #191
@richardtaylorrt or @AshokPeddakotla-MSFT I know this thread is Old. BUt I have an Azure Sphere Starter Kit and was looking for a way to set this up on my Mac. Has any progress been made on getting this running on a Mac? Or do I need to run it from a Windows/Ubuntu VM?

[2020-11-27 12:28] xiongyu0523 commented on #264
OK, the first thing come to my mind is to find in 'capability' section of our document, not the reference page. The page you share do have more information.

The 'capability' concept in azure sphere is totally new and nobody know what does it mean for the first time. I'm appreciate you can review this part thoughtfully. The most confuse thing is I never recall which command can be executed or not

[2020-11-30 18:42] markscott-slalom opened #265 "Direct connection authentication instructions should call out lower-case device id clearer"
[In Step 5, [here](https://docs.microsoft.com/en-us/azure-sphere/app-development/setup-iot-hub?branch=release#authenticate-using-a-direct-connection) it's very easy to miss the fact that the device id must be in lower case. Can you please bold or underline or call that out better? When asking the device for its id with the command 'azsphere device list-attached', it is produced in upper case. ]

-

[2020-11-30 19:48] LouisBerner commented on #265
Thank you for your feedback.

Created https://dev.azure.com/msazuresphere/4x4/_queries/edit/103252/?triage=true to track this issue.

[2020-12-02 04:57] dtarditi opened #266 "Misplaced sentence on configuring networking quick start page."
[Enter feedback here]
The following sentence appears to be in the wrong place on this page.  It is in the "Receive Device Update" section and should be in the "Set up Wifi" section:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5db907e3-85a6-ab65-837b-7e6a5dc12224
* Version Independent ID: dfd84d21-060c-1ba2-63

[2020-12-02 16:40] pennyo commented on #266
Thank you for the feedback, David. We'll check the text and modify if necessary.

[2020-12-02 16:40] #266 closed

[2020-12-03 19:23] pennyo commented on #264
@xiongyu0523 Thank you for the clarification. We've added links in the updated 20.11 docs and will look at expanding this further for a future release.

[2020-12-04 03:32] xiongyu0523 commented on #264
Thanks @pennyo. We can close this.

[2020-12-04 03:32] #264 closed

[2020-12-04 10:09] Expecho opened #267 "Pass cmd line arguments to device application"
I understand that, in order to pass command line arguments to the application I need to modify the application manifest and set the `CmdArgs` field. How should my dockerfile look like to accomplish this? THe dockerfile needs to somehow make sure the manifest is updated to contain the value of an environment variable available in docker,

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-12-04 17:57] MarileeTurscak-MSFT commented on #267
@Expecho
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-07 22:12] SatishBoddu-MSFT commented on #267
Hello @pennyo could you please suggest in this regard.

[2020-12-08 01:33] SatishBoddu-MSFT commented on #267
Hello @Expecho just wanted to confirm if you have tried steps 2 and 3 in the sample tutorial section called: [Build the default sample app using the Dockerfile](https://docs.microsoft.com/en-us/azure-sphere/app-development/container-build#build-the-default-sample-app-using-the-dockerfile) ?

[2020-12-08 08:39] atKeitaroTakahashi opened #268 "ADC -> PWM"
The pulse-width modulator (PWM) that is used by the application.
In a high-level application, specify the peripheral name that is declared in the hardware definition header file.
In an RTApp, specify the AppManifestValue that is declared in the hardware definition JSON file.
Hardware definition example: "Pwm": [ "$MT3620_RDB_LED_PWM_CONTROLLER2" ]
Raw value example: "Pwm": [ "PWM-CONTROLLER-0" ]
A

[2020-12-08 20:22] NavtejSaini-MSFT commented on #268
@atKeitaroTakahashi We are checking this and will get back to you.

[2020-12-10 15:01] Expecho commented on #267
@SatishBoddu-MSFT Yeah I did both steps and the app is correctly built by the Dockerfile. I am stuck on the next step in a way that I have defined a GitHub action that succesfully builds the repo but I want to pass a secret to my application. That has to be done using the CmdArgs field in the application manifest but I have no idea how that must be done using the docker approach as outlined in the

[2020-12-11 00:28] SatishBoddu-MSFT commented on #267
Hello @Expecho Thanks for the confirmation, we are working on this.

[2020-12-11 16:20] pennyo commented on #267
@Expecho Good question. I've raised this with our engineering team and will respond when we have more information.

[2020-12-11 16:28] robotdad commented on #267
@Expecho it sounds like you are trying to pass a runtime argument to your app in the container. The app doesn't run in the container, it needs to be deployed to a device to run. You'll need to either download the imagepackage from the produced artifact and deploy to a device or publish it to a deployment group in AS3 to send it to devices OTA.

If I'm wrong and this is a parameter that is used in

[2020-12-11 17:29] pennyo commented on #268
@atKeitaroTakahashi Thank you for the feedback. We'll fix this link in an upcoming docs release.

[2020-12-11 21:20] Expecho commented on #267
Ok, let my try to pain the whole picture here. I have my code on GitHub, in a public repo. My apps need a connection string. I see that as a secret that I do not want to expose in my code. I have the secret stored in GitHub as an environment variable that I can access during the build phase as seen [here](https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets). Now I n

[2020-12-11 23:49] pennyo commented on #265
We've updated the docs today.
Closing this issue.

[2020-12-11 23:49] #265 closed

[2020-12-11 23:49] pennyo commented on #268
We've updated the documentation. Closing this issue.

[2020-12-11 23:49] #268 closed

[2020-12-15 00:37] ericmitt opened #269 "Can't connect using "direct connection""
I followed the steps in the article but impossible to connect my devices via direct connection.
I gote the message:
  Azure IoT connection status: IOTHUB_CLIENT_CONNECTION_NO_NETWORK
    Azure IoT connection status: IOTHUB_CLIENT_CONNECTION_BAD_CREDENTIAL
    Azure IoT connection status: IOTHUB_CLIENT_CONNECTION_NO_NETWORK
    Azure IoT connection status: IOTHUB_CLIENT_CONNECTION_BAD_CREDENTIAL

I

[2020-12-15 01:40] ericmitt commented on #269
In the DPS approach, can I control the name of the device (it appear with a very long Unique ID) ?

[2020-12-15 01:41] ericmitt commented on #269
To be able to see telemetry in iotexploer or from Azure CLI, I have to create a new consumergroup.... Why ?

[2020-12-15 04:10] HarshitaSingh-MSFT commented on #269
Hello @ericmitt , thank you for reaching out to us! Could you please share the link of the MS Doc you are referring to here?

[2020-12-16 14:18] HarshitaSingh-MSFT commented on #269
Just checking in to see if you could provide an associated doc link for this issue.

[2020-12-18 05:02] HarshitaSingh-MSFT commented on #269
Just checking in to see if you could provide an associated doc link for this issue.

[2020-12-18 16:18] HarshitaSingh-MSFT commented on #269
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 16:18] #269 closed

[2020-12-20 14:15] sha1painkiller opened #270 "Incorrect section title "XBOX Video Application Development""
[請在此輸入您的意見]
https://docs.microsoft.com/zh-tw/azure-sphere/
In the left pane, the "**XBOX Video** Application Development" should be "Application Development".

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: a0be310e-4cea-4cb7-3fad-578140c35e0a
* Version Independent ID: a61988d8-f1c9-e283-b071-5cc024c42ca1
* Content: [Azure Sphere 應用程式概觀](https://docs.microsoft.com/zh

[2020-12-20 19:39] HarshitaSingh-MSFT commented on #270
Hello @sha1painkiller , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-21 06:13] AshokPeddakotla-MSFT commented on #270
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-21 17:44] pennyo commented on #270
@sha1painkiller Thank you for the feedback! This is a translation error; I've forwarded it to the localization team to address.

[2020-12-29 19:24] ericawes commented on #270
Closing this issue since pennyo created a new issue in the zh-TW repo.

[2020-12-29 19:24] #270 closed

[2020-12-30 12:36] asergaz commented on #267
@Expecho did you consider using IoTHub to update your azure sphere [device Twin property](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins) or sending a [Cloud to Device Message ](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-c2d) with the secret you need to use on your application? See also [Cloud-to-device communications guidance.](https://d

[2020-12-30 12:54] Expecho commented on #267
Thansk for the response. You are right, I think Q&A might be a better fit. I'll move it in a short time and close this issue. One thing I'd like to address. You say it is safe to connect to IoT Hub and I agree. However, in the examples like the one [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-node-node-c2d#send-a-cloud-to-device-message) they tell you to copy/paste the connection

[2020-12-30 13:01] asergaz commented on #267
@Expecho definitely adding the connection string to your code is not recommended at all for some production scenarios. It is a very easy way to get you started connecting to IoTHub and develop some POCs though :).

Azure Sphere authenticates using an x.509 certificate and we have an extense set of docs about securing your environement when using Azure IoT Hub. You can start here: https://docs.micr

[2020-12-31 09:04] Expecho commented on #267
Created a [Q&A question](https://docs.microsoft.com/en-us/answers/questions/215198/pass-cmd-line-arguments-to-device-application.html) for it.

[2020-12-31 09:04] #267 closed

[2021-01-29 13:12] bawilless opened #271 "Section links not present on the "Quickstart: Install the AzureSphere SDK for Windows" page"
This is major nitpicking here, so take it with a grain of salt.  On the "Quickstart: Install the AzureSphere SDK for Windows" page the last two major headers don't provide links.

To reproduce the issue . . .

1. Open the page: [Link](https://docs.microsoft.com/en-us/azure-sphere/install/install-sdk?pivots=vs-code)
2. Hove the mouse cursor over the major sections titles "Prerequisites", "Set up yo

[2021-01-29 22:18] SatishBoddu-MSFT commented on #271
Hello @bawilless
Thanks for the feedback! We are currently investigating and will update you shortly

I see as below, Got it!
The Dynamic link is displayed!
![image](https://user-images.githubusercontent.com/62923178/106333015-b1792b00-623c-11eb-8757-85985054ed49.png)

**No Dynamic link is displayed! we are looking into the last 2 sections!!!**
![image](https://user-images.githubusercontent.com/62

[2021-02-01 16:53] SatishBoddu-MSFT commented on #271
Hello @bawilless
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-08 17:05] OrrinEdenfield opened #272 "Certificate download command has changed"
Documentation lists this command to use to download certificate:
`azsphere ca-certificate download --output CAcertificate.cer`

This is the command that worked with the latest version of Azure Sphere:
`azsphere ca-certificate download --destination-file CAcertificate.cer`

Please update. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-02-09 01:37] ChaitanyaNaykodi-MSFT commented on #272
Hello @OrrinEdenfield,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-09 07:09] asergaz commented on #272
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-09 17:17] prabhushyja commented on #272
Thank you for your feedback! The [azsphere reference documentation](https://docs.microsoft.com/en-us/azure-sphere/reference/overview) has been updated to include details of available parameters and examples for both versions. Examples elsewhere in the documentation still reflect the original CLI v1.

We will update the examples in a future release. Our general guidance for customers using CLI v2 i

[2021-02-23 19:13] bawilless opened #273 "Additional items for this page related to VPNs and their interference with the Azure Sphere TAP driver"
We have run into multiple issues with our corporate VPN and the VPN settings that prevent communications with Azure Sphere devices on Windows 10 development computers.  These would be good topics to add to this troubleshooting page.

1. The customers VPN does not allow "split tunneling."  If split tunneling is disabled by the VPN configuration and the development computer is connected to the corpo

[2021-02-23 20:28] v-annene commented on #273
Thank you for your feedback. We will fix this in an upcoming release of the documentation.

[2021-03-12 14:44] prabhushyja commented on #272
We've updated the documentation to include the correct information. Thanks for your feedback!

Please consider closing this issue.

[2021-03-12 14:59] #272 closed

[2021-03-16 09:09] AshokPeddakotla-MSFT commented on #273
@v-annene Closing this as you have mentioned, it is planned for next release.

[2021-03-16 09:09] #273 closed

[2021-03-22 04:42] nishithvpoojary opened #274 "VS Code CMake ToolChain Error for Azure Sphere"
**Hello. I have been trying to use VS Code for programming Azure sphere Board. But I have an error while I build it.**

[main] Configuring folder: HelloWorld_HighLevelApp
[driver] Removing c:/Azure Work/azure-sphere-samples/Samples/HelloWorld/HelloWorld_HighLevelApp/out/ARM-Debug/CMakeCache.txt
[driver] Removing c:\Azure Work\azure-sphere-samples\Samples\HelloWorld\HelloWorld_HighLevelApp\out\ARM-

[2021-03-22 09:10] AshokPeddakotla-MSFT commented on #274
Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-03-22 09:27] nishithvpoojary commented on #274
[https://docs.microsoft.com/en-us/azure-sphere/install/install-sdk?pivots=vs-code](url)
I was using this above link to install Azure SDK , CMake and Ninja.

[2021-03-23 18:31] ericawes commented on #271
Hello, @bawilless
Thanks for the feedback, Brian. Unfortunately there's no fix for this at present; it's a bug in the **Choose your development environment** toggle at the top of the page. You _can_ still right click and copy the links for those headings from the mini-TOC on the right rail.

Closing this issue, but we do appreciate the feedback!

[2021-03-23 18:31] #271 closed

[2021-03-24 04:35] AshokPeddakotla-MSFT commented on #274
@nishithvpoojary Did you check the [troubleshooting guide](https://docs.microsoft.com/en-us/azure-sphere/install/troubleshoot-installation#cannot-compile-or-debug-rtapps)?

![image](https://user-images.githubusercontent.com/44426435/112255539-69004b80-8c88-11eb-9933-bed97da0d81c.png)

[2021-03-24 23:26] chandran-Az commented on #274
@nishithvpoojary - In the PATH screenshot, I do not see Ninja's path added to the environment variables. Can you add the path and try reloading the VS Code application again?
Link -
![image](https://user-images.githubusercontent.com/64656870/112396582-a03d1f80-8cbd-11eb-911c-9495bb3350c2.png)

![image](https://user-images.githubusercontent.com/64656870/112396536-8ac7f580-8cbd-11eb-83c8-44d5e11a515

[2021-03-26 07:18] nishithvpoojary commented on #274
I used High Level Application.

[2021-03-26 07:20] nishithvpoojary commented on #274
I had added it. Check the first image. In System variables with variable name "Ninja".

[2021-03-31 14:03] AshokPeddakotla-MSFT commented on #274
@nishithvpoojary There are no issues with the documentation. I can confirm that it works as expected.

As per the error CMAKE_MAKE_PROGRAM is not set. I suggest you, kindly remove the existing paths and do a fresh install again.

Also, if you face issues again, please post your query on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-sphere.html) and we will happily continue

[2021-03-31 14:03] #274 closed

[2021-04-15 06:55] YuanXiaoQing666 opened #275 "XON / XOFF 是软件流控制。"
[UART_FlowControl_XONXOFF
启用 XON / XOFF 软件流控制。原文写的是硬件流]

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: d447d055-ba8b-4134-c172-8c8dff56a4db
* Version Independent ID: 9f094a7a-bccf-5fd6-7f15-af888d45264a
* Content: [UART_FlowControl 枚举 - Azure Sphere](https://docs.microsoft.com/zh-cn/azure-sphere/reference/applibs-reference/applibs-uart/enum-uart-flowcontrol)
* Conte

[2021-04-16 03:24] BharathNimmala-MSFT commented on #275
@YuanXiaoQing666 Thank you for reaching out with your query, our team will review it and get back to you.

[2021-04-16 09:31] asergaz commented on #275
@YuanXiaoQing666 could you please rephrase your question in English? Let me know if you are recommending an enhancement to the doc so I assign to the author? Thanks!

fyi @esalc

[2021-04-16 09:42] YuanXiaoQing666 commented on #275
Caused by incorrect translation.&nbsp;
Read in English，XON/XOFF is&nbsp;software flow control. But translate&nbsp;in Chinese,&nbsp; it's same to&nbsp;RTS/CTS, show the hardware flow control.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "MicrosoftDocs/azure-sphere-iss

[2021-04-16 09:44] asergaz commented on #275
Thank you for the clarification @YuanXiaoQing666 ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-18 03:13] jeevannagvekar opened #276 "Azure Device Update Service to update Azure Sphere Device"
Hi there,
Is Azure Sphere device/firmware update possible using Azure Device Update Service (ADU) at Azure IoT Hub. Or the firmware and device update has to be happened only via Azure Sphere Security Service?
If possible via ADU, what is the procedure? An ADU example for Simulated device/Raspberry Pi is available. But not for Azure Sphere.
If no, please explain reasons in detail.

---
#### Documen

[2021-04-18 10:14] SwathiDhanwada-MSFT commented on #276
@jeevannagvekar Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-19 10:38] AshokPeddakotla-MSFT commented on #276
@jeevannagvekar At this time, Azure Sphere uses different update control and update delivery mechanisms to ADU, though we are looking at the value a more unified experience would bring for our customers and we welcome your input on this.  Azure Sphere has some unique product qualities which lead to a difference in design:

-	Microsoft provides periodic and automatic OS updates (no action required

[2021-04-19 11:56] jeevannagvekar opened #277 "Device claim process in production for customer"
Hello,
Azure sphere documentation discusses about all procedures like claiming a device, retrieving certificates etc in development environment where VS(code), Azure SPhere SDK etc is setup.
Lets assume a scenario where a sphere device is shipped to a customer. The customer is not techno savvy and doesn't understand setup process or don't want to do technical stuff. In that case, what are the ways

[2021-04-19 18:54] BryanTrach-MSFT commented on #277
@jeevannagvekar Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-21 19:53] SatishBoddu-MSFT commented on #277
Hello @jeevannagvekar Thanks for the query on "How-To" on this page.

Could you please post this "How-To"  question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-sphere.html) with tag called **azure-sphere** Technical forum, where there is a community that can help (plus the engineering team).

Please let me know if we are good to close this issue over here.

[2021-04-22 03:52] AshokPeddakotla-MSFT commented on #276
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-22 03:52] #276 closed

[2021-04-23 03:30] laughingman42 opened #278 "Highlight note regarding using lowercase Device Id when adding Device in IoT Hub"
For Step 5. bullet item 3.
https://docs.microsoft.com/en-us/azure-sphere/app-development/setup-iot-hub?tabs=cliv2beta#step-5-create-an-x509-device-for-your-iot-hub

The _azsphere device show-attached_ command outputs the Device Id in UPPERCASE. The IoT Hub expects the Device Id in lowercase 🙄

The "Note" in this step is extremely easy to miss and a lot of wasted hours can be saved by either highli

[2021-04-23 04:55] AshokPeddakotla-MSFT commented on #278
@laughingman42 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-26 04:37] AshokPeddakotla-MSFT commented on #277
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-26 04:37] #277 closed

[2021-04-26 11:07] AshokPeddakotla-MSFT commented on #278
@laughingman42 PR has been created to highlight the text. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-26 11:07] #278 closed

[2021-04-26 16:23] ericawes commented on #278
This change is now live: https://docs.microsoft.com/azure-sphere/app-development/setup-iot-hub

[2021-04-29 11:03] Prathik-Bhundary commented on #36
Thank you. This worked. But what if the receiving data varies every time. At that time I cant set the receiving buffer. What should I do? Thank you.

[2021-04-29 20:43] Omakas opened #279 "typo in function name"
There seems to be a typo in the function  prototype.
On the page it is listed as
`int Networking_TimeSync_EnableCustomNTP(const char *primaryNtpServer, const char *secondaryNtpServer, Networking_NtpOption option);`

But it should be
`int Networking_TimeSync_EnableCustomNtp(const char *primaryNtpServer, const char *secondaryNtpServer,
 Networking_NtpOption option);`

This is not a major issue, but

[2021-04-30 10:42] CHEEKATLAPRADEEP-MSFT commented on #279
@Omakas  Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/Azure-Sphere-Docs-pr/pull/266](https://github.com/MicrosoftDocs/Azure-Sphere-Docs-pr/pull/266)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributi

[2021-05-01 17:31] nishithvpoojary opened #280 "High Level code UART timer"
Hi,
I use Avnet Starter kit Rev 2 board.
This is the code I used to receive UART data,
![image](https://user-images.githubusercontent.com/45986919/116790210-be721880-aad0-11eb-9250-963b4068a535.png)

Here the UART is continuously checked to get the data from it.
Is it possible to set the time to check the UART port [ Lets say, I have to check the UART port every 10 seconds ] without using the time

[2021-05-02 00:13] SaurabhSharma-MSFT commented on #280
@nishithvpoojary To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2021-05-02 08:59] nishithvpoojary commented on #280
Hello @SaurabhSharma-MSFT  Thank you for your response.
I used the HLApp sample code from this link [https://github.com/Azure/azure-sphere-samples/tree/master/Samples/UART/UART_HighLevelApp](url)

and also used the UART functions provided in this link to receive more data [https://github.com/MicrosoftDocs/azure-sphere-issues/issues/36](url)
I use Avnet starter kit rev 2 board.
Thank you

[2021-05-02 15:07] nishithvpoojary commented on #280
What would be the best method to receive all the incoming data from the UART without buffer limitation (without setting the receiving buffer size ).  With the current UART sample implementation of event loop, I can receive only 12 bytes of data. I want to stream all the incoming data to hub without any breaking of data. Can you please suggest

[2021-05-04 07:00] SatishBoddu-MSFT commented on #280
Hello @nishithvpoojary May we know the Github Document which you have followed ? the previous links which you have provided are not the right ones. Thanks for the understanding!

[2021-05-04 07:09] CHEEKATLAPRADEEP-MSFT commented on #279
@Omakas This has been fixed.

![image](https://user-images.githubusercontent.com/79183421/116970547-d2d33280-acd5-11eb-950d-bdaefaeba235.png)

[2021-05-04 07:09] #279 closed

[2021-05-04 07:28] nishithvpoojary commented on #280
These are the links,
[https://github.com/Azure/azure-sphere-samples/tree/master/Samples/UART/UART_HighLevelApp](url)
[https://github.com/MicrosoftDocs/azure-sphere-issues/issues/36](url)

[2021-05-04 07:33] SatishBoddu-MSFT commented on #280
Hello @nishithvpoojary Sorry the links are not the expected ones's I believe.

Please repost your Technical query on the Microsoft Q&A forum with the tag '**azure-sphere**' and we will help you over there.

![image](https://user-images.githubusercontent.com/62923178/116972386-c87e4d80-ac6f-11eb-9f81-80183fd7c8bd.png)

As we are unable to link with any Github-related document or tutorial meta-data,

[2021-05-04 07:35] nishithvpoojary commented on #280
I dont understand why it's happening. I googled search the sample and copied the link.

[2021-05-04 07:37] SatishBoddu-MSFT commented on #280
No worries, please post your query on Microsoft Q&A, we will make sure your query is addressed!

[2021-05-04 07:39] #280 closed

[2021-05-04 17:51] TylerLeonhardt opened #281 "Support Workspace Trust"
Hello :wave:  I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as *Workspace Trust*. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execut

[2021-05-04 23:57] MarileeTurscak-MSFT commented on #281
@TylerLeonhardt thanks for this context! Closing this out as there is no action currently needed.

[2021-05-04 23:57] #281 closed

[2021-05-05 20:20] TylerLeonhardt commented on #281
Just to be clear, if you do nothing, your extension will be disabled in untrusted workspaces.

[2021-05-12 15:58] asergaz commented on #36
@Prathik-Bhundary can you predicr rhw maximum possible receive size and use that instead of '32'?

[2021-06-01 21:40] ericawes commented on #275
I believe this translation has been corrected; closing the ticket.

[2021-06-01 21:40] #275 closed

[2021-06-06 03:23] xiongyu0523 opened #282 "Coding for renewable security link is broken"
[Enter feedback here]

Coding for renewable security link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0893c5f5-fd90-8aae-f6ae-62917288b7c2
* Version Independent ID: 77422ee2-84c7-03d6-72e9-85491831347f
* Content: [What's new - Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/product-overview/wha

[2021-06-07 18:11] ericawes commented on #282
Thank you for letting me know, @xiongyu0523! The other links in that table were broken as well; I've just fixed them.

[2021-06-07 18:11] #282 closed

[2021-06-14 10:03] jeevannagvekar opened #283 "Queries - OTA Update"
Hello team,

Some questions about OTA:

1. Update check is at regular interval of 24 hours - Does this interval start after the azure sphere device boots?
2. I understand that if at next interval the sphere device finds new update, the system events reach the application as well (if the application is subscribed to these events). The current application should have chance to finish its current tas

[2021-06-14 12:59] AjayKumar-MSFT commented on #283
@jeevannagvekar, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-14 17:36] bawilless commented on #283
@jeevannagvekar,

This morning I published a blog that address' some of your questions:
 https://www.element14.com/community/groups/azuresphere/blog/2021/06/14/azure-sphere-example-application-to-defer-ota-updates-until-a-specific-time-of-day

Brian

[2021-06-22 06:50] AshokPeddakotla-MSFT commented on #283
@bawilless Thanks for sharing the blogpost.
@jeevannagvekar We hope that address your queries. Do let us know if you have any other queries.

Also, if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

We will now proceed to close this thread. If there are further questions regarding this ma

[2021-06-22 06:50] #283 closed

[2021-07-04 06:08] arkesray commented on #258
Hi, I am having the same issue, can you please tell how to resolve? I can't migrate to the previous tenant, as it was 2 years ago.
![image](https://user-images.githubusercontent.com/26687445/124374882-5d2b1900-dcbc-11eb-8516-7f05ce92d5d9.png)

[2021-07-07 07:52] nk-gears commented on #258
Hi @arkesray

The Issue happened to me when i tried to Login using a different domain.

We need use similar to this "username@nirmalkumarlive.onmicrosoft.com". Then the issues resolved.

Please check what Directory you are trying to Login.

[2021-07-21 08:03] any-sliv opened #284 "Error on SDK installation"
Installing SDK on Linux Ubuntu 20.04 LTS running on Raspberry Pi 3B+ stops with an error:

Issue was mentioned [here](https://github.com/MicrosoftDocs/azure-sphere-issues/issues/196) with a similar case, but author was running older version of Linux (probably Raspbian).
Details about my OS:
Distributor ID: Ubuntu
Descriptor: Ubuntu 20.04.2 LTS
Release: 20.04
Architecture: x64

---
#### Document De

[2021-07-22 00:32] femsulu commented on #284
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-07-27 05:50] AshokPeddakotla-MSFT commented on #284
@any-sliv Apologies for the delay in response. We have further verified with our team and below is an update.

Also, we will update our documentation with more clarity to clear any confusion around SDK installations.

Thanks for your understanding. Please let us know if you have any other queries.

[2021-07-27 08:18] any-sliv commented on #284
Much thanks for a reply, clarifying that on docs page will save others time.

[2021-07-27 08:18] #284 closed

[2021-07-28 12:01] sw-ms-imranbhadelia opened #285 "Token generated with this method seems invalid"
We follow same steps to get token. and after fixing some issue mentioned in this page we got token. But its not valid. We used https://jwt.ms/ to verify token but it gives InvalidTokenError

Moreover if we use same token to call API given at https://docs.microsoft.com/en-us/rest/api/azure-sphere/, it keep giving 400 bad request. So seems like Token is not valid

Also **azsphere register-user --new

[2021-07-28 15:55] AshokPeddakotla-MSFT commented on #285
@sw-ms-imranbhadelia Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-29 09:54] AshokPeddakotla-MSFT commented on #285
@sw-ms-imranbhadelia Which authentication method are you using? client secret or client cert method?
Looks like you are using old CLI. Please use the [latest version](https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-register-user?tabs=cliv2beta) and try again.

[2021-07-29 11:09] bawilless commented on #285
@sw-ms-imranbhadelia to get the latest CLI, you need to download and install the latest Azure  Sphere SDK, you can download the installer here:  https://aka.ms/AzureSphereSDKDownload/Windows

[2021-08-05 04:37] AshokPeddakotla-MSFT commented on #285
@sw-ms-imranbhadelia As suggested please use the latest CLI and update. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-08-05 04:37] #285 closed

[2021-08-18 13:49] jeevannagvekar opened #286 "Azure Sphere is not able to connect to Edge device -- TLS handshake failed"
Hello, I am trying to configure and setup Azure Sphere device as child device to a IoT Edge device. Following is the procedure
1. Followed this link https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-nested-iot-edge?view=iotedge-2020-11 to forma a hierarchy of Azure IoT Edge devices (Top layer + low layer 1 + low layer 2), total 3 layers.
2. Followed https://docs.microsoft.com/en-us/azure-sp

[2021-08-19 03:19] CHEEKATLAPRADEEP-MSFT commented on #286
@jeevannagvekar  Thanks for the question! We are investigating and will update you shortly.

[2021-08-23 13:23] AshokPeddakotla-MSFT commented on #286
@jeevannagvekar Sorry for the delay in response. Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. After reviewing the ask, it seems like generic query and not a doc feedback.

Hence, we request you to please reach out in forums like [Microsoft Q&A](https://docs

[2021-08-23 13:23] #286 closed

[2021-11-01 12:26] Dmilner1 opened #287 "SDK Installation Problem"
The SDK will not install and rolls after around 50% progress. I have tried all of the troubleshooting advice to no avail. The Powershell solution is not viable as the "%ProgramData%\Microsoft\Azure Sphere\TapDriverInstaller\TapDriverInstaller.ps1" file is not present at this location.

I now have 8x Sphere's that I cannot use and my company are now growing impatient of my IoT progress - if you can

[2021-11-01 18:03] chandran-Az commented on #287
Hi Dmilner1 - Sorry to hear that you are having issues with Azure Sphere SDK installation. Could you please follow the below steps and share an update.
1. Follow the SDK installation troubleshooting guide - https://docs.microsoft.com/en-us/azure-sphere/install/troubleshoot-installation#windows-specific-problems
2. If the issue still persists, run the following commands as an administrator.

- - _G

[2021-11-07 20:07] SatishBoddu-MSFT commented on #287
Hello @Dmilner1
I have assigned the issue to the content author for further review.

[2021-11-08 23:20] SatishBoddu-MSFT commented on #287
Hello @Dmilner1 As we have not received any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-11-08 23:25] SatishBoddu-MSFT commented on #287
Hello @chandran-Az Could you please respond on this issue, so that we keep the community updated!

[2021-12-04 22:39] blkknight01 opened #288 "Missing one line before Install-Module AzureAD"
Should have users run this command in Powershell first: This allows for the find and installation of Nuget
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a36b86d1-7863-0e97-b628-6a9c09d37002
* Version Independent ID: 0999270f-e254-31da-37d8

[2021-12-04 23:33] himanshusinha-msft commented on #288
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-09 13:23] AshokPeddakotla-MSFT commented on #288
.

[2021-12-09 18:19] SatishBoddu-MSFT commented on #288
Hello @blkknight01 Thanks for reaching out on this page, we appreciate your contribution!

**Install-Module AzureAD** itself is sufficient to find and install the module from the PowerShell Gallery. If this is not helping or giving any error, then please let us know.

![image](https://user-images.githubusercontent.com/62923178/145452086-522b058c-221d-4757-8f09-8233a0ae2671.png)

![image](https://u

[2021-12-13 04:26] AshokPeddakotla-MSFT commented on #288
@blkknight01 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-13 04:26] #288 closed

[2022-01-11 17:36] isidorn opened #289 "VS Code changing how proposed api is used"
Hi VS Code PM here 👋

We are changing how proposed API in VS Code can be used. The gist is that `enableProposedApi` has been replaced with `enabledApiProposals: […]` and that `vscode.proposed.d.ts` has been replaced with a `dts`-file per proposal. This enables fine grained control and allows to scope proposals to selected extensions. You can read up on all the details here: https://github.com/micr

[2022-01-12 04:05] shashishailaj commented on #289
@isidorn Thank you for your feedback .  This seems more like a product update request on our side due to a breaking change on your side . We will try to engage with the relevant team offline and will update .

[2022-01-12 13:31] isidorn commented on #289
@shashishailaj thank you. I am also in an email thread with @robotdad

[2022-01-13 16:07] AshokPeddakotla-MSFT commented on #289
@isidorn Thanks for letting us know that you are in contact with Marc.
Since this is not related to any specific doc and is more of a product update, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Thank you

[2022-01-13 16:07] #289 closed

[2022-01-31 16:24] BarryBo opened #290 "Suggestion: add information about configuring proxy server to the page on what endpoints Sphere communicates with"
Suggestion:  add a pointer to documentation on configuring a proxy server [(here)](https://docs.microsoft.com/en-us/azure-sphere/network/connect-through-a-proxy) to this page, so network admins know of the alternate way to gate/grant access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02995860-63e0-47fa-91f8-35e7898

[2022-02-01 04:33] AshokPeddakotla-MSFT commented on #290
@BarryBo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-02-01 16:00] aholler2 opened #291 "Conflicting information"
Why does this page mention Azure Sphere doesn't support HTTP but then this other documentation page at, https://docs.microsoft.com/en-us/azure-sphere/app-development/curl, explicitly mentions support for HTTP/HTTPS requests to web services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0424ef6-7af2-6f41-8cd0-05328745

[2022-02-01 22:28] ericawes commented on #290
Thanks for the feedback, @BarryBo. We'll update the documentation.

[2022-02-01 22:28] #290 closed

[2022-02-02 03:43] AshokPeddakotla-MSFT commented on #291
@aholler2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-06 15:36] AshokPeddakotla-MSFT commented on #291
Adding author @LouisBerner to add more clarity on the doc. As it required validation before to update the doc.

[2022-02-11 14:26] AshokPeddakotla-MSFT commented on #291
@chandran-Az Could you please help update the doc? Unable to assign to author.

[2022-02-11 17:34] chandran-Az commented on #291
@aholler2 - Azure Sphere SDK only includes a subset of the IoT C SDK and this does not include HTTP support. MQTT is the preferred protocol here. For non IoT related functions, Azure Sphere SDK includes libcurl library which supports HTTP/HTTPS. HTH.

[2022-02-14 16:55] AshokPeddakotla-MSFT commented on #291
@aholler2 We hope that address your question. Please let us know if you have any further queries.

[2022-02-15 04:53] #291 closed

[2022-03-01 09:56] any-sliv opened #292 "Azure Sphere explorer, no tenant data"
Hello,

I am using Visual Studio Code on a Linux machine to develop software for Azure Sphere devices. Since I manage many devices in tenant I belong to, some neat way to display devices and device-groups in tenant is necessary. That is what VSC extension - Azure Sphere and its UI should provide.
Unfortunately each attempt to load tenant data result in VSC prompt:
`The "file" argument must be of t

[2022-03-01 14:56] MonikaReddy-MSFT commented on #292
@any-sliv  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-03-08 11:50] any-sliv commented on #292
Just wanted to mention that issue is still valid.
Some errors caught in VSC logs:
`[2022-03-08 12:45:57.082] [renderer2] [critical] Extension 'ms-vscode.azure-sphere-tools-ui CANNOT USE these API proposals 'resolvers'. You MUST start in extension development mode or use the --enable-proposed-api command line flag
`
`[2022-03-08 12:45:59.185] [renderer2] [error] [Extension Host] (node:38478) [DEP00

[2022-03-18 22:35] francissimo opened #293 ""Hopling""
<HTML>
-"PHP"-
[Enter ,HOPLING, here]
"Hopling"

---
#### Document

⚠  It is http://secure /check this :haiti:
required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35bf68a2-3f91-d222-f362-dd1a686c43c1
* Version Independent ID: 237693e9-6606-9a2b-6b03-9e6f792634e1
* Content: [Azure Sphere base APIs](https://docs.microsoft.com/en-us/azure-sphere/reference/baseapis#curl-library)
* Content

[2022-03-19 03:36] CHEEKATLAPRADEEP-MSFT commented on #293
@francissimo Could you please share more details on the feedback?

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your sc

[2022-03-20 12:47] CHEEKATLAPRADEEP-MSFT commented on #293
@francissimo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-20 12:47] #293 closed

[2022-03-29 19:49] BarryBo opened #294 "Hard to find conceptual documentation on device groups"
The link for "device groups" inside the sentence "The steps in this topic assume that you are familiar with the concepts of Azure Sphere [tenants](https://docs.microsoft.com/en-us/azure-sphere/deployment/manage-tenants), [products](https://docs.microsoft.com/en-us/azure-sphere/deployment/manage-products), and [device groups](https://docs.microsoft.com/en-us/azure-sphere/deployment/manage-device-gr

[2022-03-30 04:34] AshokPeddakotla-MSFT commented on #294
@BarryBo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-31 00:04] esqew opened #295 "Broken link to Service principal authentication methods"
Under the **Step 1: Register Service Principal** header, the third list item ("*Select authentication type*") is a broken link.

Clicking this link causes navigation to `https://docs.microsoft.com/en-us/azure-sphere/deployment/%5Cazure/active-directory/develop/howto-create-service-principal-portal#authentication-two-options`, which (as of this writing) results in `404 Not Found`.

It seems the lin

[2022-05-31 04:22] AshokPeddakotla-MSFT commented on #295
@esqew Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-31 10:56] AshokPeddakotla-MSFT commented on #295
@esqew PR has been created to fix the broken link. Fix will be deployed once it has been peer reviewed.
Thanks again for pointing to the broken link and sharing the correct link.

[2022-06-01 20:02] #295 closed

[2022-06-08 09:56] any-sliv opened #296 "Wrong link"
End of the page link to 'delete mutable storage' redirects to function of 'opening mutable storage'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6e5e32a-18fa-2084-519c-66b31cefcbba
* Version Independent ID: 594664c5-a625-119d-4e7e-22c1df8eac3f
* Content: [Azure Sphere storage](https://docs.microsoft.com/en-us/azure-

[2022-06-08 09:57] #292 closed

[2022-06-08 15:37] AshokPeddakotla-MSFT commented on #296
@any-sliv Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-14 04:37] AshokPeddakotla-MSFT commented on #294
Doc has been updated with correct links.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-14 04:37] #294 closed

[2022-06-14 19:13] #296 closed

[2022-06-15 03:54] AshokPeddakotla-MSFT commented on #296
@any-sliv The doc has been updated with correct link. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-23 02:44] tongwu001 opened #297 "API set 12 timer issue"
When I use API set 12 to link the library generated by API 11. The performance of timer is abnormal if  the parameter of timerfd_ settime is set to less than 1 second.

Is it caused by the update of 64-bit time support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0893c5f5-fd90-8aae-f6ae-62917288b7c2
* Version Indepe

[2022-06-23 03:35] tongwu001 commented on #297
sturct timespec's tv_sec filed is expanded from 32 bit to 64 bit in API set 12, it overwrited the tv_nsec filed in API set 11(or lower version)

[2022-06-23 04:38] #297 closed

[2022-06-24 21:10] #287 closed

[2022-07-28 20:22] mcousine opened #298 "Error: Failed to get attached devices. on Visual Studio Code with Azure Sphere UI Run Start Debugging"
Error: Failed to get attached devices.  on Visual Studio Code with Azure Sphere UI Run Start Debugging

![2022-07-28_16-15-11](https://user-images.githubusercontent.com/4398519/181629967-b5f73efe-c581-4fcc-a985-f7ed771bce36.jpg)

[2022-07-29 05:23] AshokPeddakotla-MSFT commented on #298
@mcousine Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-04 10:04] AshokPeddakotla-MSFT commented on #298
@mcousine Apologies for the long delay. Can you please share the documentation you are following for the steps?

I'm unable to reproduce this issue. Can you confirm your device OS and SDK versions? Make sure you have updated the OS to the [latest version](https://docs.microsoft.com/en-us/azure-sphere/product-overview/whats-new#new-and-changed-features-in-the-2207-os).

To verify the installed OS v

[2022-08-05 10:02] AshokPeddakotla-MSFT commented on #298
@mcousine This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. After reviewing the ask, it seems like generic query and not a doc feedback.

Hence, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) We have our engineers and other community members who will be happy to assist.

[2022-08-05 10:02] #298 closed

[2022-08-13 14:34] lakshmisivareddy commented on #191
Hi @galvesribeiro
can u please help me with the instructions  on how to setup  dev Environment for azure sphere in Mac OS
i did find any documentation or instructions  any ware

[2022-08-17 13:08] mcousine opened #299 "AzureSphere with RS-485 in VSCode the RS-485 Demo. trip.exe: Unable to recognise the format of the input file build] ninja: build stopped: subcommand failed. [build] Build finished with exit code 1"
Trying to buid all project AzureSphere with RS-485 in VSCode the RS-485 Demo.  [https://github.com/Azure/azure-sphere-gallery/tree/main/RS485Driver](https://github.com/Azure/azure-sphere-gallery/tree/main/RS485Driver)

Install VSCode
Install Azure Sphere Extension
Install Azure SDK
Install ninja
Install cmake as describe here[https://docs.microsoft.com/en-us/azure-sphere/install/install-sdk?pivots

[2022-08-17 16:45] himanshusinha-msft commented on #299
Hello @mcousine
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If yo

[2022-08-17 16:45] #299 closed

[2022-08-18 13:33] mcousine commented on #299
Just trying to build this project that does not build in vscode ? https://github.com/Azure/azure-sphere-gallery/tree/main/RS485Driver

[2022-09-01 20:15] roypan2118 opened #300 "Azure sphere CD document"
[Hello. will it be a document related to sphere CD like this page ? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 676be2f3-d7ef-0998-2c24-97f8353b7647
* Version Independent ID: 839e76a8-363f-3f9d-8fd3-3d9dbc5be3d3
* Content: [Add Continuous Integration to your container builds - Azure Sphere](https://docs.microsoft.

[2022-09-02 05:19] SwathiDhanwada-MSFT commented on #300
@roypan2118 Thanks for reaching out. Can you please elaborate on your requirement so that we can assist you accordingly ?

[2022-09-03 01:39] SatishBoddu-MSFT commented on #300
Hello @roypan2118 there is not direct document available for this scenario, but we have a response from the Product team.

"You need to feed the output of the CI system into Deployment service, you have to use scripts for doing that, and finally you need to validate before rolling them to actual devices"

[2022-09-12 17:53] SatishBoddu-MSFT commented on #300
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-10-08 00:11] BarryBo opened #301 "The duplicated network is actually configured"
[Enter feedback here]

The Remarks section states "The new network isn't configured", but that isn't true, as the network was duplicated from an already-configured one.  Looks like a copy/paste error from WifiConfig_AddNetwork().

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c6346b23-c2fa-b5b0-eab6-fab397f35f51
* Ver

[2022-10-08 00:24] BarryBo opened #302 "WifiConfig_SetPowerSavingsEnabled() isn't documented"
[Enter feedback here]
This is a new API introduced in  22.09.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 39b7dca9-7a12-0905-136a-0e2d7a7a376e
* Version Independent ID: a9147f24-c17e-c1cb-fe6e-7c389a92158a
* Content: [Azure Sphere Applibs wificonfig.h reference](https://learn.microsoft.com/en-us/azure-sphere/refere

[2022-10-08 03:12] ManoharLakkoju-MSFT commented on #302
@BarryBo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 03:13] ManoharLakkoju-MSFT commented on #301
@BarryBo
Thanks for your feedback! We will investigate and update as appropriate.