[2019-08-19 16:38] pennyo commented on #138
The docs have been updated. Closing this issue.

[2019-08-19 16:38] #138 closed

[2019-08-19 19:40] emgieer commented on #124
@agschipor I didn't solved it. I created new azure account. After that I went back to my existing account and this time everything worked OK. I'm not sure if creating new account influenced anything. I suspect that simply waiting 30 minutes after receiving error was sufficient to fix that issue for me.

[2019-08-19 23:11] Alberto-Vega-MSFT commented on #140
@glynj-bsquare Please follow the instructions from Richard and email us so we can get you help from a support engineer.
If you have access to a support plan: can you please file a support request @ https://aka.ms/azsupt?
If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the sup

[2019-08-19 23:30] Alberto-Vega-MSFT commented on #139
@xiongyu0523 Thanks for your valuable feedback! Would you please post this feedback on Azure Sphere User voice? This way other customers can up-vote your proposal and helps the Product Team to  prioritize.

[2019-08-20 01:32] DoctorWho8 commented on #140
@Alberto-Vega-MSFT  how would you define a subscription ID? And this presupposes I did have an account with Azure in general, where would I find it?

[2019-08-20 09:22] glynj-bsquare commented on #140
@Alberto-Vega-MSFT I have already tried Richard's suggestion, but it made no difference.
I am following up with my company to see if we have a support contract. Like @DoctorWho8  I do not know what the subscription ID is or where to find it, but have contacted the community as you suggest to see if this can be expedited.

[2019-08-20 09:31] AshokPeddakotla-MSFT commented on #140
@glynj-bsquare @DoctorWho8 Please follow the steps to get your SubscriptionID: https://blogs.msdn.microsoft.com/mschray/2016/03/18/getting-your-azure-subscription-guid-new-portal/

[2019-08-20 09:36] glynj-bsquare commented on #140
@AshokPeddakotla-MSFT There are no subscriptions listed in my account. (The instructions are also out of date - there is no "Browse" option available in the portal's left hand pane.)

[2019-08-20 10:11] AshokPeddakotla-MSFT commented on #140
@glynj-bsquare You can click on All Services -> search Subscriptions

![image](https://user-images.githubusercontent.com/44426435/63338280-249c2380-c360-11e9-9a6e-55ba19941af0.png)

Please collect and share the results of [azsphere get-support-data ](https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-get-support-data) to AZCommunity@microsoft.com

[2019-08-20 10:13] glynj-bsquare commented on #140
I have done this, and it states that I have no subscriptions.
![image](https://user-images.githubusercontent.com/11609228/63338802-74b4bf00-c33b-11e9-95d7-9589a443c7a1.png)

I also cannot run azsphere, as I cannot install it.

[2019-08-20 12:21] AshokPeddakotla-MSFT commented on #136
@henrygab Thanks for the additional information and feedback. As @pennyo mentioned this will be addressed in the next release.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-20 12:21] #136 closed

[2019-08-20 12:24] DoctorWho8 commented on #140
In my case I have not tried to install the SDK again. In my defense I am decidedly busy with other work, and since the azsphere idea was something that I am doing on my own, not as part of a company sponsored project, I can't bill things to a card for that purpose.

[2019-08-20 12:54] richardtaylorrt commented on #136
Hi @henrygab - thanks again for the feedback.  FYI we have an approach for targeting different boards that is explained [here](https://docs.microsoft.com/en-us/azure-sphere/app-development/manage-hardware-dependencies).  All of our GitHub [sample apps ](https://github.com/Azure/azure-sphere-samples)already use this, using these [hardware definition files](https://github.com/Azure/azure-sphere-samp

[2019-08-20 13:05] glynj-bsquare commented on #140
Subscription has now been found. I will create a support ticket and reference this discussion.

[2019-08-21 11:11] AshokPeddakotla-MSFT commented on #140
Sure. Please update this issue with the resolution so that it can be beneficial to the others.

[2019-08-21 14:44] xiongyu0523 commented on #139
This is actually not a Azure Sphere issue. This is about how we are going to give user an out-of-box experience about seamless integration of Azure Sphere and Azure IoT Hub.

Either we allow Azure Sphere to connect to IoT Hub without involve DPS or DPS itself can uses free subscription (may be limited to 5 devices like IoT Central did)

[2019-08-21 21:30] c2carey opened #141 "Sequence of events are not in order, for complete novices"
the Install outline is Overview, Set up azure Sphere Device, Update the OS, Set up an account, Claim your device.
I can't "Update the OS" even though the laptop sees the MT3620 on com ports.
I can't log in on the "Azure Sphere Developer Command Prompt" window until I have an Azure Active Directory, and a User Name in that AAD.
Since I can't log in, I can't run "azure show ota-status" on the ASDCPr

[2019-08-22 00:31] Alberto-Vega-MSFT commented on #141
Hi @c2carey Thanks for providing your feedback. I assigned the issue to the content author so she can evaluate and update as appropriate.

[2019-08-22 09:39] olegkhar commented on #118
@DoctorWho8,
Can you please help me understand the "one big problem" that you're experiencing?  Were you successful in creating a free Azure subscription, following the link that @ch8uk has kindly provided?

[2019-08-22 10:58] Ravenwater opened #142 "Very nice!"
this is an awesome page. In depth architecture description with clear writing and motivation. This is absolutely perfect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c633320-8eba-48f0-4deb-7eb3a4846e6a
* Version Independent ID: 3dc7b225-3661-b61a-2b0a-13f7db2caa47
* Content: [What is Azure Sphere](https://docs.micr

[2019-08-22 17:04] Alberto-Vega-MSFT commented on #142
Hi @Ravenwater Thank you for your feedback! Adding content author @pennyo

[2019-08-22 17:04] #142 closed

[2019-08-22 23:31] pennyo commented on #141
@c2carey  Thank you for your feedback. We're working to address this problem in the next documentation update.

[2019-08-23 00:22] c2carey commented on #102
You win.  I have VS 16.2.3 and I can't find the Azure Blink template to save my life.
I can't find it in Github.  It is not at https://github.com/Azure/azure-sphere-samples/tree/master/Samples
There is a Raspberry Pi Blink, but I don't think that is what Sphere MT3620 is expecting.

[2019-08-23 00:38] pennyo commented on #102
It was moved at renamed at the last major software release. You can find it in VS 2019 by picking Create a New Project from the initial splash screen and then searching for Azure Sphere on the page that pops up.

[2019-08-23 00:48] c2carey commented on #102
Want to bet?

I File/New/Project and then I enter the search string of "Azure Sphere" and
I get back "Not finding what you are looking for"
"install more tools and features"
there is not a template that I can click on. the rest of the screen is
blank.

[image: image.png]

On Thu, Aug 22, 2019 at 5:38 PM Penny Orwick <notifications@github.com>
wrote:

[2019-08-23 03:09] Alberto-Vega-MSFT commented on #139
That's great feedback would you please add it here https://feedback.azure.com/forums/915433-azure-sphere so it can be upvoted?

[2019-08-23 03:54] DoctorWho8 commented on #118
@olegkhar and @AshokPeddakotla-MSFT basically that big problem is in regards to the vague description regarding why I would need to setup an account on Azure. For example I do not have an account with Office 365 especially since I prefer to make use of Office products locally.  It does not completely explain why having one would be a benefit to gaining an account with the special features needed t

[2019-08-23 04:17] DoctorWho8 commented on #140
Good to know. Now that the laptop has updated itself, I might even try to install the SDK again. And I might even try and create an account on Azure again.

[2019-08-23 10:07] richardtaylorrt commented on #102
Hi - unfortunatetly, we can't see the screenshot image attachment.  They often get lost when replying via mail.  Please can you visit this ticket online, reply and paste the image inline there.  It'd be great if you can also show the version of the Azure Sphere SDK/Extension you have installed: Extensions -> Manage Extensions -> Visual Studio Extension for Azure Sphere Preview.  Thanks.

[2019-08-23 12:21] ch8uk commented on #118
@DoctorWho8,  on why we need an Azure account, keeping in mind the Azure services and this Azure Sphere Development board is for  Business Enterprises. As with IT Administration, you need authentication and authorization management (IAM) for users.

The main selling point of Azure Sphere and Azure certified IoT devices is security services and Azure Analytics services.

For IoT device users, if yo

[2019-08-23 17:39] KranthiPakala-MSFT commented on #139
@xiongyu0523 We will now proceed to close this thread. If there are further questions regarding this matter, please reply and reopen the issue. We will gladly continue the discussion.

[2019-08-23 17:39] #139 closed

[2019-08-23 21:48] c2carey commented on #102
My bad. I loaded the Visual Studio Extension for Azure Sphere Preview. But I had not enabled it.

[2019-08-23 21:55] pennyo commented on #102
Are you able to find and build the template now?

From: c2carey <notifications@github.com>
Sent: Friday, August 23, 2019 3:49 PM
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: Penny Orwick <Penny.Orwick@microsoft.com>; State change <state_change@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-sphere-issues] missing information for those new to visual studi

[2019-08-23 22:59] c2carey commented on #102
Yes. My LED is flashing green.

Sorry for the inconvenience .

Chyck

On Fri, Aug 23, 2019, 2:55 PM Penny Orwick <notifications@github.com> wrote:

[2019-08-23 23:56] Alberto-Vega-MSFT commented on #140
@glynj-bsquare We will be closing this issue for now,  since it went to support.

[2019-08-23 23:56] #140 closed

[2019-08-25 00:47] drunkscientist commented on #129
just got visual studio running. am part of avnet crowd coming from an arduino/esp8266 background, the documentation for this is OBTUSE at best. it feels like a full sacrifice of usability for the sake of security. tenants? domains? active account directories? i get as far as the command line but it doesnt recognize azsphere as a command. is that now how a tenant is selected?

[2019-08-26 14:20] AshokPeddakotla-MSFT commented on #141
@c2carey  As mentioned, we will address this in the next update. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-26 14:20] #141 closed

[2019-08-26 15:31] pennyo commented on #129
Using the azsphere command requires the Azure Sphere Developer Command Prompt, which is installed as part of the Azure Sphere DSK. It should appear on the Start menu; if not, click the Cortana search box and type ‘Azure’; it should appear in the results.  You can then proceed to determine whether you need to create aa Azure Sphere tenant or whether your organization already has one.

In addition t

[2019-08-26 15:31] AshokPeddakotla-MSFT commented on #129
@pennyo Can you check this and provide an update?

[2019-08-26 15:47] AshokPeddakotla-MSFT commented on #118
@ch8uk Thank you so much for providing detailed description to address the queries. Really appreciate your efforts.
@DoctorWho8 Does this answers your questions? We will look into this feedback and address this in the next doc update.

[2019-08-26 18:32] ch8uk commented on #118
@AshokPeddakotla-MSFT Thank you, you are welcome.

[2019-08-27 02:10] drunkscientist opened #143 "azsphere not recognized as internal or external command..."
so at first i thought it was because i was running windows 7, but after finally updating to 10, i still cannot access any kind of functionality of this mt3620 board. the 'azure sphere command prompt' tool that is downloaded with the azure sphere sdk for visual stuidio doesnt recognize this tool which is apparantly the only way to 'claim the device' to a 'tenant,' which is _apparantly_ the only way

[2019-08-27 05:11] KetanChawda-MSFT commented on #143
@drunkscientist Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-08-27 05:13] hiumezu opened #144 "Azure Sphere/FTDI EEPROM/Standard configuration file instruction"
HI Expert
WIth seeing following link instruction, I have questions.
https://docs.microsoft.com/ja-jp/azure-sphere/hardware/mt3620-mcu-program-debug-interface

There are instruction about XML file, MT3620_FTDI_Interface_4.xml,  saying no modification, but we are assuming "serial number" should be changed in case it is not the same number written on the file. Will you please tell me instruct followi

[2019-08-27 11:30] AshokPeddakotla-MSFT commented on #144
@hiumezu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-27 18:06] #143 closed, assigned to pennyo

[2019-08-28 06:30] AshokPeddakotla-MSFT commented on #135
@persello As mentioned, this will be addressed in the next update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-28 06:30] #135 closed

[2019-08-28 06:33] AshokPeddakotla-MSFT commented on #129
@pennyo Please have a look at the above response and provide suggestions.

[2019-08-28 06:34] AshokPeddakotla-MSFT commented on #137
@pennyo Please check the above response and update the doc as appropriate.

[2019-08-28 15:47] Wiz-IO commented on #137
you are welcome

[2019-08-28 18:30] aaronjense opened #145 "How to connect to port 2342 and 2345?"
Could you specify how to connect to port 2342 and 2345.  Those ports do not appear to be open after successful sideloading the imagepackage and manually starting the application with debug.

The remote debugging host, 192.168.35.1, shows to be available with the following ports open:
PORT     STATE SERVICE       VERSION
135/tcp  open  msrpc         Microsoft Windows RPC
139/tcp  open  netbios-ssn

[2019-08-29 00:41] Alberto-Vega-MSFT commented on #145
Hi @aaronjense Thanks for reaching out. Have you seen this doc? https://docs.microsoft.com/en-us/azure-sphere/app-development/manual-build#sideload-and-debug

[2019-08-29 01:02] DoctorWho8 commented on #118
Okay here I am trying again. I have updated Windows 10 using the Windows update tool rather than letting the Windows update service try to figure things out.

During the SDK install I saw the installer throw up a prompt that basically says it can't start the communications service, and wonders if I have the right, ah, rights, to do so.  And it came up three times now.

[2019-08-29 02:06] DoctorWho8 commented on #118
Okay more information. This is the output for what happened in the form of the log:
[23EC:5FD4][2019-08-28T20:08:08]i001: Burn v3.11.0.1701, Windows v10.0 (Build 18362: Service Pack 0), path: C:\Users\hanso\AppData\Local\Temp\{66EE3A53-7AB8-49F5-A774-D5E17DADB4EF}\.cr\Azure_Sphere_SDK_Preview_for_Visual_Studio.exe
[23EC:5FD4][2019-08-28T20:08:08]i000: Initializing string variable 'MbaNetfxPackageI

[2019-08-29 02:24] David1017 commented on #118
@DoctorWho8 I have the same problem that you and ch8uk met, i tried different laptop to install the SDK but all failed and gating at the installing for a long time.  the VS 2019 was crash after i canceled the SDK install, the prompt told me the VS was not completely install and need to reinstall (actually is can run normally last time), so i ran the VS installer again, it took a very long time, al

[2019-08-29 02:29] DoctorWho8 commented on #118
@David1017  I just installed VS2019 Enterprise version.  I do not think the problem is at that end of things. I'll probably rerun the installer for it, and see what happens.

[2019-08-29 04:54] AshokPeddakotla-MSFT commented on #137
@pennyo Thanks for an update!
@Wiz-IO We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-29 04:54] #137 closed

[2019-08-29 05:41] David1017 commented on #118
Understand, I have no idea about the rootcause, the latest status is SDK install successful after repair VS 2019.

[2019-08-29 06:38] AshokPeddakotla-MSFT commented on #129
@AkosLukacs We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-29 06:38] #129 closed

[2019-08-29 16:01] aaronjense commented on #145
@Alberto-Vega-MSFT Your first link is what I needed.  I must've not delved deep enough into the documentation to find 'Develop High Level-Applications'->'Develop Without Visual Studio'.  I was just looking at 'Load and unload application during testing'.  Thank you for your time and help.

[2019-08-29 16:01] #145 closed

[2019-08-30 11:27] AshokPeddakotla-MSFT commented on #144
@hiumezu Please find the below answers.

1. Serial number should be the same as the one used in the GitHub XML file.
2. No, module makers should not change the serial number. Also, note that the XML file listing on the page is currently incorrect; if you are creating own programming/debug interface should use the XML file in the azure sphere hardware samples GitHub without modification.

Also, we

[2019-08-30 11:27] #144 closed

[2019-08-30 15:44] pennyo commented on #116
@ozhernan Thank you for your feedback--and sorry for the delayed response. This will be updated with the next docs release.

[2019-08-30 20:01] Alberto-Vega-MSFT commented on #145
Hi @aaronjense Thanks again for reaching out! I'm glad to hear that you were able to resolve the issue.

[2019-08-31 03:09] tschleining commented on #119
I recommend either changing the order of the steps ('Update the OS AFTER 'Set up an account') or give more context to the resources required to work through this successfully.

[2019-09-02 04:42] xiongyu0523 opened #146 "'arm-none-eabi-readelf.exe -S' should be 'arm-none-eabi-readelf.exe -l' to read program headers"
as title explained

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d869ddd-8dfb-d767-8bc5-ecdd16711d34
* Version Independent ID: a121d5cc-02d3-d8b8-fbe8-72842cd75be9
* Content: [Manage memory and latency considerations - Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/app-development/memory-latency)
* Conte

[2019-09-02 16:50] RadoslavGatev opened #147 "Problem: SDK installation fails because Azure Sphere Device Communication Service failed to start"
I had installed the SDK and tried to use the CLI to create a new Azure Sphere tenant but it suggested there was some communication problem and advised me to uninstall and then reinstall.
Uninstalled it but couldn't reinstall again successfully. I retried the installation multiple times but to no avail.

After taking a long time trying to set up Azure Sphere Device Communication Service it eventual

[2019-09-02 17:00] RadoslavGatev commented on #147
Sorry, just realized I posted it in the docs repo. The problem is not related to docs. So if this is not the right place, feel free to close it.

[2019-09-02 18:31] Alberto-Vega-MSFT commented on #146
@xiongyu0523 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-02 19:32] MicahMcKittrick-MSFT commented on #147
Thanks for the update @RadoslavGatev I will go ahead and close.

[2019-09-02 19:32] #147 closed

[2019-09-02 20:17] richardtaylorrt commented on #147
(Linking this [MSDN forum issue](https://social.msdn.microsoft.com/Forums/en-US/32d45a41-44b2-4669-9362-36b605c68069/problem-sdk-installation-fails-because-azure-sphere-device-communication-service-failed-to-start?forum=azuresphere).)

[2019-09-03 05:26] AshokPeddakotla-MSFT commented on #116
@ozhernan As mentioned above this will be addresses in the next doc update. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-03 12:03] jaisantoshd opened #148 "issue with restart"
Hi, I'm using Azure sphere from past few days, when I'm pressing restart or restarting azure sphere using command prompt, it is re-running the previous program by itself. I have no idea how to stop it. Hoping to get a help ASAP.

[2019-09-04 03:49] MicahMcKittrick-MSFT commented on #148
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 08:51] AshokPeddakotla-MSFT commented on #148
@jaisantoshd Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuresphere) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azuresphere) as it could be better place to get help on your scenar

[2019-09-04 11:20] jaisantoshd commented on #148
the issue I'm facing is with my Azure sphere. I don't think it has to do anything with any code. When i did reboot it stopped because the flash memory got erased, **so may i know any command to erase flash memory?**

[2019-09-04 11:26] jaisantoshd commented on #148
https://github.com/VMinute/AzureSphereSamples
The link for the project which im trying to copy

[2019-09-05 14:38] pschoenke opened #149 "Azure Sphere - unsure how to select a tenant"
Hello:
I'm following the OS installation procedure outlined at this link:
https://docs.microsoft.com/en-us/azure-sphere/install/install-os
I've tried the "azsphere device recover" and it goes through the whole process, but when I try the "azsphere device show-ota-status" command, I get this feedback:
"C:\Users\039641\Documents>azsphere device show-ota-status
Found 3 Azure Sphere tenants:
 --> 'avn

[2019-09-05 18:44] Alberto-Vega-MSFT commented on #149
Hi please see the select command usage example here: https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-tenant#select

[2019-09-06 04:43] thecodemonk opened #150 "This page suggests that you must update the OS before configuring networking. That's not possible."
Just got a board, newest SDK installed as of today, and I have an older version of the OS. But it will NOT update the OS until it is connected to my wifi, which the page clearly states at the top that you need to update the OS before continuing.

I think you need to review the steps to this process. You need to be signed in, claim the device, configure networking, then reset the device for it to u

[2019-09-06 06:39] AshokPeddakotla-MSFT commented on #148
@jaisantoshd You can [recover the system software](https://docs.microsoft.com/en-us/azure-sphere/deployment/recover) by using **azsphere device recover** command.

The following table lists the memory available to Azure Sphere applications that are running on an MT3620 chip.

![image](https://user-images.githubusercontent.com/44426435/64406008-4e628380-d09e-11e9-83c1-3526fd228959.png)

[2019-09-06 09:33] AshokPeddakotla-MSFT commented on #119
@pennyo Can you please review this feedback and provide your suggestions?

[2019-09-06 10:25] AshokPeddakotla-MSFT commented on #148
@jaisantoshd Please share the link of the document on which above document feedback request is created.
Also, you have mentioned app kept re-starting when device reboots. That’s working as designed and if you need to manually control the app during development, you can control start/stop of the app using the commands described in the documentation [Sideload and debug an image packaged by Visual St

[2019-09-06 10:34] jaisantoshd commented on #148
Hi Ashok, Thanks a lot for giving me your time.
What I mean by "When i did reboot it stopped because the flash memory got
erased"? Does your app get deleted?
By this I mean - when i used azsphere device recover command the device
didn't restart the program.
But the major issue I'm facing now is - this error- Id returned 1 exit
status. I'm  not able to build any program other than that blink exampl

[2019-09-06 11:55] AshokPeddakotla-MSFT commented on #150
@thecodemonk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-09 18:05] Alberto-Vega-MSFT commented on #149
Hi @pschoenke did you get a chance to look into the doc provided in the previous comment?

[2019-09-09 19:51] pennyo commented on #149
@pschoenke If you're unsure which of the existing tenants to choose, ask someone in your organization. Typically an organization has only one tenant, and you can't move a device to a different tenant after you've claimed it, so be sure you claim it into the appropriate tenant.

[2019-09-09 22:10] dippas123 commented on #62
I'm still getting this:

Tried all the steps bar removing windows defender....

1>------ Build started: Project: AzureIoT, Configuration: Debug ARM ------
1>In file included from sample_hardware.h:13,
1>                 from main.c:36:
1>mt3620_rdb.h:10:10: fatal error: ..\..\..\mt3620\inc\hw\mt3620.h: No such file or directory
1> #include "..\..\..\mt3620\inc\hw\mt3620.h"
1>          ^~~~~~~~~~~~

[2019-09-10 01:32] kriston opened #151 "Will not install on Visual Studio 2017, Version 15.9.1"
When installing on a system running Visual Studio 2017, Version 15.9.1, the following message appears:
"Setup Failed
This product requires Visual Studio 2017, Version 15.9 or newer."

System: Windows 10 Pro 1903

Log attached.

[dd_VC_AzureSphere_20190909212607.log](https://github.com/MicrosoftDocs/azure-sphere-issues/files/3593229/dd_VC_AzureSphere_20190909212607.log)

[2019-09-10 05:01] AshokPeddakotla-MSFT commented on #148
@jaisantoshd Since you have created an [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/3088131a-3ed0-4bbd-a2e4-b786c4a9b455/issue-while-reset-or-restart?forum=azuresphere) and to avoid duplicate efforts, we will continue the discussion from there.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2019-09-10 05:01] #148 closed

[2019-09-10 06:00] AshokPeddakotla-MSFT commented on #151
@kriston Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-09-10 08:49] richardtaylorrt commented on #62
Hi @dippas123 - this thread is closed, and was about an issue with different symptoms to yours.  So, to ensure a response, it might be best for you to create a new issue or raise the question on our [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuresphere).  Thanks.

[2019-09-10 14:58] pennyo commented on #142
@Ravenwater Thank you!

[2019-09-10 18:09] yuehuang010 commented on #151
Hello, could you verify if VS has a pending restart?

[2019-09-10 18:43] kriston commented on #151
There is no document. I submitted this issue per the request of Microsoft.There was also no pending restart.The installer cannot identify the latest version of Visual Studio 2017.Kris
-------- Original message --------From: AshokPeddakotla-MSFT <notifications@github.com> Date: 9/10/19  02:00  (GMT-05:00) To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com> Cc: Kriston <me

[2019-09-10 19:58] bawilless opened #152 "Feedback on the troubleshooting guide"
First off, this is an awesome document!  It contains great details on what to look for and what to do when encountering issues.  I have some feedback that I think would made the documentation even better.

1.  Consider moving the "Failure to create three COM ports" before the "Check the TAP-Windows adapter configuration" section.  I've helped lots of Azure Sphere students who had connectivity prob

[2019-09-10 20:00] pennyo commented on #152
@bawilless Thanks for the feedback! Those are great suggestions for things, and we'll add them to our backlog.

[2019-09-11 16:27] javagoza opened #153 "non-NDA MT3620 datasheet"
Mediatek has released a non-NDA MT3620 datasheet:
https://www.mediatek.com/products/azureSphere/mt3620
MT3620-Datasheet-v1.0.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32117582-c78b-3495-da7f-8427aff8e957
* Version Independent ID: 3e771f90-da18-51bb-cd56-455f4d828e69
* Content: [MT3620 Support Status - Azure Sp

[2019-09-11 17:27] pennyo commented on #153
@javagoza Thanks for the update!

[2019-09-11 20:27] Alberto-Vega-MSFT commented on #149
@pschoenke Any updates? Were you able to resolve the issue?

[2019-09-12 00:27] olegkhar commented on #151
@kriston
Can you please run `"%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe" -format json`, and paste its output here?

[2019-09-12 01:56] kmstory commented on #150
@thecodemonk if you 'azsphere device recover' from the Azure Sphere Developer Command Prompt with the board connected over USB, your computer will download the latest OS and update it over USB.

[2019-09-12 03:13] kriston commented on #151
@olegkhar

[code]

[2019-09-12 05:16] thecodemonk commented on #150
@kmstory I think I saw that in another page somewhere, but if one is following all the steps in the order listed, they will probably not see, or do that step. If I remember,  they are told to run that command if it says their device is version is to old. My device specifically said, as an output to a previous step, that I needed to configure networking before it would update.

While most of us are

[2019-09-12 05:22] olegkhar commented on #151
@kriston
Thanks!  Can you please run it again with these parameters: `-all -prerelease -format json`

[2019-09-13 13:18] kmstory commented on #150
@thecodemonk those instructions are on the "Update the OS" page, 3 pages before this one in the instructions: [https://docs.microsoft.com/en-us/azure-sphere/install/install-os](https://docs.microsoft.com/en-us/azure-sphere/install/install-os)
So if someone is following the "Install" section of the docs in order, they'll update their board before they even set up an Azure account.

[2019-09-13 15:33] thecodemonk commented on #150
Then perhaps that's the page with the issue? Step 4:
If the output from the preceding command shows that the device is running an unknown release, a deprecated release, or a TP release, you'll need to run the recovery procedure to update it

When I ran that command the output said it was ready to update but needed to be connected to a network first. It never said I was on a unknown or deprecated r

[2019-09-13 16:10] bawilless opened #154 "Documentation"
When private developers need to create a new Azure Sphere Tenant, this is the documentation where they start.  I've never had to create an Azure Sphere Tenant, because my organization already had once setup.  But I've been seeing lots of on-line comments around issues with setting up Azure Sphere Tenants, so I thought I would use a personal email address and setup a new Azure Account and try to cr

[2019-09-13 16:23] bawilless opened #155 "Clarify if the device used to create a tenant needs to be unclaimed"
Under step 1.  Connect an Azure Sphere device to your PC by USB.

A note explaining details about the device you're connecting to the PC would be helpful.  Does this device need to be an "unclaimed" device?  The documentation states that each Azure Sphere device can be used to create one and only one tenant, but it does not say anything about the status of that device being used to create the tena

[2019-09-13 17:10] NavtejSaini-MSFT commented on #155
@bawilless Thanks for the question. We are looking into this and will get back to you regarding this.

[2019-09-13 17:12] NavtejSaini-MSFT commented on #154
@bawilless Thanks for the feedback. We are checking this and will get back to you.

[2019-09-13 17:17] kmstory commented on #150
I agree that the "Update the OS" page should be modified. I forget what mine said on that step, but I remember that I skipped the recover at first. Then, when I tried to claim mine, it kept giving me errors saying that the device was waiting/trying to update. I think the only reason I ended up fixing it is because the page is named "Update the OS", even though the instructions aren't very clear.

[2019-09-13 19:11] thecodemonk commented on #150
I agree with that. It probably would have gone smoother for me as well if it was that clear that if it was not up to date, that I can easily just do that command.

[2019-09-14 00:03] Alberto-Vega-MSFT commented on #155
@bawilless Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-14 00:08] Alberto-Vega-MSFT commented on #154
@bawilless Thanks for the feedback and I agree with you that we have an opportunity to make this document clearer. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-15 17:59] pennyo commented on #155
@bawilless Great question! We plan major updates to setup/tenant/claiming documentation in an upcoming release and will address this in that release.

[2019-09-17 04:27] AshokPeddakotla-MSFT commented on #155
@bawilless As mentioned, we will address this and update the doc in an upcoming release.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-17 04:27] #155 closed

[2019-09-18 06:29] shijiong opened #156 "Can we use two Uarts in one application"
Dear Team,

It seems that we can use multiple uarts in our application. However, when i set the uart capability in Application manifest settings as
 "Uart": [ "ISU0, ISU1" ],
I will get "Device would not sideload app: Application manifest specifies peripherals that use the same underlying pin (DeviceClientException)" error.
So, does this mean that one high A7 application can only use one uart?

Th

[2019-09-18 07:03] olegkhar commented on #118
@DoctorWho8
If you are still experiencing the error starting the Communications Service during installation, can you please look in %TEMP% for log files `dd_VC_AzureSphere_*_TapDriverInstaller_messages.log`, and let us know their contents? Thank you.

[2019-09-18 09:25] DoctorWho8 commented on #118
I will next time. At the moment, I am busy with other things and have temporarily put the kit aside. We can close this case and I'll open a fresh one later.

[2019-09-18 09:26] DoctorWho8 commented on #118
In fact I'll do that. I am done with the issue,.

[2019-09-18 09:26] #118 closed

[2019-09-18 09:43] AshokPeddakotla-MSFT commented on #156
@shijiong Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-18 11:45] AshokPeddakotla-MSFT commented on #151
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-18 11:45] #151 closed

[2019-09-18 17:51] bawilless commented on #156
I've seen this issue before.

Each ISUx device consumes a block of pins on the device.  In the case of ISU0, GPIO 26, 27, 28, and 29 are all considered part of the ISU0 block.  So if your application is using ISU0 and only using the TX and RX pins (shared with GPIO 26 and 28) your application can't use the other pins in the ISU0 block (GPIOs 27 and 29) even though your not using them for the ISU0

[2019-09-19 00:25] shijiong commented on #156
@AshokPeddakotla-MSFT Dear friend, I've tried this and the problem still exists.

[2019-09-19 07:10] shijiong commented on #156
@AshokPeddakotla-MSFT @bawilless
Thank you very much for all your help. Now the issue is resolved.
First of all, we should use "Uart": [ "ISU0", "ISU1" ]  instead of "Uart": [ "ISU0, ISU1" ] in the Application manifest settings. So, we should modify the docs page on https://docs.microsoft.com/en-us/azure-sphere/app-development/uart.
Secondly,  any try to use GPIOs 26 - 29 (ISU0) and GPIOs 31 - 34

[2019-09-19 07:13] shijiong opened #157 ""Uart": [ "ISU0, ISU1" ] should be modified to "Uart": [ "ISU0"," ISU1" ]"
[Enter feedback here]
According to the test, the uart capability in Application manifest settings should be changed to
"Uart": [ "ISU0", "ISU1" ] instead of "Uart": [ "ISU0, ISU1" ] if user want to use both Uart0 and Uart1 in one A7 application.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2f13a7-82f4-418b-6e28-df52

[2019-09-19 09:43] AshokPeddakotla-MSFT commented on #156
@shijiong Thanks for the confirmation. Glad to hear that your issue is resolved.
@pennyo Please review the above suggestions and update the doc as appropriate.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-19 09:43] #156 closed

[2019-09-19 19:47] jeffgar opened #158 "An image with the same ID ('72089893-1888-4297-a9f8-5c534c9f8ac7') already exists."
When trying to update a feed I get an error saying that the image already exists.  However it isn't clear how to resolve that.  Do I need to change something, increment a version perhaps?

Thanks,
Jeff

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ef8942-08f8-51b6-d3ef-85652e65b03d
* Version Independent ID: 1a567fe3

[2019-09-19 21:24] gowribhuthanatha opened #159 "[Warning]No Azure Sphere tenants found under the selected AAD user"
Hi, I created an Azure sphere tenant. After that I try to log in from the Azure Sphere Developer Command Prompt Window and I get the following Warning: No Azure Sphere tenants found under the selected AAD user.

Can you please let me know where am I going wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddb0412b-b

[2019-09-19 22:35] Karishma-Tiwari-MSFT commented on #159
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-19 23:35] Alberto-Vega-MSFT commented on #159
Hi @gowribhuthanatha Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author?

[2019-09-20 03:34] Alberto-Vega-MSFT commented on #158
@jeffgar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-20 14:17] bawilless commented on #158
I've encountered this issue before and was able to resolve the issue by changing the name field in the app_manifest.json file.  It looks like AS3 identifies application builds by the ComponentId and the Name fields in the app_manifest.json file.

 "Name": "MyNewUniqueName",

I use the name field in conjunction with my application version string, that is I make sure they match before building a new

[2019-09-20 18:08] Alberto-Vega-MSFT commented on #157
Linking the conversation here: https://github.com/microsoftdocs/azure-sphere-issues/issues/156

[2019-09-20 21:40] Alberto-Vega-MSFT commented on #159
@gowribhuthanatha Did you get to see my previous message? Are you still seeing this issue?

[2019-09-20 23:18] abrahamiab commented on #152
Yo tuve la siguiente experiencia, realice la desinstalación, al volver a instalar este me marco erro al finalizar "azure sphere device communication service failed to start...." La solución en mi caso fue la siguiente.
1. Durante la instalación note que se creaba un nuevo adaptador de red de tipo "Tap-Windows Adapter V9" pero con el nombre Ethernet 1... en este punto actualice el nombre por Azure

[2019-09-20 23:20] abrahamiab commented on #140
Yo tuve la siguiente experiencia, realice la desinstalación, al volver a instalar este me marco erro al finalizar "**azure sphere device communication service failed to start....**" La solución en mi caso fue la siguiente.

Durante la instalación note que se creaba un nuevo adaptador de red de tipo "**Tap-Windows Adapter V9**" pero con el nombre Ethernet 1... en este punto actualice el nombre por

[2019-09-21 00:09] DoctorWho8 commented on #140
abrahamiab
You said "I had the following experience, I did the uninstallation, when reinstalling this I was wrong at the end "azure sphere device communication service failed to start ...." The solution in my case was the following.

During the installation I noticed that a new network adapter of the "Tap-Windows Adapter V9" type was created but with the Ethernet name 1 ... at this point I updated

[2019-09-24 09:20] AshokPeddakotla-MSFT commented on #157
@shijiong Thanks for the feedback. [PR](https://github.com/MicrosoftDocs/Azure-Sphere-Docs-pr/pull/113) has been created to update the doc and changes will go live once it has been merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-24 09:20] #157 closed

[2019-09-24 20:40] Alberto-Vega-MSFT commented on #158
@jeffgar was the previous suggestion helpful?

[2019-09-24 21:03] Alberto-Vega-MSFT commented on #159
Hi @gowribhuthanatha do you still need help?

[2019-09-24 22:07] pennyo commented on #150
Thank you for your feedback. The Azure Sphere team continues to work on the start-up experience and is committed to improving it.

[2019-09-24 22:24] #153 closed

[2019-09-25 16:16] gowribhuthanatha commented on #159
Thank you. I was able to successfully create a  tenant now.

Regards,

Gowri B

________________________________
From: Alberto Vega <notifications@github.com>
Sent: 24 September 2019 14:03
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: gowribhuthanatha <gowribhuthanathapillai@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-sp

[2019-09-25 18:42] gowribhuthanatha commented on #159
Hi Albreto,

I am trying to create a tenant as per the documentation below:

https://docs.microsoft.com/en-us/azure-sphere/install/create-tenant

but i get the following error:
[https://docs.microsoft.com/en-us/media/logos/logo-ms-social.png]<https://docs.microsoft.com/en-us/azure-sphere/install/create-tenant>
Create an Azure Sphere tenant | Microsoft Docs<https://docs.microsoft.com/en-us/azure-sp

[2019-09-25 19:00] gowribhuthanatha commented on #159
adding to my previous email, please find the additional log as below:
C:\Users>azsphere tenant -v create --name MyAzureSpherePOCTenant
Azure Sphere Utility version 19.5.4.53731
Copyright (C) Microsoft Corporation. All rights reserved.

Start time (UTC): Wednesday, 25 September 2019 18:48:15
verbose: Creating new Azure Sphere tenant with name 'MyAzureSpherePOCTenant'.
verbose: No Azure Sphere tenan

[2019-09-25 19:04] bawilless opened #160 "Documentation needs to specify for Visual Studio 2019, you must install the "Linux development with C++" workload, or the SDK will not install"
I ran into this issue myself and I've been helping others having issues installing the Azure Sphere tools.  On this page it states that for VS installations "You can install any workloads, or none."  While this is true for VS2017, this is not true for VS2019.  In my experience if you install VS2019 with no workloads, then the Azure Sphere SDK will not install.

I recommend trying to install VS2019

[2019-09-25 20:45] Alberto-Vega-MSFT commented on #160
Hi @bawilless Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-25 20:54] Alberto-Vega-MSFT commented on #158
@jeffgar Since we haven't heard back from you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.
@bawilless Thanks for the help!

[2019-09-25 20:54] #158 closed

[2019-09-25 21:01] pennyo commented on #160
We are looking into this and will update the issue when we have more information.

[2019-09-25 22:48] olegkhar commented on #160
@bawilless
We're sorry to hear that the first installation attempt didn't work for you.  This scenario is supported, and we're interested in learning why.  There might still be logs on your system that will help us with our investigation; they can be collected by running the VSCollect tool at https://aka.ms/vscollect [output stored as `%TEMP%\vslogs.zip`].

The best way to share the logs with us i

[2019-09-25 23:36] Alberto-Vega-MSFT commented on #159
Hi @gowribhuthanatha You can only create a tenant once using this device, so subsequent attempts to create a tenant will fail.

Once you create a tenant it will "live" in the AAD account you are logged in at the moment of creation.  In order to find the tenant you originally created you have to log in to the correct AAD account.

[2019-09-26 15:27] gowribhuthanatha commented on #159
Hi Alberto, From your reply it seems that this device has been claimed by some other tenant. is there any way to figure out which is the account/tenant that owns this device at present?
Thank you

Regards,

Gowri B

________________________________
From: Alberto Vega <notifications@github.com>
Sent: 25 September 2019 16:36
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.c

[2019-09-26 17:21] Alberto-Vega-MSFT commented on #159
@gowribhuthanatha I don't think there is a way for you to do this. Please ask the people in your team about the tenant they used.

[2019-09-26 17:41] gowribhuthanatha commented on #159
Thank you very much for the support.

Regards,

Gowri B

________________________________
From: Alberto Vega <notifications@github.com>
Sent: 26 September 2019 10:21
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: gowribhuthanatha <gowribhuthanathapillai@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-sphere-issues] [Warning]N

[2019-09-26 17:45] Alberto-Vega-MSFT commented on #159
@gowribhuthanatha Thanks for reaching out. If you have any feedback about the docs please feel free to reach out here or if you need support please open a question on MSDN forum https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuresphere

[2019-09-26 17:45] #159 closed

[2019-10-05 02:14] kristianjaeger commented on #119
Yes, these steps did not work for me either.  Step 3 "azsphere device show-ota-status" seems to assume that the user's account is already setup. Thanks.

[2019-10-05 18:26] ronitsrma16 opened #161 "Login Error"
Hii,
I recently got an Azure MT3620. when I open my Azure sphere command prompt and try to see OTA version one login window pop-out but when I logged in with my Microsoft account, it's saying

![azure error](https://user-images.githubusercontent.com/43707140/66259185-adb1d180-e7cb-11e9-8503-4b43d1101b10.JPG)

my email does not exist in tenant. To know full error open the image linked above.

[2019-10-05 18:49] richardtaylorrt commented on #161
Hi - you can't currently use a personal account (such as @outlook.com) with Azure Sphere.  For more advice on this, and how to create a work/school account that will work, please see [here](https://docs.microsoft.com/en-us/azure-sphere/install/azure-directory-account).

[2019-10-06 10:59] ronitsrma16 opened #162 "OTA deployment"
Hii
After giving feed command I got a message that command completed successfully then I pressed Reset button but still LED is not blinking. Then I checked with the image list-installed command and it's saying NO installed images.
can you tell where could be the problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2019-10-06 15:11] RohitMungi-MSFT commented on #162
@ronitsrma16 Could you please let us know the documentation link that you followed for this setup. This will help us direct you to the right team.

[2019-10-06 15:34] ronitsrma16 commented on #162
https://docs.microsoft.com/en-us/azure-sphere/quickstarts/qs-first-deployment

[2019-10-07 06:42] sergaz-msft commented on #161
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-07 06:42] #161 closed

[2019-10-07 06:55] sergaz-msft commented on #162
Hi @ronitsrma16 can you share with us the output of performing the different steps?

1. azsphere feed list
2. azsphere device link-feed --dependentfeedid 3369f0e1-dedf-49ec-a602-2aa98669fd61 --imagepath <path-to-image> --newfeedname <unique-name>

Also make sure you are connected to the internet so that the application can be installed OTA. It can take some time. What's the result of:

1. azsphere

[2019-10-07 09:24] pennyo commented on #119
Thank you for your feedback. Thew Auzre Sphere teamcontinues to work on the start-up experience and  is committed to improving it.

The documentation is incorrect. The 'azsphere device show-ota-status' command requires an account and tenant.  You need to update the OS manually only if you are using one of the original Seeed development kits that has never been claimed. This has been corrected for

[2019-10-07 19:41] ronitsrma16 commented on #162
I think the problem is something else. When I'm trying to connect my device with my mobile hotspot my device is working fine but when trying to connect my D-Link modem its not able to connect and I think that is the reason I'm not able to get OTA updates.

The command to connect to wifi is :

C:\Users\CG-DTE\Documents>azsphere device wifi add --ssid "Sai sadan 5th" --key "6305253810"-
ID

[2019-10-08 13:50] sergaz-msft commented on #162
Hi @ronitsrma16 ,
I am glad that the original issue is now resolved.

Please [see here](https://docs.microsoft.com/en-us/azure-sphere/install/configure-wifi#set-up-wi-fi-on-your-azure-sphere-device) for more details around limitations of Wifi, eg:

- Azure Sphere devices do not support WEP, nor can they connect to hidden SSIDs. Network SSIDs are case-sensitive

If your issue persists with your mod

[2019-10-08 13:50] #162 closed

[2019-10-08 13:53] sergaz-msft commented on #119
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-08 13:53] #119 closed

[2019-10-10 16:00] irwincs opened #163 "Moving from Prototype to Manufacturing"
We've prototyped a device using the MT3620 and want to initiate the manufacturing process. We have a reference design that leverages the MT3620 and requires RS-232 to TTL conversion support and 12VDC to 5 VDC support. (https://www.irwincs.com)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a7b317d-f63d-82da-2e1a-258a9

[2019-10-10 17:54] KranthiPakala-MSFT commented on #163
@irwincs Thanks for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-10-10 22:47] sergaz-msft commented on #163
Hi @irwincs not sure I understand the question? Can you please provide more details and how it relates with the document? Thanks!

[2019-10-11 02:28] Bradley-Cooley opened #164 "Incorrect parameter when adding wifi"
The command to add wifi is incorrect.

azsphere device wifi add --ssid &lt;yourSSID&gt; --psk &lt;yourNetworkKey&gt;

The --psk parameter should be replaced with --key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5db907e3-85a6-ab65-837b-7e6a5dc12224
* Version Independent ID: dfd84d21-060c-1ba2-6341-54ed7248ae23
* Con

[2019-10-11 19:18] irwincs commented on #163
Hi António,

We are an independent software vendor and we have developed a solution using the Azure Sphere MT3620 Software Development Kit; however, it’s not clear from the documentation how to move this solution forward into manufacturing.

Do we need to work with Microsoft directly or one of Microsoft’s silicon partners?

Are you able to provide some direction?

Please advise.

Thanks and best r

[2019-10-11 19:28] Alberto-Vega-MSFT commented on #164
@Bradley-Cooley Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-11 21:02] sergaz-msft commented on #163
Hi @irwincs ,
Thanks for the clarification.

Yes, please can you reach out to us using the email AZCommunity@microsoft.com with a link to this Doc/Issue? We will follow-up with you with additional steps.

Thank you!

[2019-10-11 22:31] irwincs commented on #163
We've prototyped a device using the MT3620 and want to initiate the manufacturing process. We have a reference design that leverages the MT3620 and requires RS-232 to TTL conversion support and 12VDC to 5 VDC support. https://www.irwincs.com

We are an independent software vendor and we have developed a solution using the Azure Sphere MT3620 Software Development Kit; however, it's not clear from t

[2019-10-12 06:31] xiongyu0523 opened #165 "libtlsutils.so need to be added to project"
This page does not describe this mandatory step so compilation will fail when user try to use mutual authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75f45a46-1962-0a73-0bdd-df377f382d38
* Version Independent ID: 80147160-89c5-3683-8c4e-557b38678acf
* Content: [Connect to web services - Azure Sphere](http

[2019-10-13 04:22] YutongTie-MSFT commented on #165
@xiongyu0523
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@pennyo
Hi Pennyo, could you please check this issue and update the document if necessary? Thanks.

[2019-10-13 08:10] djaus2 opened #166 "When do you know "GPIO 9 is not accessible"?"
[Enter feedback here]
_In the section "Build and run the Blink sample" it says:
_"If you are using hardware on which GPIO 9 is not accessible, change the GPIO. For example, on the Seeed Mini Dev Board, change GPIO 9 to GPIO 7:"__
On my Seed MT3620 not making the change was correct.

So my question is on what boards should you make that change? The point needs detail.
NB: I skim read that instructi

[2019-10-13 20:49] himanshusinha-msft commented on #166
@djaus2  :Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-14 09:31] sergaz-msft commented on #163
Thank you @irwincs . I am closing this issue as we will follow-up with you on email.

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-14 09:31] #163 closed

[2019-10-14 17:40] asergaz commented on #166
@djaus Thanks for the feedback!

As the important note on this doc says:

These instructions assume that you are using hardware that follows the [MT3620 reference board design (RBD)](https://docs.microsoft.com/en-us/azure-sphere/hardware/mt3620-reference-board-design), such as the Seeed MT3620 Development Kit. If you are using different Azure Sphere hardware, consult the manufacturer's documentati

[2019-10-15 17:07] pentium10 opened #167 "mention how to read current os version"
You are saying that "If your device is already in use and is running the 18.11 OS release (or more recent), it should receive the updated OS after it connects to the internet"
You should also mention, how to check the current OS version, or link to a page where it is described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-15 18:21] pentium10 commented on #160
I installed today no workloads and everything looks fine. So no linux c++ is necessary

[2019-10-15 18:24] MarileeTurscak-MSFT commented on #167
@pentium10
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 21:01] Alberto-Vega-MSFT commented on #167
@pentium10 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-15 22:05] kkomand opened #168 "azsphere device list (unsupported) command throws an incorrect exception message"
The unsupported command below throws an exception to run "azsphere tenant migrate" which is not an available option.

C:\Users\kkomand\Documents>azsphere show-version
19.09
Command completed successfully in 00:00:00.3327300.
C:\Users\kkomand\Documents>azsphere device list
error: Failed to retrieve devices.
Trace ID: b4582d61-03fe-4353-af15-a2f1ca3b7aeb
Received HTTP response: 410 (Gone)
-> Endpoin

[2019-10-15 23:38] MarileeTurscak-MSFT commented on #168
@kkomand
Thanks for your feedback! Can you please provide the link to the document that you are following?

[2019-10-16 23:45] asergaz commented on #166
@djaus2 I had a sync with the author of this doc and understood better your feedback :)!

There is both:
1.	The [regular Seeed dev kit.](https://www.seeedstudio.com/Azure-Sphere-MT3620-Development-Kit-US-Version.html)
2.	The [mini Seeed dev kit.  ](https://www.seeedstudio.com/MT3620-Mini-Dev-Board-p-2919.html)

When on the doc says "For example, on the Seeed Mini Dev Board, change GPIO 9 to GPIO 7

[2019-10-17 13:49] asergaz commented on #168
Thanks for catching and reporting this @kkomand ! I am filing a new bug with Azure Sphere team so that we provide a better error message.

[2019-10-20 08:20] xiongyu0523 opened #169 "Each write transfer operation is limited to 4096 bytes is not an accurate description"
'write transfer' is not accurate here. As SPI is always fullduplex, if I want to read more than 4096 bytes in a transfer descriptor, I also get a -1 error. I think it is because I need write dummy data to generate clock for getting data back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f8b6aa-fcea-ac50-f15f-163db8

[2019-10-20 09:47] MarileeTurscak-MSFT commented on #169
@xiongyu0523
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-20 15:45] dtbarn opened #170 "azsphere command not recognized"
In the Windows Azure SDK Environment Command Window, executing azsphere login returns the following:

'azsphere' is not recognized as an internal or external command, operable progrsm or batch file.

This is not addressed in the troubleshooting information.  Also, in another user response, someone described the same problem but not solution was provided.

---
#### Document Details

⚠ *Do not edit

[2019-10-20 17:34] pennyo commented on #170
Azure Sphere requires the user of the Azure Sphere Developer Command Prompt, not the Windows Azure SDK Environment Command Window.
We’ll add this to the Troubleshooting topic for the next release.

From: Dan <notifications@github.com>
Sent: Sunday, October 20, 2019 9:45 AM
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: Penny Orwick <Penny.Orwick@microsoft.com>;

[2019-10-21 07:24] marcusmaker opened #171 "Use Prod SKU and Group instead of Device Id"
Wouldn't it be more consistent to use Prod SKU and Group when linking feeds, instead of Device Id?

[2019-10-21 07:33] MarileeTurscak-MSFT commented on #171
@marcusmaker thanks for your feedback! Please provide a link to the document you are following so that we can better assist.

[2019-10-21 07:33] TomaszWaszczyk commented on #85
"Its so weird for the platform to be based on Linux, but not work on Linux" so true.

[2019-10-21 10:03] dtbarn commented on #170
Thank you.  I don’t know how the wrong command window was selected.  When I search for ‘az’ now, the proper command window is available and the SDK window is not listed.

Dan

From: Penny Orwick<mailto:notifications@github.com>
Sent: Sunday, October 20, 2019 12:34 PM
To: MicrosoftDocs/azure-sphere-issues<mailto:azure-sphere-issues@noreply.github.com>
Cc: Dan<mailto:dbarnett@hotmail.com> ; Author<m

[2019-10-21 12:48] richardtaylorrt commented on #85
@jflynn129 , @TomaszWaszczyk - please see point #3 of this [blog post ](https://techcommunity.microsoft.com/t5/Internet-of-Things/Plan-for-changes-coming-to-the-Azure-Sphere-SDK-in-next-release/ba-p/916078) about upcoming changes in the new SDK.

[2019-10-21 13:11] TomaszWaszczyk commented on #85
Cool, thanks!!!!!

[2019-10-21 14:14] asergaz commented on #168
Hi @kkomand ,
We received confirmation that this issue will be fixed on next release of the SDK. See also [this blog post](https://techcommunity.microsoft.com/t5/Internet-of-Things/Plan-for-changes-coming-to-the-Azure-Sphere-SDK-in-next-release/ba-p/916078) with the plan for changes coming to the Azure Sphere SDK in next release.

Thank you again for reporting the issue! :)

We will now proceed to

[2019-10-21 14:14] #168 closed

[2019-10-21 16:13] asergaz commented on #169
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-22 16:00] pburke77 opened #172 "Enterprise WiFi"
How do we connect to wifi using a user name and password?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7768e3c0-7ead-9135-4558-938ce49f8dbb
* Version Independent ID: 825a32a0-865b-6562-3260-74b4619743b9
* Content: [Connect Azure Sphere to Wi-Fi](https://docs.microsoft.com/en-us/azure-sphere/network/wifi-including-ble

[2019-10-22 19:13] TravisCragg-MSFT commented on #172
@pburke77 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-10-24 16:09] asergaz commented on #169
Related MSDN Thread fyi: https://social.msdn.microsoft.com/Forums/en-US/36430988-1aec-414f-a4e2-2d75541d9810/transfer-size-limiation-of-spimastertransfersequential-?forum=azuresphere

[2019-10-25 00:11] Alberto-Vega-MSFT commented on #171
Hi @marcusmaker We use the link to pass your feedback to the right content author, it looks like your feedback is not for the doc but for the product itself if that is the case would you please open a feedback entry in the User Voice for Azure Sphere? https://feedback.azure.com/forums/915433-azure-sphere this process allows for your feedback to be upvoted by other customers and helps the team prio

[2019-10-25 16:58] Alberto-Vega-MSFT commented on #171
@marcusmaker Since we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-25 16:58] #171 closed

[2019-10-28 03:39] judios opened #173 "UART no reading 0x00"
I am reading data from a device through the serial port.  I am using a Max3232 converter RS232 to TTL.  The odd thing here is that when I use the read function to retrieve the data received by the UART it eliminates all the 0x00 bytes.
I have used the same converter to read data from the same device using both Arduino Mega and Raspberry PI 3 B+. With both I can read the 0x00 values.

**Reading wit

[2019-10-28 05:16] ChiragMishra-MSFT commented on #173
@judios Thanks for the feedback. As this channel is made for feedback on azure docs, can you please help us with the doc that you are following ?

[2019-10-28 15:58] Alberto-Vega-MSFT commented on #173
Hi @judios just to add to what Chirag said. We will need the link to the document you are following so we can pass the feedback to the content author. If this is not feedback for the docs. You might want to create a thread on StakOverflow, MSDN where there is a developer community that can help .

[2019-10-28 20:54] Alberto-Vega-MSFT commented on #172
@pburke77 This currently not supported please upvote this [User Voice entry](https://feedback.azure.com/forums/915433-azure-sphere/suggestions/36175345-support-for-enterprise-networks-http-s-and-wpa2-e) this will help the Sphere team prioritize.

[2019-10-29 02:29] dougjr17 commented on #114
Also about to propose AVNET SDK of Azure Sphere for new solution dev kickoff meeting tomorrow but now concerned since hard wired ethernet will be a critical requirement.

[2019-10-29 10:21] richardtaylorrt commented on #114
Hi @dougjr17 - if it helps, please note that other Azure Sphere dev kits support hard-wired Ethernet.  In particular, the [Seeed MT3620 dev kit](https://www.seeedstudio.com/Azure-Sphere-MT3620-Development-Kit-US-Version.html) has an [Ethernet shield ](http://wiki.seeedstudio.com/MT3620_Ethernet_Shield_v1.0/) available.

[2019-10-30 17:23] #172 closed

[2019-10-31 06:54] Lulixue opened #174 "Is SPI slave mode possible for next version?"
Now only SPI Master Mode supported, is there any plan for feature versions that make it possible for azure sphere board working as a spi slave ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f9eb269-0b66-ffee-7ebf-1271d958b460
* Version Independent ID: b8f0641a-6c52-a96f-7e4e-977f3a80f7e0
* Content: [Azure Sphere App

[2019-10-31 13:17] AshokPeddakotla-MSFT commented on #174
@Lulixue Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 16:31] Alberto-Vega-MSFT commented on #173
@judios We will be closing this issue for now. If you open a question on the forums please feel free to share it here and I can get you help if it doesn't get an answer there.

[2019-11-01 16:31] #173 closed

[2019-11-03 07:00] nk-gears commented on #56
I have the same issue on VS 2019 with the Blink Sample template. Any one able to resolve this?

[2019-11-03 21:26] pennyo commented on #170
Closing, as problem has been resolved.

[2019-11-03 21:26] #170 closed

[2019-11-03 21:26] pennyo commented on #160
Closing issue

[2019-11-03 21:27] pennyo commented on #164
The parameter changed to --psk with the 19.09 release.
Closing issue.

[2019-11-03 21:27] #164 closed

[2019-11-03 21:28] #160 closed

[2019-11-04 10:02] AshokPeddakotla-MSFT commented on #56
@KerryJenkins As this issue is closed long back. I suggest you , open a new issue with complete details for further help.

[2019-11-04 11:36] AshokPeddakotla-MSFT commented on #174
@Lulixue Yes, Currently Azure sphere only support [Serial Peripheral Interface (SPI)](https://docs.microsoft.com/en-us/azure-sphere/app-development/spi) in master mode. I haven't found information regarding the same. Kindly ask you to open a new feature request on azure sphere feedback forum [here](https://feedback.azure.com/forums/915433-azure-sphere?query=spi). As this is out of the scope of thi

[2019-11-04 11:36] #174 closed

[2019-11-04 16:51] pennyo commented on #146
This will be fixed in the 19.10 docs release.

[2019-11-04 16:51] #146 closed

[2019-11-05 02:45] Lulixue commented on #174
https://feedback.azure.com/forums/915433-azure-sphere/suggestions/38958154-enable-spi-slave-mode

[2019-11-07 20:06] Gilgamesh82 opened #175 "Command "azsphere device app stop --componentid <ComponentId>" is incorrect"
The command "azsphere device app stop --componentid <ComponentId>" is incorrect.

The command should be:
"azsphere device sl stop --componentid <ComponentId>"

"sl" instead of "app".

Also true for the command:
"azsphere device app start --debug --componentid <ComponentId>"

[2019-11-07 20:11] Gilgamesh82 opened #176 "The command: "arm-poky-linux-musleabi-gdb HelloWorld_HighLevelApp.out" is incorrect."
The command: "arm-poky-linux-musleabi-gdb HelloWorld_HighLevelApp.out" is incorrect.

You do not need to specify the app name ("HelloWorld_HighLevelApp.out" in this case).  Simply running arm-poky-linux-musleabi-gdb is sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0db551c-2484-3af9-ac08-d9978e82b445
* Ver

[2019-11-07 21:37] YutongTie-MSFT commented on #175
@Gilgamesh82
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-07 23:17] pennyo commented on #175
The documentation accurately describes the contents of the 19.10 SDK, which was released yesterday. It is correct. If you haven't updated, please see [What's New](https://docs.microsoft.com/azure-sphere/product-overview/whats-new) to learn about new features and how to update  your installation.

[2019-11-07 23:42] Alberto-Vega-MSFT commented on #176
@Gilgamesh82 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-08 00:13] Gilgamesh82 commented on #175
Ah!  OK Thanks!  I'll take a look!

[2019-11-08 07:39] GiovanniFiorini opened #177 "Error"
This CLI command doesn't exist:

azsphere device prep-sideload --enablertcoredebugging

Paragraph: https://docs.microsoft.com/en-us/azure-sphere/install/qs-real-time-application#prepare-your-device-for-development-and-debugging

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57a9ebb5-700e-4490-11de-66a0b0fbf07a
* Versio

[2019-11-08 09:21] AshokPeddakotla-MSFT commented on #177
@GiovanniFiorini Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-08 09:26] AshokPeddakotla-MSFT commented on #175
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-08 09:26] #175 closed

[2019-11-08 21:47] Gilgamesh82 opened #178 ""azsphere device prep-sideload --enablertcoredebugging" is not a valid command line option"
With the 19.10 version of the SDK, I get this error when I run the command above:

'prep-sideload' is not a valid value for the 'Operation' command line option.
  Possible argument values include: 'app', 'capability', 'claim', 'enable-cloud-test', 'enable-development', 'image', 'list', 'list-attached', 'manufacturing-state', 'recover', 'restart', 'show', 'show-attached', 'show-count', 'show-deploy

[2019-11-08 23:41] Alberto-Vega-MSFT commented on #178
@Gilgamesh82 Thanks for the feedback!  We are currently investigating and will update you shortly.

[2019-11-09 08:58] xiongyu0523 opened #179 "After move to 19.10, all projects are default cmake based. The picture showing linker setting for libcurl show be replaced by a change in cmake file"
better to review the whole document to see if similar improvement should be made

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75f45a46-1962-0a73-0bdd-df377f382d38
* Version Independent ID: 80147160-89c5-3683-8c4e-557b38678acf
* Content: [Connect to web services - Azure Sphere](https://docs.microsoft.com/en-us/azure-s

[2019-11-09 19:22] YutongTie-MSFT commented on #179
@xiongyu0523
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 01:10] xiongyu0523 opened #180 "Page need to be updated after 19.10"
As title explained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c6fff5c-8c9b-cdf9-5df3-4b211c91c0a9
* Version Independent ID: 9a2f0e11-0532-3194-423f-84e79f47dd07
* Content: [Azure Sphere CLI login command](https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-login)
* Content Source: [AzureSphere/articl

[2019-11-11 06:20] AshokPeddakotla-MSFT commented on #178
@Gilgamesh82 The documentation accurately describes the contents of the 19.10 SDK, which was released recently. Yes, you are correct. we are in the process of updating the documentation and changes will be available as earliest. Please see [What's New](https://docs.microsoft.com/en-us/azure-sphere/product-overview/whats-new) to learn about new features and how to update your installation.

We will

[2019-11-11 06:58] AshokPeddakotla-MSFT commented on #180
@xiongyu0523 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-11 17:25] pennyo commented on #179
Thank you for your feedback! We'll fix this in upcoming release of the documentation.

[2019-11-11 17:29] pennyo commented on #178
To expand on the answer: the --enablertcoredebugging option requires admin privileges because setting up for RT core debugging requires the installation of software that, in turn, needs admin privileges.

[2019-11-11 17:29] #178 closed

[2019-11-11 22:55] YutongTie-MSFT commented on #179
@pennyo
Thanks a lot!

@xiongyu0523
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-11 22:55] #179 closed

[2019-11-12 00:06] pennyo commented on #176
@Gilgamesh82 Are you able to set breakpoints if you start the debugger without the target?

[2019-11-12 05:32] AshokPeddakotla-MSFT commented on #177
@GiovanniFiorini Yes, you are correct. We are in the process of updating the documentation with the contents of the 19.10 SDK, which was released recently and changes will be available as earliest. Please see [What's New](https://docs.microsoft.com/en-us/azure-sphere/product-overview/whats-new) to learn about new features and how to update your installation.

Please refer : https://github.com/Micr

[2019-11-12 05:32] #177 closed

[2019-11-12 17:13] gregsmi opened #181 "Typo"
"New features and changes in the 19.10 SDK release
The *19.09* release"...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0ed2e36-f487-37a8-8cff-05022dc22770
* Version Independent ID: 4503a566-0ccf-063f-6855-0b22cc3bc5fe
* Content: [Release Notes 19.09](https://docs.microsoft.com/en-us/azure-sphere/resources/release-n

[2019-11-12 17:15] pennyo commented on #181
Good catch! Thanks for the feedback. We'll fix this the next time we publish the docs.

[2019-11-13 06:53] AshokPeddakotla-MSFT commented on #180
@pennyo Please check this and update the documentation.

[2019-11-13 18:40] pennyo commented on #180
@xiongyu0523 Thanks for the feedback. We'll fix this in the next publication of the docs.

[2019-11-14 05:17] AshokPeddakotla-MSFT commented on #180
@xiongyu0523 As Penny mentioned, this will be fixed in the next documentation updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-14 05:17] #180 closed

[2019-11-14 08:39] AshokPeddakotla-MSFT commented on #181
@gregsmi As Penny Mentioned, We will fix this documentation in the next release.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-14 08:39] #181 closed

[2019-11-14 08:40] AshokPeddakotla-MSFT commented on #176
@Gilgamesh82 Have you had a chance to see the above response?

[2019-11-14 11:39] bawilless opened #182 "Consider adding another section talking about the "Azure Sphere Device Communication" Service"
Recently I've encountered a few Azure Sphere students who could not communicate with their Azure Sphere Dev kit.  In a few cases, simply restarting the Azure Sphere Device Communication service resolved the issue.  This would be a nice addition to this troubleshooting guide.

You kind of address this under the "Device does not respond" section.  This is a simple thing to try when the PC can't talk

[2019-11-14 12:21] xiongyu0523 opened #183 "PartnerGUID should be ComponentId to align with terminology"
When I first read this document, I do not know what is PartnerGUID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11552bd6-1719-603b-bc32-de16461da47f
* Version Independent ID: 1f6a56c4-ef01-2d47-57a2-e80cece5347a
* Content: [Sideload an application for testing - Azure Sphere](https://docs.microsoft.com/en-us/azure-sph

[2019-11-14 12:26] xiongyu0523 opened #184 "sideload a production-signed application do not need 'appdevelopment capability'"
'To sideload an SDK-signed application, or to start, stop, debug, or delete an SDK-signed application or a production-signed application, the device must have the appdevelopment capability'

This description is confused, a production-signed application should be able to side to unclaimed device without appdevelopment capability.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-11-14 12:43] AshokPeddakotla-MSFT commented on #182
@bawilless Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-14 12:44] AshokPeddakotla-MSFT commented on #183
@xiongyu0523 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-14 12:45] AshokPeddakotla-MSFT commented on #184
@xiongyu0523 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-14 17:56] Gilgamesh82 commented on #176
IIRC yes.

[2019-11-15 07:24] AshokPeddakotla-MSFT commented on #183
Assigning this to the author @pennyo to review this and update the documentation as appropriate.

[2019-11-15 15:11] asergaz commented on #166
Hi @pennyo can you please follow-up on this issue? Thanks

[2019-11-15 15:13] asergaz commented on #165
Hello @pennyo can you please follow-up on this request? Thanks!

[2019-11-15 22:35] pennyo commented on #165
This is fixed in the upcoming release of the docs.

[2019-11-15 22:35] #165 closed

[2019-11-15 22:39] pennyo commented on #152
@bawilless We updated the troubleshooting docs in the last release to incorporate much of your feedback above. Thank you for the suggestions!

[2019-11-18 06:58] AshokPeddakotla-MSFT commented on #184
Adding author @pennyo to confirm on this and update the doc as appropriate.

[2019-11-18 07:02] AshokPeddakotla-MSFT commented on #182
@pennyo Please review this feedback.
@bawilless We will incorporate the changes in the next release of docs if appropriate.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-18 07:02] #182 closed

[2019-11-18 16:24] pennyo commented on #154
@bawilless Thanks again for your feedback. When we changed the user/tenant authentication model at the 19.10 release, we revised much of this material. Our goal was to make both the underlying model and the documentation clearer and easier to use. Please let us know if you feel it needs additional changes.

[2019-11-21 01:06] rickgregory1905 opened #186 "Add Remove Deployment Topic to this page"
It would be helpful following the https://docs.microsoft.com/en-us/azure-sphere/install/qs-first-deployment#create-the-deployment topic to have a topic describe how to remove the imagepackage from the deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f06ff328-8ce0-ed53-ec16-77557571701c
* Version Independent I

[2019-11-21 04:47] AshokPeddakotla-MSFT commented on #186
@rickgregory1905 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 19:40] pennyo commented on #176
To enable full source code debugging, you need to pass the .out app binary from your build as a parameter to gdb.

[2019-11-21 19:40] #176 closed

[2019-11-21 22:54] pennyo commented on #183
@xiongyu0523 Thank you for your feedback. We'll update this in the next version of the documentation.

[2019-11-21 22:54] #183 closed

[2019-11-22 11:44] AshokPeddakotla-MSFT commented on #186
@rickgregory1905  We'll update this in the next version of the documentation if appropriate.
Adding author @pennyo for further review.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 11:44] #186 closed

[2019-11-22 22:50] ld0614 opened #187 "References to Project Properties"
This page and a number of other pages still reference the project properties dialog which was removed in the transition to using CMake as the primary build engine.  This is extremely confusing for new starters and also misses a key piece of information: How to discover the currently available API versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-11-23 00:54] Alberto-Vega-MSFT commented on #187
@ld0614 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-23 00:58] maseman opened #188 "cmake CMAKE_TOOLCHAIN_FILE incorrect, use AzureSphereRTCoreToolchain.cmake"
-DCMAKE_TOOLCHAIN_FILE=<path to sdk>"CMakeFiles\AzureSphere**RTCore**Toolchain.cmake"

This seems to be required to pick up the ARM GNU tools specified in ARM_GNU_PATH in order to build the HelloWorld_RTApp_MT3620_BareMetal sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d96ea0aa-11c0-c2cc-e936-eecd824bd89d
* Ve

[2019-11-23 01:07] maseman opened #189 "openocd gdb listen port is defaulted to 4444 not 3333"
Clarify example debug session to use port 4444. This is the default for the gdb connection as setup in the example NOT the usual 3333.

(Default appears to be set in C:\Program Files (x86)\Microsoft Azure Sphere SDK\Sysroots\3+Beta1909\tools\openocd\mt3620-rdb-ftdi.cfg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9

[2019-11-23 01:18] pennyo commented on #187
@ld0614 Thanks for the feedback. This will be fixed the next time we republish the docs.

[2019-11-23 01:18] #187 closed

[2019-11-23 01:30] Alberto-Vega-MSFT commented on #188
@maseman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-23 01:31] Alberto-Vega-MSFT commented on #189
@maseman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-23 01:34] pennyo commented on #188
@maseman Thank you for the feedback. This will be fixed in the next release of the documentation.

[2019-12-06 19:42] maseman opened #190 "Preview install script fails as it tests Microsoft_Azure_Sphere_SDK.tar.gz NOT Azure_Sphere_SDK_Preview_Bundle.tar.gz"
Curl download of sdk redirects SDK_TARBALL_URL to the "preview bundle".

	curl -L -O -J -v https://aka.ms/AzureSphereSDKDownload/Linux
	...
	Location: https://software-download.microsoft.com/download/pr/Azure_Sphere_SDK_Preview_Bundle.tar.gz

BUT the install script tests for "Microsoft_Azure_Sphere_SDK.tar.gz" (presumably the production name).

Temporary fix to make the preview install below.

dif

[2019-12-06 19:59] richardtaylorrt commented on #190
@maseman - thanks for raising this. We're fixing this as quickly as we can.  In the meantime, you should be able to install following [these instructions](https://docs.microsoft.com/en-us/azure-sphere/install/install-sdk-linux#install-the-sdk-without-an-internet-connection) to manually download the bundle and point the installer script at it.

[2019-12-08 14:33] galvesribeiro opened #191 "Azure Sphere SDK/Tools Mac OSX support"
Hello folks,

The recent OS/Tools/SDK release (finally) got support to non-Windows systems and VSCode. However, only Linux is supported and the more I read more I see "Mac OSX is not on our roadmap".

As mentioned on other issues, I've got all the tooling, services, CLI working on OSX by making them to target .Net Core 3.0 even before the Linux support was announced but since it is not an OSS proj

[2019-12-08 15:37] AshokPeddakotla-MSFT commented on #191
@galvesribeiro Thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2019-12-09 14:12] danlevtonyukcoax opened #192 "Getting the RF Tools package"
The documentation on this page (https://docs.microsoft.com/en-us/azure-sphere/hardware/rf-tools) says that the "RF Tools package" is available upon request.
Who do I reach out to to get access to that tool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c02b89c-3777-fbec-1e37-8f33b4a3283c
* Version Independent ID: 5cd

[2019-12-09 22:14] MarileeTurscak-MSFT commented on #192
@danlevtonyukcoax
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 01:44] Alberto-Vega-MSFT commented on #190
@maseman were you able to get unblock by following Richard's instructions?

[2019-12-10 02:50] AshokPeddakotla-MSFT commented on #191
@pennyo Could you please review this and provide your feedback?

[2019-12-10 20:51] Alberto-Vega-MSFT commented on #190
@maseman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-10 20:51] #190 closed

[2019-12-11 02:38] Alberto-Vega-MSFT commented on #192
@danlevtonyukcoax Would you please email @ AZCommunity@microsoft.com with a link to this Doc/Issue

[2019-12-12 00:22] fanshaoshan opened #194 "What will happen if "temporary" image escape from factory process"
Will it expire automatically, erased automatically? What's the difference between regular factory preload image vs factory temporary image?

[2019-12-12 05:56] AshokPeddakotla-MSFT commented on #194
@fanshaoshan Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-13 12:57] galvesribeiro commented on #191
@AshokPeddakotla-MSFT ?

[2019-12-13 15:07] richardtaylorrt commented on #191
Hi @galvesribeiro - sorry for the slow reply, and thank you for your offer of help.

We have been discussing internally.  We'd be happy to take a look at a PR for option #1, running the SDK on a Mac in a VM with USB passthrough.  Please go ahead.

We are also planning to ship our own official container for the SDK, although we don't have a specific date for this yet.  So we're not sure we want to

[2019-12-13 15:12] galvesribeiro commented on #191
Hey @richardtaylorrt, thanks for getting back. I'll make the PR for the option 1 then.

Reg the container, there are several issues related to Docker and Hyperkit today that block us from use a container and Docker for Mac with USB passthrough. So if I may suggest, it would be better for you to allocate your resources/efforts on bring the SDK natively (without container/VM) on OSX as it is way sim

[2019-12-13 21:00] richardtaylorrt commented on #191
Hi again @galvesribeiro - on talking to the team, it sounds like our docs GitHub repo isn't public yet, so you may not be able to submit a PR. If so, please feel free to just suggest some text here, and we'll see if it can be incorporated in a future docs push.  How much text do you expect it to be?  If it's a lot, the team wanted me to set expectations that it may take a while for them to process

[2019-12-16 06:04] AshokPeddakotla-MSFT commented on #194
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-16 06:04] #194 closed

[2019-12-16 08:23] AshokPeddakotla-MSFT commented on #192
Since we are discussing this offline, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-16 08:23] #192 closed

[2019-12-30 04:22] jlk opened #195 "Typo under Wi-Fi antennas section"
On the MT3620 development board user guide page - last sentence of 2nd paragraph under "Wi-Fi antennas" section

There ain't no green in the [2nd image](https://docs.microsoft.com/en-us/azure-sphere/media/mt3620-c23repositioned.png). :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 877d4170-58b8-f3a6-49f0-45b7f514b7e9

[2019-12-30 13:11] mike-urnun-msft commented on #195
@jlk Thank you for your feedback! We will review and update as appropriate.

[2019-12-30 13:46] asergaz commented on #195
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-02 04:50] AshokPeddakotla-MSFT commented on #191
@galvesribeiro As Richard suggested, please follow the suggestions.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-02 04:50] #191 closed

[2020-01-02 06:00] push7joshi opened #196 "Error during installation"
While trying to install the SDK on Raspbian:

`There was an error extracting the toolchain from '/opt/azurespheresdk/Sysroots/3/tools/exp23-appsdk-linux-blanca.sh'.`
Unsure if this is specific to the platform, working on raspberry pi 3B.
Could you provide me with some pointers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-02 11:42] asergaz commented on #196
Hello @push7joshi , thank you for your feedback.

Please see the documentation [here](https://docs.microsoft.com/en-us/azure-sphere/install/install-sdk-linux). As a prerequisite you will need "A computer running Ubuntu 18.04 LTS Edition. Only this edition is supported in the current release."

All Best

[2020-01-02 11:42] #196 closed

[2020-01-02 17:15] push7joshi commented on #196
rookie mistake, my bad.
Thanks for your prompt response

[2020-01-09 08:33] caminsha opened #197 "Other header file in Azure Sphere Blank Template"
Hi

I wanted to create a new Azure Sphere project. For developing I'm using Visual Studio Enterprise 2019.

I created a new project based on the template "Azure Sphere MT3620 blank". During the development I wanted to use the Function `Storage_GetAbsolutePathInImagePackage`.

I got an error that the function is defined implicit which makes sense when looking into the file `storage.h`. In this head

[2020-01-09 10:00] caminsha commented on #197
I just found a link to a description about the API versions. For more informations about API versions, see  [here](https://docs.microsoft.com/en-us/azure-sphere/app-development/use-beta#specify-beta-apis-in-cmake-for-visual-studio).

In my opinion, it makes sense that the template projects are based on the stable APIs.

[2020-01-09 10:00] #197 closed

[2020-01-09 12:20] AshokPeddakotla-MSFT commented on #197
@caminsha Glad to hear that you have found a resolution for your issue.
Adding author @esalc to check this and update the doc as appropriate.

[2020-01-09 23:41] msjsheridan opened #198 "Missing space between "samples" and "provide""
"The application development documentation and the Azure Sphere samplesprovide information about application design."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b25cf9-8383-e69a-777f-b67925ed4855
* Version Independent ID: 994e83e1-231a-9f71-ef5c-7fe9725d2a59
* Content: [Factory floor operations - Azure Sphere](ht

[2020-01-10 00:53] Mike-Ubezzi-MSFT commented on #198
@msjsheridan Thank you very much for taking the time to report this minor detail. It is greatly appreciated. I will get this corrected now.

[2020-01-10 01:00] Mike-Ubezzi-MSFT commented on #198
@pennyo I created a PR to address the following issue raised by @msjsheridan.

[2020-01-16 10:35] ravipath opened #199 "Debugging RTApp on Azure Sphere fails."
I have a Azure Sphere kit from USI. I am trying to run in azure  sphere sample (GPIO, UART etc) in debug mode. While I am able to debug the High level apps and see the logs without any issues, debugging the RTApp fails. I am using Visual Studio 2019 community and Azure Sphere SDK 19.11. Here's the output from device update Tab:

Copying application to the device
Device update succeeded.
Open On-Ch

[2020-01-16 11:46] asergaz commented on #199
Hello @ravipath and thank you for the feedback! Can you please confirm that you are following this doc? https://docs.microsoft.com/en-us/azure-sphere/app-development/develop-debug-rt-app

Also I am not sure what board is Azure Sphere kit from USI? On our docs we assume that you are using hardware that follows the [MT3620 reference board design](https://docs.microsoft.com/en-us/azure-sphere/hardwar

[2020-01-16 13:34] ravipath commented on #199
USI evaluation kit is a lesser known board from www.usiglobal.com. The kit is based on MT3620 ref board design. Azure hub samples includes pin specific configuration files for USI. You can find it here: azure-sphere-samples/Samples/WifiSetupAndDeviceControlViaBle/Nrf52App/usi_evb/s132/

Also, please let me confirm that I have followed the document from the link above.

[2020-01-16 23:40] asergaz commented on #199
Thanks for adding more details.

If I understand well you have two developer machines (working and non-working)... how do they differ from each other?

Thanks

[2020-01-17 16:07] #152 closed

[2020-01-17 16:08] asergaz commented on #154
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-17 16:08] #154 closed

[2020-01-17 16:13] asergaz commented on #166
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-17 16:13] #166 closed

[2020-01-17 16:14] pennyo commented on #167
We are updating the documentation with a section that describes how to find OS and SDK versions for the upcoming release.

[2020-01-21 09:04] ravipath commented on #199
Hi António,

The two machine are both WIndows 10 laptops. I cannot see any relevant difference apart from the fact that the Windows 10 OS build on my laptop is newer. However, for all the relevant part are same (Visual Studio Community 2019, Azure Sphere SDK v19.11 etc)

I have retried and this time starting from the device recovery. I am attaching the Azure Sphere Developer Command Promt (elevate

[2020-01-21 09:16] ravipath commented on #199
I would like to point out that there is no issue with debugging the High level application. I can successfully build and debug High Level Applications. It's only the RTApp that has issues with debugging.

[2020-01-21 13:36] ravipath commented on #199
Found the issue. A third party software was using the port number 6666. After uninstalling that software, the debugging works.

[2020-01-21 13:36] #199 closed

[2020-01-21 14:29] asergaz commented on #199
Thanks for sharing the resolution :)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 16:03] clarkebowers opened #200 "Mailboxes"
The diagram show the MediaTek Mailboxes as supported by the OS. I cannot find any OS call to use the mailboxes. I cannot find any documentation on the hardware implementation of the mailboxes. How can I utilize the mailboxes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32117582-c78b-3495-da7f-8427aff8e957
* Version

[2020-01-23 19:00] Mike-Ubezzi-MSFT commented on #200
@clarkebowers Thank you for the feedback. The [MT3620 Block Diagram](https://docs.microsoft.com/en-us/azure-sphere/hardware/mt3620-product-status#mt3620-block-diagram) states the following:

![Screenshot (634)](https://user-images.githubusercontent.com/37126106/73014702-7e9d8b00-3dcf-11ea-8b80-7d1262253d45.png)

Are mailboxes supported, is there additional documentation?

[2020-01-23 19:02] clarkebowers commented on #200
It show it as supported, but nothing is written about it on the page. So how would I use the mailboxes?

[2020-01-23 19:11] Mike-Ubezzi-MSFT commented on #200
@clarkebowers I believe that lite grey shading indicates that it is supported by the OS only, which means any application logic has no access. I will confirm this.

[2020-01-23 21:34] Zoidborg7 opened #201 "azsphere CLI error for all tenant-related commands: "Failed to retrieve the user's Azure Sphere tenants.""
I set up an Avnet Starter Kit just this month (January 2020) with the latest SDK and OS version 19.11. I was able to set up the dev kit, register, create a tenant, and claim the device with no troubles. I have been using the device in development/sideload mode and have not changed that.

It's been several days since I've had the device connected to my computer, but I haven't changed anything in th

[2020-01-23 21:39] Zoidborg7 commented on #201
Update: I had been working on this for an hour or more, and right after I completed this issue, I went to try some other things. I don't know if this action made any difference, but on the `azsphere login` dialog, I attempted to select my Work account (Office 365). It came back with an error message that the account doesn't exist in the Azure Sphere tenant (which I expected). Then, I selected my M

[2020-01-24 02:37] TravisCragg-MSFT commented on #201
@Zoidborg7 Thanks for the follow up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-24 02:37] #201 closed

[2020-01-24 18:03] pennyo commented on #198
Thans for your feedback. This has been fixed in the  current release of the docs.

[2020-01-24 18:03] #198 closed

[2020-01-24 21:56] Mike-Ubezzi-MSFT commented on #200
@clarkebowers I have confirmed the following:

Please let me know if you have additional questions or would like me to clarify the information provided but, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-24 22:46] Mike-Ubezzi-MSFT commented on #200
@clarkebowers There is some additional discussion around this, and my previous response might not be entirely true. Please take a look at the following: [Communicate with a high-level application](https://docs.microsoft.com/en-us/azure-sphere/app-development/inter-app-communication)

I am going to reopen this while I am in the process of receiving some additional information. Thank you!

[2020-01-27 19:46] kkomand opened #202 "Azure Sphere SDK preview for Windows Documentation"
Team,

Please update the documentation (the install instructions page)  to clarify that if using Azure Sphere SDK preview for Windows  is for VSCode  as i have seen users downloading Azure Sphere SDK preview for Windows and trying it with Visual Studio which doesn't work

Request to update the instructions in the document:

https://docs.microsoft.com/en-us/azure-sphere/install/install-sdk

Best,
K

[2020-01-27 22:35] Mike-Ubezzi-MSFT commented on #202
@kkomand Thank you for making us aware of this, and suggesting a doc enhancement to be made. I am going to have the content owner review this and make an update as appropriate.

[2020-01-27 22:42] Mike-Ubezzi-MSFT commented on #200
@clarkebowers After some back and forth it has been confirmed that the Mailboxes are only accessible by the O/S as the documentation indicates. The link I have provided is the closest in functionality that is available.

[2020-01-27 22:42] #200 closed

[2020-01-28 01:39] Mike-Ubezzi-MSFT commented on #202
@kkomand In working with the content author on this topic, we feel there is sufficient detail covering the topic. If there is a specific detail you feel is missing or is not that clear, can you highlight the specific portion of the document. Thank you!

- The Azure Sphere SDK Preview for Windows supports development on the Windows command line.

[2020-01-28 01:49] bawilless commented on #202
The documentation to successfully install and configure a visual studio code development environment is missing. A few of the steps are there, but try to follow the instructions and see if you can configure the system to build an Azure Sphere application.

Sent with BlackBerry Work
(www.blackberry.com)

From: Mike Ubezzi <notifications@github.com<mailto:notifications@github.com>>
Date: Monday, Jan

[2020-01-28 02:17] Mike-Ubezzi-MSFT commented on #202
@bawilless Thank you for the detail feedback. Indeed, the SDK Preview for Windows document will get the bits installed but you will need a sperate doc, such as: [Quickstart: Build the Hello World application with Visual Studio Code](https://docs.microsoft.com/en-us/azure-sphere/install/qs-blink-vscode) to take steps after the SDK is installed.
Additionally, in the [Next Steps](https://docs.microso

[2020-01-29 17:02] AshokPeddakotla-MSFT commented on #202
Adding @pennyo for further review

[2020-01-29 18:38] Mike-Ubezzi-MSFT commented on #202
@bawilless We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-29 18:40] #202 closed

[2020-02-02 11:16] bawilless opened #203 "Small typo on this page"
In the blue box close to the bottom of the page . . .

 . . . If this happens, contact the others in your organization whoa re working with Azure Sphere.

Should be

 . . . If this happens, contact the others in your organization who are working with Azure Sphere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6a64c8c

[2020-02-03 01:04] Mike-Ubezzi-MSFT commented on #203
@bawilless Thank you for bringing this to our attention. I will have a PR created and approved to be published to the public facing copy of this document.

[2020-02-03 01:10] Mike-Ubezzi-MSFT commented on #203
@pennyo Minor edit, as I don't seem to have access to this page to submit a PR.

[2020-02-03 11:19] AshokPeddakotla-MSFT commented on #203
@bawilless Thanks for reporting this issue. PR has been created to address this. After peer review and merge the doc will be updated.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-03 11:19] #203 closed

[2020-02-04 15:45] bawilless opened #204 "Instructions for building without the hardware abstraction layer does not work"
I'm busy converting all my Visual Studio projects to use CMake.  Most of my Visual Studio projects originated before the Hardware Abstraction layer was implemented.

I tried to follow the instructions above in the purple note stating how to build CMake projects without the hardware abstraction layer, but I get a fatal build error.  The AzureSphereToolchainBase.cmake file is looking for these hardw

[2020-02-04 18:47] pennyo commented on #169
Each call to **SPIMaster_TransferSequential** or **SPIMaster_WriteThenRead**is limited to at most 4096 bytes to read, and 4096 bytes to write, independent of the number of actual transfers. To transfer additional data, you need to call this function multiple times. Note that chip select will be asserted multiple times in this case.

The online documentation will be updated to include this informat

[2020-02-04 18:47] #169 closed

[2020-02-04 20:40] pennyo commented on #195
Thank you for your feedback! We've fixed this in the docs that will be published later this week.

[2020-02-04 20:40] #195 closed

[2020-02-04 20:45] pennyo commented on #188
Verified the fix on https://docs.microsoft.com/en-us/azure-sphere/install/qs-real-time-app-cli and closing the issue.

[2020-02-04 20:45] #188 closed

[2020-02-04 20:56] pennyo commented on #189
This is fixed in the current release of the documentation.

[2020-02-04 20:56] #189 closed

[2020-02-04 20:58] pennyo commented on #150
We've reworked the start-up experience and documentation and believe this issue has been solved.

[2020-02-04 23:32] Mike-Ubezzi-MSFT commented on #204
@bawilless Thank you for making us aware of this issue. I will investigate this issue and get you a response from the product group. Thank you for taking the time to create this issue and providing the level of detail.

[2020-02-04 23:45] Mike-Ubezzi-MSFT commented on #204
@bawilless I did wan to follow up to this to detail the following information for hardware profile information. Did these steps not work?

Set the Target Hardware Definition Directory and the Target Hardware Definition for your hardware.

The Target Hardware Definition Directory identifies the folder that contains the hardware definition files for the target hardware. This path is relative to the

[2020-02-05 00:03] bawilless commented on #204
I wanted to do a CMake build without using the hardware abstraction layer. There are instructions on how to accomplish that, but it does not work.

Brian

Sent with BlackBerry Work
(www.blackberry.com)

From: Mike Ubezzi <notifications@github.com<mailto:notifications@github.com>>
Date: Tuesday, Feb 04, 2020, 4:45 PM
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com<mail

[2020-02-06 04:26] Mike-Ubezzi-MSFT commented on #204
@pennyo I created a Azure Sphere support escalation ([115630](https://dev.azure.com/msresearch/4x4/_workitems/edit/115630)) to inquire about this issue. I have made this a doc-enhancement but there is a product-question component to this; is the customer's approach currently supported and is this documented? Thank you!

[2020-02-10 23:26] kkomand opened #205 "Fix Command for OS Feed Type is RetailEval in the instructions"
G'day Team,
I think you need to update this last intruction on the page.  OSFeed for retail evaluation should be "RetailEval".  If I try this command with Retail option for evalaution it doesn't work.  When  i changed it to "RetailEval" , was able to update the OS to 20.01

If the OS Feed Type is RetailEval, change it to Retail:
azsphere device-group update --productname <product> --devicegroupnam

[2020-02-11 00:52] pennyo commented on #205
@kkomand Thank you for your feedback.

As described in [Important News about Retail Evaluation](https://docs.microsoft.com/azure-sphere/product-overview/retail-evaluation-2001), we recommend that customers create  a device group specifically for Retail Evaluation and maintain their development devices on the Retail OS feed. We believe that this approach will lead to the best customer experience.

[2020-02-11 06:33] AshokPeddakotla-MSFT commented on #150
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-11 06:33] #150 closed

[2020-02-11 15:18] kkomand commented on #205
G'day Team,

(1) When I tried the command with the Flag "Retail" as in the document for evaluation. It did not update the device to 20.01. Only when I tried the command with "RetailEval" flag it updated the device to 20.01.  Please review the command
azsphere device-group update --productname --devicegroupname "Development" --osfeed "Retail"

(2) The instructions are slightly convoluted and would

[2020-02-11 16:08] pennyo commented on #205
@kkomand Were you unable to deploy an app to the device with 19.11 OS/SDK?

[2020-02-11 17:21] #205 closed

[2020-02-12 06:06] sunillnaik opened #206 "Device does not respond for the first time setup"
I have received the Azure Sphere MT3620 Dev Kit
![maxresdefsphere](https://user-images.githubusercontent.com/44568355/74307538-f9dbd680-4da8-11ea-8bbc-f75bcce96d0d.jpg)

Newly updated windows and Visual Studio 2019. gives me below error,

`C:\Windows\system32>azsphere device show-os-version
error: The device is not responding. The device may be unresponsive if it is applying an Azure Sphere operat

[2020-02-12 17:44] Adam-Smith-MSFT commented on #206
@sunillnaik Please post this thread in either MSDN forums, or stackOVerflow, since this medium is only reserved to documentation.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-12 17:44] #206 closed

[2020-02-16 18:24] Rick-Anderson opened #207 "QS for AS: multiple style guide violations"
Needs MS style guide edit. I'll do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12650c79-5696-6c6c-b1f6-f26f3d8a2f81
* Version Independent ID: f5dd3da4-3e30-f29d-b9a2-0951fef1a005
* Content: [Quickstarts for Azure Sphere](https://docs.microsoft.com/en-us/azure-sphere/install/qs-overview?source=docs)
* Content S

[2020-02-17 02:22] sunillnaik commented on #128
@Colcothar how did you fix the device issue "The device is not responding2? please explain.

[2020-02-17 05:13] AshokPeddakotla-MSFT commented on #207
@Rick-Anderson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-17 13:50] clarkebowers opened #208 "Event bit mask undocuments"
The enumeration EventLoop_IoEvents is not documented. How do I use EventLoop_Input = 0x01? I want an event ever time a GPIO input line goes from low to high. How do I register this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b9d7077-1cb0-da2c-8f9a-4c81e6f51b07
* Version Independent ID: e65bb220-daa5-dfbb-2d48-04b4

[2020-02-17 15:59] AshokPeddakotla-MSFT commented on #208
@clarkebowers Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 04:24] AshokPeddakotla-MSFT commented on #208
@clarkebowers Here is the documentation for [EventLoop_IoEvents](https://docs.microsoft.com/en-us/azure-sphere/reference/applibs-reference/applibs-eventloop/enum-eventloop-ioevents). Please check and let us know if that helps.

[2020-02-18 12:26] Colcothar commented on #128
@sunillnaik I haven't been able to fix it. Dispite the issue being closed, its far from fixed. I gave up in the end however I theorise that there is an issue if other TAP adapters are installed, I would be interested to see your network connections.

I did file a support request, with no response.

[2020-02-18 13:15] clarkebowers commented on #208
The text "The descriptor is available for read operations." is not helpful. The referenced sample does not use the EventLoop_RegisterIo function, so it is no help.

[2020-02-18 16:50] clarkebowers opened #209 "Maximum period_nsec value"
The maximum value for the period is 30000000ns. Greater than this value will result in EINVAL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47d2af37-84d3-c7c2-87e1-9cb3915e9dbb
* Version Independent ID: 394be125-8bbf-101d-618a-c2bcbee6987c
* Content: [PwmState struct - Azure Sphere](https://docs.microsoft.com/en-us/a

[2020-02-19 00:28] Mike-Ubezzi-MSFT commented on #209
@clarkebowers Thank you for bringing this to our attention. I will have the content team evaluate this and update the document as appropriate.

**[period_nsec](https://docs.microsoft.com/en-us/azure-sphere/reference/applibs-reference/applibs-pwm/struct-pwmstate#period_nsec)**
The length of each period, in nanoseconds. This includes the total length of both the high and low states.

[2020-02-19 07:48] sunillnaik commented on #128
Thats really strange when they close issue without solving!
![httpsstatics3 seeedstudio comseeedfile2018-09bazaar925076_102991012_14](https://user-images.githubusercontent.com/44568355/74812706-55710b80-5337-11ea-9174-5f238d89147d.jpg)
I have this dev kit new one unboxed, but unable to run any azsphere command, its throws "error: The device is not responding. The device may be unresponsive if it i

[2020-02-19 09:11] AshokPeddakotla-MSFT commented on #128
@richardtaylorrt can you please look into this issue and update?
@mdtm1g14 Issue is closed since a support request is created and you will receive 1-1 help with an engineer. Please share the SR number to track and check the status.
@sunillnaik This issue is bit old and a lot has changed/updated in the SDK. Latest version of SDK is 20.01. Please see [this](https://docs.microsoft.com/en-us/azure-sph

[2020-02-20 00:51] pennyo commented on #167
Updated documentation is now available that includes a topic on  [how to check software versions](https://docs.microsoft.com/en-us/azure-sphere/deployment/check-software-versions)

[2020-02-20 00:51] #167 closed

[2020-02-20 23:16] Mike-Ubezzi-MSFT commented on #204
@bawilless The documentation has been updated. Can you please review and provide feedback that the updates address the issue. Thank you.

[2020-02-20 23:40] bawilless commented on #204
I’ve confirmed that I can build and run a CMake application without the hardware abstraction layer.  Thank you!

From: Mike Ubezzi [mailto:notifications@github.com]
Sent: Thursday, February 20, 2020 4:17 PM
To: MicrosoftDocs/azure-sphere-issues <azure-sphere-issues@noreply.github.com>
Cc: Willess, Brian <Brian.Willess@AVNET.COM>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azu

[2020-02-20 23:42] Mike-Ubezzi-MSFT commented on #204
Cool! We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-20 23:42] #204 closed

[2020-02-24 04:39] AshokPeddakotla-MSFT commented on #208
@clarkebowers  I have assigned the issue to the content author @esalc  to evaluate and update the doc with samples as appropriate.

[2020-02-24 21:15] pennyo commented on #208
@clarkebowers Thank you for your feedback. The EventLoop API supports only file descriptor events. Support for interrupts on the GPIO file descriptors is not currently available.

If this feature is critical to your scenarios, please submit [product feedback or new feature requests](https://feedback.azure.com/forums/915433-azure-sphere).

[2020-02-27 04:10] AshokPeddakotla-MSFT commented on #208
@clarkebowers I hope that answers your question. Please create a feedback entry in the user voice and provide your feedback.

All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will

[2020-02-27 04:10] #208 closed

[2020-03-02 11:34] AshokPeddakotla-MSFT commented on #207
@pennyo Could you please check this issue and update?

[2020-03-02 16:15] pennyo commented on #207
@Rick-Anderson thanks for the feedback. Since we've discussed offline, I'll close the issue.

[2020-03-02 16:15] #207 closed

[2020-03-02 16:26] pennyo commented on #184
@xiongyu0523 Thank you for the feedback. The azsphere-device information is intended for use by post-manufacturing customers; that is, it assumes that the device has been claimed. For information about loading software in a factory-floor setting with an unclaimed device, please see [Factory-floor tasks](https://docs.microsoft.com/azure-sphere/hardware/factory-floor-tasks).

[2020-03-02 18:17] Rick-Anderson commented on #207
@pennyo The document doesn't conform to the Microsoft style guide. That's not how open source generally works. When my PR #153 merges to address the style guide problems, that closes the issue.

[2020-03-04 11:06] dirzhov commented on #124
I have the same issue. I see POST request https://graph.windows.net/isDirectoryFeatureEnabled?api-version=1.6-internal with body
{directoryFeature: "B2CFeature"}
And response with status 400 is

[2020-03-05 11:27] asergaz commented on #124
Hello @dirzhov the document that this issue refers to no longer exists or was substantially changed. Can I kindly ask you to open a new issue under the proper doc so we can follow-up with the right context?

Thanks!

[2020-03-10 13:09] PDostalek opened #210 "[loc][Query][vscode-azure-sphere-tools] Localizability of string: 0; "./src/resources.errorConfigUnavailable" #91349"
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Could you help please? Thanks!**

Source:
Error: Required azure sphere settings not found. Please configure in settings.json or run command 'Azure Sphere: Configure settings' to apply default settings.

File:
Src\vsc

[2020-03-10 13:11] PDostalek opened #211 "[loc][Query][vscode-azure-sphere-tools] Localizability of string: 0; "package.azure-sphere-tools.azurespheredbg.launch.setupCommands.description""
Hi,
please help localization team to answer question from translator.

In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.

Could you help please? Thanks!**

Source:
One or more GDB commands to execute in order to setup the underlying debugger. Example: "setupCommands": [ { "text": "-enable-pretty-printing", "description": "Enable GDB pre

[2020-03-11 02:40] MarileeTurscak-MSFT commented on #210
@PDostalek please provide the link to the document which you are following so that I can better assist.

[2020-03-11 02:41] MarileeTurscak-MSFT commented on #211
@PDostalek please provide the link to the document which you are following so that we can better assist.

[2020-03-12 05:54] AshokPeddakotla-MSFT commented on #210
@PDostalek Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-03-12 05:54] AshokPeddakotla-MSFT commented on #211
@PDostalek Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-03-15 10:34] Expecho opened #212 "unique GUID for application."
At the start of this document there is this note *"Each component in a deployment must have a unique GUID."*. What GUID are we talking about? Is it the ComponentId in the app_manifest.json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0beac72a-149e-49d6-a9ce-13ae89ed3cd5
* Version Independent ID: 8cf3bf3d-8b58-5956-3

[2020-03-15 17:05] MarileeTurscak-MSFT commented on #212
@Expecho
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-16 14:07] AshokPeddakotla-MSFT commented on #210
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

In case your query is not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stac

[2020-03-16 14:07] #210 closed

[2020-03-16 14:07] AshokPeddakotla-MSFT commented on #211
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

In case your query is not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stac

[2020-03-16 14:07] #211 closed

[2020-03-17 23:09] ozhernan commented on #116
this was never fixed in the doc

[2020-03-17 23:37] pennyo commented on #116
Oops. You're right. We'll get it this time.

[2020-03-18 16:51] millena7 opened #213 "Connection issues the Azure Sphere MT3620 starter kit"
(1)	I have recently received the MT3620 to test, but I’m with some problems when I execute this command:

**azsphere tenant create --name <name>**
Error: The device is not responding. The device may be unreponsive if it is applying an Azure Sphere operating system update; please retry in a few minutes.
Error: Failed to retrieve device ID from attached device: 'Could not connect to the device; plea

[2020-03-18 19:59] femsulu commented on #213
@millena7, happy to help. Mind sharing the related Azure documentation so we are investigate further?

[2020-03-18 20:56] millena7 commented on #213
Thank you for helping.
Follow the documentation about this hardware:
https://docs.microsoft.com/en-us/azure-sphere/hardware/mt3620-product-status

[2020-03-19 04:25] rickeycv opened #214 "How to get the id of a stored network?"
Hi,
Is there a way to get the id of a stored network?
I cannot find the id in the WifiConfig_StoredNetwork struct.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 501c500d-3afe-6ebd-8968-3e6faf355bcf
* Version Independent ID: 90fea6d5-13ba-c1a1-96df-fe82ce8e665a
* Content: [WifiConfig_ForgetNetworkById function

[2020-03-19 05:27] AshokPeddakotla-MSFT commented on #212
@Expecho  GUID means device group id. As specified in the doc, The --devicegroupid parameter supplies a GUID, which uniquely identifies the device group across all products."
It would be great if you can elaborate more on "**ComponentId in the app_manifest.json**"

[2020-03-19 06:33] AshokPeddakotla-MSFT commented on #214
@rickeycv Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-19 12:42] millena7 commented on #213
Hi,
I deleted the file restore.json as recommended by Microsoft. It was in a hidden folder.
But the error still the same.

[2020-03-19 16:17] AshokPeddakotla-MSFT commented on #212
@Expecho Answer is Yes. Your understanding is correct. It is the ID of the component in the application manifest file. It uniquely identifies the application itself.  Each type you rebuild, you get a new image ID, but the component ID remains the same. Please see [Contents of the application manifest](https://docs.microsoft.com/en-us/azure-sphere/app-development/app-manifest#contents-of-the-applic

[2020-03-20 08:45] Expecho commented on #212
Great, thanks for the info!

[2020-03-20 08:45] #212 closed

[2020-03-20 10:02] Raffa50 opened #215 "VS19 CMake errors"
Os: Windows 10 V10.0.18362 build 18362
Visual studio: 19 V16.5.0
Azure SDK for VS: 20.01

After creating a new project (example blink) or opening the sample, under the run menu (green arrow for running programs) I see no device
also I get a lot of CMake errors

[code]

PS: I had to set AzureSphereDefaultSDKDir because it was not setted by the installer, also there is something else missing?

[2020-03-20 11:35] AshokPeddakotla-MSFT commented on #214
@rickeycv  As specified in the doc [WifiConfig_GetStoredNetworks](https://docs.microsoft.com/en-us/azure-sphere/reference/applibs-reference/applibs-wificonfig/function-wificonfig-getstorednetworks), before  you call WifiConfig_GetStoredNetworks, you must call WifiConfig_GetStoredNetworkCount and use the result as the array size for the WifiConfig_StoredNetwork array that is passed in as the stored

[2020-03-20 15:07] rickeycv commented on #214
Thanks, but I want to get the same id that I can see in the Sphere cli when I call **azsphere device wifi list** command which shows the following: id, SSID, Configuration state, Connection state, Security state, Targeted scan. On the other hand, when I call the [WifiConfig_GetStoredNetworks](https://docs.microsoft.com/en-us/azure-sphere/reference/applibs-reference/applibs-wificonfig/function-wifi

[2020-03-20 21:53] femsulu commented on #215
@Raffa50, happy to help! Please share a link to the Azure documentation you are referencing and we can investigate futher.

[2020-03-22 14:42] BarryBo opened #216 "Typo in the example configuration settings"
cmake.cmakePath has a mal-formed string: \\CMake\CMake\\.  There needs to be an extra '\' between the two CMake directories.  Otherwise VSCode complains about "Invalid escape character in string.  jsonc(261)".

Generally, all of the path separators need to be escaped on this page, as settings like
"cmake.cmakePath": "&lt;Path to VS Installation&gt;\Common7\IDE\CommonExtensions\Microsoft\CMake\CMak

[2020-03-22 20:10] aywolman commented on #213
test

[2020-03-22 20:29] aywolman commented on #213
test

[2020-03-22 20:55] ihorbond opened #217 "Steps order"
In my case I had to claim device first (step 6) and only then was I able to enable development mode on it otherwise would get an error saying the tenant had no devices assigned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a777684-ac8f-25df-600d-4b8aafada22a
* Version Independent ID: 8889f26b-3adf-1b14-f523-2f9844b82

[2020-03-22 22:03] femsulu commented on #216
Thanks for bringing this to our attention. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-22 22:11] femsulu commented on #217
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-23 01:16] BarryBo opened #218 "EACCESS also is returned if the real-time capable app isn't present"
This can happen if you forget to update launch.vs.json's partnerComponents.  Otherwise, VS will delete the real-time capable app when deploying the high-level app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ae555d0-3bbf-68e0-4848-6b86f45d8de5
* Version Independent ID: f0fe5c0c-89f1-e46c-783b-19966ca53454
* Content

[2020-03-23 07:08] AshokPeddakotla-MSFT commented on #218
@BarryBo Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-23 07:11] AshokPeddakotla-MSFT commented on #214
@rickeycv Let me check this internally and update you as earliest. Appreciate your time and patience.

[2020-03-23 15:22] AshokPeddakotla-MSFT commented on #215
@Raffa50 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-03-23 17:05] AshokPeddakotla-MSFT commented on #218
Adding author @esalc to check this feedback and update the doc as appropriate.

[2020-03-23 18:30] errohitsinghal commented on #114
@bawilless I see that this issue is closed but don't see any solution in Microsoft docs. Any update if the fix for this issue will be available anytime soon?

[2020-03-23 18:55] bawilless commented on #114
Avnet is currently working to release an Avnet Azure Starter Kit 2.0, that will have the required signals exposed to support the current Ethernet board configuration file that Microsoft provides.  We expect to see samples this week or next.

There is currently no software only solution to use the Starter Kit 1.0 hardware with Ethernet.

[2020-03-23 22:04] asergaz commented on #213
Hello @millena7 you mentioned that you are following what's described [on this doc](https://docs.microsoft.com/en-us/azure-sphere/hardware/mt3620-product-status) though I need to be sure that you followed all the steps as described here: [Overview of set-up procedures](https://docs.microsoft.com/en-us/azure-sphere/install/overview) ?

This is you installed the proper software , set up the developm

[2020-03-23 22:24] millena7 commented on #213
Hi!

I installed Azure SDK (Visual Studio) for Windows, set up the development environment but before claim the device, it is necessary to create a new tenant. See at picture below:
![Claim](https://user-images.githubusercontent.com/62349034/77368791-c4c58b00-6d3b-11ea-8a71-b0ab32c47713.JPG)

So that, it was not possible to claim.

[2020-03-24 00:34] asergaz commented on #213
Thanks for the details @millena7 ,
Can you [check the related thread on MSDN](https://social.msdn.microsoft.com/Forums/en-US/a7ca80ba-8119-4cc8-89ef-d142421c84b5/azure-sphere-device-is-not-responding?forum=azuresphere) and try the following:

1. If you are connected to a VPN, disconnect from the VPN and try again

2. Verify that the com ports all have the correct driver (troubleshooting guide shou

[2020-03-24 03:14] AshokPeddakotla-MSFT commented on #215
@Raffa50 We have noticed that you also created an [issue](https://github.com/Azure/azure-sphere-samples/issues/127) on the GitHub Sample repo and Product team is already helping you. Please continue your discussion there to avoid duplicate efforts.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue th

[2020-03-24 03:14] #215 closed

[2020-03-24 11:30] millena7 commented on #213
António, thank you for helping.

**1. If you are connected to a VPN, disconnect from the VPN and try again**

I already did this test.

**2. Verify that the com ports all have the correct driver (troubleshooting guide should have covered that)**

![image](https://user-images.githubusercontent.com/62349034/77419593-751ca900-6da7-11ea-9914-ed8daa3cb898.png)

**3. Verify that the "Azure Sphere Device

[2020-03-24 15:05] asergaz commented on #213
Thanks for the details @millena7 , can you also try the command **"azsphere device recover -v"** ?

If you continue to see the issue after trying to recover please run "azsphere get-support-data --output logs.zip" and send the logs to me on email.

Thanks!

[2020-03-24 17:38] millena7 commented on #213
Hi!!

Good news!

![image](https://user-images.githubusercontent.com/62349034/77458532-183be580-6ddd-11ea-9da4-fd4de0890bf5.png)

Thank you!! It's working :)

[2020-03-24 18:02] asergaz commented on #213
Glad that you are up and running now :). Please reach out if other help is needed. Happy coding!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 18:02] #213 closed

[2020-03-24 19:02] bawilless opened #219 "Clarification on application memory usage"
In the "Debug.MIDebugExec info proc status" example on this page the dump is showing the Virtual Memory used by the application.  These numbers are much larger than the documented 256KB application memory usage  limit.  Is this dump also capturing memory usage from the GDB debugger?  Is there a way to see how much RAM just the application is consuming?

Is there any documentation on the Virtual Me

[2020-03-25 06:35] BharathNimmala-MSFT commented on #219
@bawilless Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-28 02:11] asergaz commented on #219
Thanks for the feedback @bawilless . I am assigning this issue to @pennyo to comment on your current questions and enhance the doc as needed.

[2020-03-30 00:39] andremuz commented on #217
femsulu is right. I stumbled on the same issue.

[2020-03-30 15:31] pennyo commented on #217
Thank you for the feedback This has been fixed and will appear in the next regular weekly update.

[2020-03-30 15:31] #217 closed

[2020-04-02 08:24] asergaz commented on #216
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-07 17:28] ericawes commented on #116
Update published with note removed.

[2020-04-07 17:28] #116 closed

[2020-04-07 17:30] pennyo commented on #209
@clarkebowers The period is hardware-dependent. This information has been updated in the documentation.

[2020-04-07 17:31] #209 closed

[2020-04-07 21:09] LouisBerner commented on #218
Updated the topic. Revised content will be published in an upcoming doc refresh.

Thank you for your contribution!

[2020-04-07 21:09] #218 closed

[2020-04-08 16:58] mehrdadh opened #220 "Memory Usage Command [Visual Studio Code] [Ubuntu]"
How can I run the same command in Visual Studio Code in Ubuntu to get the memory usage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9c1eef5-ba8d-43f9-7547-1b9b5f71760e
* Version Independent ID: 1323ac90-3ba4-d47b-1c42-238cb0029b63
* Content: [Memory use in high-level applications - Azure Sphere](https://docs.micros

[2020-04-09 03:51] AshokPeddakotla-MSFT commented on #220
@mehrdadhe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-09 04:22] mehrdadhe opened #221 "Memory Jump Segmentation Fault [SIGSEGV]"
I tried to do something like this on Azure Sphere and it failed with segmentation fault error:
**Program received signal SIGSEGV, Segmentation fault.**
Is memory jump blocked on Azure Sphere OS?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9c1eef5-ba8d-43f9-7547-1b9b5f71760e
* Version Independent ID: 1323ac9

[2020-04-09 04:52] AshokPeddakotla-MSFT commented on #221
@mehrdadhe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-13 09:55] AshokPeddakotla-MSFT commented on #220
@mehrdadhe I haven't found the steps for VS Code. I am assigning this issue to the author @pennyo to comment on your current question and enhance the doc as needed.

[2020-04-13 14:49] mehrdadhe commented on #220
@AshokPeddakotla-MSFT Thanks for the follow up.
@pennyo appreciate your help.

[2020-04-13 15:20] pennyo commented on #220
@mehrdadhe Great question! And definitely something we should document. We're looking into it.

[2020-04-13 16:52] AshokPeddakotla-MSFT commented on #221
@pennyo Unable to find this info on the docs [Memory use in high-level applications](https://docs.microsoft.com/en-us/azure-sphere/app-development/memory-latency). Do you have any other suggestions for the customer query? **Is memory jump blocked on Azure Sphere OS?**

[2020-04-14 03:32] AshokPeddakotla-MSFT commented on #214
@rickeycv Please see the below suggestions and let us know if you have further queries.

1. WifiConfig_GetConnectedNetworkId can get your the currently connected network  and then call WifiConfig_GetCurrentNetwork for more data about that network
 a.This only get the connected network

2. Use WifiConfig_SetConfigName  to set the network name and use WifiConfig_GetNetworkIdByConfigName  to get ID

[2020-04-14 20:27] pennyo commented on #221
@mehrdadhe  The cause of the problem is that you're trying to execute code from the .data section. The .data section, however, is mapped readable/writable but not executable.  As a result, any attempt to jump into the .data section will result in a segfault.  This is a security precaution designed to prevent execution of malicious code delivered as data payloads.

[2020-04-14 20:43] mehrdadhe commented on #221
@pennyo Thanks for clarifying.

[2020-04-14 20:43] #221 closed

[2020-04-14 21:37] maskimthedog opened #222 "Cannot Telnet to port 2342 to see Debug Output on sideload"
We are trying to follow these instructions to see debug output on 192.168.35.2 port 2342 via Telnet after sideloading an application with --debug option.  However we keep getting connection refused.  However, we can connect to 192.168.35.2 port 2345 via Telnet, but it is gdb.  Please advise.

https://docs.microsoft.com/en-us/azure-sphere/install/qs-blink-cli

---
#### Document Details

⚠ *Do not e

[2020-04-15 04:38] AshokPeddakotla-MSFT commented on #222
@maskimthedog Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-15 08:47] AshokPeddakotla-MSFT commented on #215
Update: This issue is fixed by setting system variables:
AzureSphereDefaultSDKDir
AzureSphereTargetApiSet

[2020-04-15 14:48] AshokPeddakotla-MSFT commented on #222
@maskimthedog  If your PC can connect to the Azure Sphere device, but often drops the connection, you may have a conflict in the IP subnet.

Azure Sphere uses subnet 192.168.35.*. If you have other software that uses the same subnet, either disable that software or limit the range of IP addresses that it uses.

For high-level application, you can see the port 2342 with gdb. Please refer [Build, de

[2020-04-15 21:21] rickeycv commented on #214
@AshokPeddakotla-MSFT
I cannot find the WifiConfig_GetConnectedNetworkId function you mentioned.
Regarding point 2, WifiConfig_SetConfigNam and WifiConfig_GetNetworkIdByConfigName functions work, but the name's length is limited to 15 characters and there are a lot of WiFi networks with the same SSID with small changes in their last characters (more than 15 characters). Another issue found is that

[2020-04-15 23:17] mehrdadhe opened #223 "Azure Sphere Tool Version vs Target OS Version"
Should both azure sphere tools and OS running on the target have the same version?
Here is the output of ```azsphere show-version```: **20.01**
and here is the output of ```azsphere device show-os-version``` on my Ubuntu 18.04:
**Your device is running Azure Sphere OS version 20.03.**

I have an issue with the debugger and I suspect may this incompatibility could be the reason?

---
#### Document

[2020-04-15 23:19] mehrdadhe commented on #222
I have the same issue.

[2020-04-15 23:19] mehrdadhe commented on #222
Could be related to the OS update?

[2020-04-15 23:28] mehrdadhe commented on #222
@AshokPeddakotla-MSFT I tested the ip and port. When target is not connected, the address is free and nothing on the output. When target is connected, connection is refused which I guess that is because of the target using this address.

[2020-04-16 05:49] AshokPeddakotla-MSFT commented on #223
@mehrdadhe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-16 16:30] AshokPeddakotla-MSFT commented on #222
@mehrdadhe Which version of SDK and OS your device is running?

[2020-04-16 16:38] mehrdadhe commented on #222
@AshokPeddakotla-MSFT here it is:
SDK version: 20.01
OS version: 20.03

[2020-04-16 16:58] robkrakora commented on #222
I have the same versions as @mehrdadhe.

[2020-04-16 17:01] maskimthedog commented on #222
I have the same versions as @mehrdadhe.

[2020-04-16 19:45] mehrdadhe commented on #222
@maskimthedog , @robkrakora
Just to share my experience, my code didn't work with debugger and I tried the sample code (Hello world) again to figure out why. First few tries didn't help. After few tries the debugger works again. No idea what's going on but maybe this could help.

[2020-04-16 19:49] maskimthedog commented on #222
@mehrdadhe Thanks, my co-worker was finally able to get it to work with his Sphere after unsuccessful attempts.  It just started working as in your case.

[2020-04-18 02:34] JonasHuelEON commented on #223
After 20.03 today 20.04 got released while the Linux SDK is still on 20.01.

[2020-04-20 03:47] AshokPeddakotla-MSFT commented on #222
@maskimthedog Just to confirm, Are you still seeing this issue or resolved after trying multiple times?

[2020-04-20 09:25] AshokPeddakotla-MSFT commented on #223
@mehrdadhe You have mentioned that after retrying your issue got resolved on
https://github.com/MicrosoftDocs/azure-sphere-issues/issues/222
do let us know if you are still blocked and need further help.

[2020-04-21 10:07] AshokPeddakotla-MSFT commented on #223
Since we have not heard back from you and your issue is resolved as per the feedback specified on the another issue, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-21 10:07] #223 closed

[2020-04-21 10:08] AshokPeddakotla-MSFT commented on #222
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-21 10:08] #222 closed

[2020-04-30 17:36] mehrdadhe commented on #220
Is there any update on this?
Basically I'm looking for a way to get memory usage while debugging in VS Code on ubuntu.

[2020-05-01 16:02] michalmar opened #224 "Cannot login in my account"
I have followed these steps and everything went ok ( got my account/tennant and device claimed). But when I try to login (after couple of days) I am getting error on `azsphere login` - login failed (i am using my microsoft account which is working). Is there a way to troubleshoot that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-05-01 16:12] pennyo commented on #220
@mehrdadhe We're still investigating. When we find an answer we'll update this issue and the documentation.

[2020-05-01 16:21] pennyo commented on #216
@BarryBo We fixed this in last week's update: https://github.com/MicrosoftDocs/Azure-Sphere-Docs-pr/blob/live/AzureSphere/articles/install/development-environment-windows.md

Closing.

[2020-05-01 16:21] #216 closed

[2020-05-01 23:41] maskimthedog commented on #214
The only other option is to store a table of network ids and ssid yourself in mutable storage and look up that way.

[2020-05-04 02:18] AshokPeddakotla-MSFT commented on #224
@michalmar Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-07 14:01] AshokPeddakotla-MSFT commented on #224
@michalmar  After updating your windows 10 to the latest version your issue is resolved. We will further look into this issue and share more updates if any.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-07 14:01] #224 closed

[2020-05-07 16:53] mehrdadh opened #225 "[Azure Sphere] Ethernet Image Memory Usage"
Does ethernet image takes memory usage out of 256KiB memory or it runs separately?
It would be great if you could clarify this in the doc.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3781077-8806-0de8-85c1-a0e08b3abe8c
* Version Independent ID: f53b30fb-3874-c03e-bb5e-ab194b15fc53
* Content: [Connect Azure

[2020-05-08 04:37] AshokPeddakotla-MSFT commented on #225
@mehrdadhe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-10 08:46] sylvaingirardbe opened #226 "Device Twin"
I can't seem to find any documentation on the concept 'Device twin'. I would at least expect a short explanation of it here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8695327d-543d-c26e-52e9-df2aa97cb35d
* Version Independent ID: 01e4182d-33ea-6843-c810-410b6113fdb5
* Content: [Terminology - Azure Sphere](https://

[2020-05-10 15:49] SamaraSoucy-MSFT commented on #226
Thanks for the question! We will review and get back to you shortly.

[2020-05-11 13:35] asergaz commented on #226
Hello @sylvaingirardbe , thank you for your suggestion. Device Twin relates with a terminology used on IoT Hub. See: [Understand and use device twins in IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins)

I would think that, the best place to add a reference to Device Twins is on the doc that we mention it itself. I see Device Twin mentioned here: [Set up an Azu

[2020-05-11 14:00] AshokPeddakotla-MSFT commented on #225
Adding @pennyo and content author @Phka for further review and update the doc.

[2020-05-11 15:21] pennyo commented on #226
@sylvaingirardbe Thank you for your feedback. We'll consider this for a future release.

[2020-05-12 10:16] JuergenSchwertl opened #227 "Contact information missing."
Page refers to "Microsoft supplies the RF Tools package upon request." but doesn't state **where** to request it from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c02b89c-3777-fbec-1e37-8f33b4a3283c
* Version Independent ID: 5cd5717c-f46c-be69-8c2b-3f805b8c8e54
* Content: [Radio frequency (RF) test tools - Azure Sp

[2020-05-12 13:07] AshokPeddakotla-MSFT commented on #227
@JuergenSchwertl Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-15 05:01] Asvaldrz opened #228 "Image Not Downloading to Device"
I have followed this tutorial multiple times and can't get the image to download, even after waiting for hours.

https://docs.microsoft.com/en-us/azure-sphere/install/qs-first-deployment

It appears the deployment worked as image can be seen with the ```azsphere device img list-targeted``` command, but when the ```azsphere device img list-installed``` command is run, nothing is installed.

Any hel

[2020-05-15 05:26] Asvaldrz commented on #74
Hey @MarekLani, what were the network issues in the end? I have a similar problem at the moment. I can see images targetted, but none will install.
Thanks in advance

[2020-05-15 07:28] MarekLani commented on #74
hi @Asvaldrz  if I remember correctly I was connecting the device thru my tethered phone network. When I switched to my home wifi it worked.

[2020-05-15 07:31] AshokPeddakotla-MSFT commented on #228
@Asvaldrz Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-05-16 00:44] Asvaldrz commented on #228
https://docs.microsoft.com/en-us/azure-sphere/install/qs-first-deployment

it was this document, sorry i did click to github from that documents page.

[2020-05-16 00:46] Asvaldrz commented on #74
@MarekLani  Thanks you for the response. I'm already on a home setup. Thanks again

[2020-05-18 06:05] Asvaldrz commented on #228
It turns out this may not have been working due to the sphere wifi. Although the wifi said it was ok and connected when i asked wifi status. When i tried to go back to development and run say the "AzureIoT" example.  The network interface would not pass the ready check.
Removing Wifi networks and re-adding didn't help; i had to run device restore.

Follow up question on application updates when we

[2020-05-19 06:37] Asvaldrz opened #229 "Can the Ethernet be used for all OTA Updates"
Can the Ethernet setup this way be used by the sphere to do all applications and deployment updates etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3781077-8806-0de8-85c1-a0e08b3abe8c
* Version Independent ID: f53b30fb-3874-c03e-bb5e-ab194b15fc53
* Content: [Connect Azure Sphere to Ethernet](https://docs.microsoft

[2020-05-19 09:58] AshokPeddakotla-MSFT commented on #229
@Asvaldrz Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 16:19] AshokPeddakotla-MSFT commented on #228
@Asvaldrz Please ensure that have met all the pre-requisites.
Have you tried [Recover the system software](https://docs.microsoft.com/en-us/azure-sphere/deployment/recover) using **azsphere device recover** ?

[2020-05-19 22:00] Asvaldrz commented on #228
The device recover is what i had done and this allow the updates to start to work,

[2020-05-19 22:00] #228 closed

[2020-05-21 14:57] tcarter-caengineering opened #230 "Timezone offset in minutes or seconds"
I found the the statement "You can't set the offset in minutes or seconds" confusing as I am able to modify my timezone by a minutes resolution if I use the following format while setting the "TZ" environment variable, the format I use is the following "IST-5:30EDT". Is the mentioned statement outdated above? It is important to be able modify the time zone UTC offset by minute increments so time z

[2020-05-22 03:54] AshokPeddakotla-MSFT commented on #230
@tcarter-caengineering Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-22 13:14] AshokPeddakotla-MSFT commented on #229
When a device is connected to internet all OTA updates will occur.
@pennyo Could you please confirm on the above?

[2020-05-23 08:01] pjmlp opened #231 "Missing documentation about how Azure Sphere prevents traditional C exploits."
Azure Sphere makes use of C as its application programming language, which is well known for its typical security exploits due to memory corruption, implicit conversions and unexpected code behaviours due to compiler optimizations taking advantage of undefined behaviour.

The Azure Sphere overview lacks any kind of information on how these C related weakness are preventable in Azure Sphere so that

[2020-05-24 00:40] BharathNimmala-MSFT commented on #231
@pjmlp Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-26 04:57] AshokPeddakotla-MSFT commented on #231
@pjmlp I see that you have already submitted feedback onthe [UserVoice](https://social.msdn.microsoft.com/Forums/en-US/72ae0354-63eb-478c-a16a-a8d8f745d2e9/quotsecure-osquot-while-allowing-only-c-missing-security-story?forum=azuresphere) and suggestions were provided to check the [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/72ae0354-63eb-478c-a16a-a8d8f745d2e9/quotsecure-osquot-whi

[2020-05-26 10:16] AshokPeddakotla-MSFT commented on #229
@Asvaldrz Have you tried already updating applications and deployments and facing some issues with Ethernet? As I mentioned, OTA updates will occur if a device is conencted to internet.

[2020-05-26 13:47] AshokPeddakotla-MSFT commented on #230
Adding author @pennyo for further review and update the doc as appropriate.

[2020-05-27 06:54] Asvaldrz commented on #229
I will try again. But for instance, to use Ethernet it has to be an image in the deployment. To be used for deployment, that image would already have to be installed.....

[2020-05-27 09:53] eltociear opened #232 "different in document"
英語と日本語のドキュメントで記号の食い違いが存在します
（日本語のtypo?）

ja-jp
[code]
en-us
[code]

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a2e947f1-9c3e-9840-a31e-ec3bfa289cc2
* Version Independent ID: 46e0fd4d-10bc-9d57-f10f-e6b5d46f0c7f
* Content: [CMake を使用してビルドを構成する](https://docs.microsoft.com/ja-jp/azure-sphere/app-development/using-cmake-functions)
* Content Source: [A

[2020-05-27 11:51] bawilless commented on #229
@asvaldrz,

You can add the ethernet image to your OTA deployment.  Instructions are documented here:  https://docs.microsoft.com/en-us/azure-sphere/network/connect-ethernet#cloud-deploy-a-board-configuration-image-package.

In the case where your device will only use the ethernet connection to the internet, then you are correct you must install the ethernet package to your device in the manufactu

[2020-05-27 14:58] pennyo commented on #231
@pjmlp Thank you for your feedback. We're planning to revise the What Is Azure Sphere topic for an upcoming release.

[2020-05-27 15:15] pennyo commented on #229
@Asvaldrz Yes, @bawilless is correct.

[2020-05-27 16:51] AjayKumar-MSFT commented on #232
@eltociear, Thanks for leveraging Azure docs feedback channel to raise this question.

We cannot completely understand your question as this is an English global support. After translating your question, the following is my understanding, please let us know if we are missing something while we check on this and get back.

[ There is a discrepancy between symbols in English   and Japanese documents

[2020-05-28 13:00] AshokPeddakotla-MSFT commented on #229
Thanks for the suggestions @bawilless
@Asvaldrz As Penny mentioned, the documentation will be updated in the future release.
Hope the above suggestions addresses your question.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-28 13:00] #229 closed

[2020-06-01 09:46] AshokPeddakotla-MSFT commented on #232
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-04 10:19] ravipath opened #233 "Azure Sphere API: Networking_IsNetworkingReady shows false information."
**API**: int Networking_IsNetworkingReady(bool *outIsNetworkingReady);
**header**: networking.h

**Problem Statement:** I need to check if the Internet connectivity is available and take an action accordingly.

**Issue**: Azure Sphere provides this API for the same purpose. However, this API reports false positive. I have checked by connecting the Azure Sphere device to AP and Hotspots having no I

[2020-06-04 19:08] ravipath commented on #233
@AshokPeddakotla-MSFT I have updated the issue with the requested information (microsoft doc link).

[2020-06-08 19:39] chandran-Az commented on #233
Hi ravipath - can you please elaborate on the scenario?

This function does not check for internet connectivity. It only checks if all the components on device are initialized and has an IP address.

We will get the document updated so that it's clear.

[2020-06-09 03:07] AshokPeddakotla-MSFT commented on #233
Thanks for the confirmation @chandran-Az. Assigning this issue to the author to update the doc as appropriate.

[2020-06-09 09:25] ravipath commented on #233
Thank you Ashok. May I also request to make the appropriate changes in the WiFi sample code as well?

**Function Name:**  static ExitCode CheckNetworkReady(void)
**Source:** https://github.com/Azure/azure-sphere-samples/blob/master/Samples/WiFi/WiFi_HighLevelApp/main.c
**Line#:** 700

This function call makes use of **_Networking_IsNetworkingReady_** and reports whether connectivity to Internet is

[2020-06-09 15:07] pennyo commented on #233
@ravipath Thank you for your feedback. We'll investigate and make any necessary changes.

[2020-06-11 16:15] pennyo opened #234 "Test for demo"
[Enter feedback here]
Demo how this works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3859174a-d1d6-d10e-5fbf-8d83f8e0f150
* Version Independent ID: 93000ca6-7a4d-11da-27d0-ba7430e83d6a
* Content: [Set up a dev kit and install the Azure Sphere SDK for Windows](https://docs.microsoft.com/en-us/azure-sphere/install/in

[2020-06-11 16:18] pennyo commented on #234
Test complete. Closing issue.

[2020-06-11 16:18] #234 closed

[2020-06-15 22:04] ishasahni1 commented on #232
@CeciAc @DavidPrio can you kindly look into the Japanese feedback and help in addressing this feedback. This file is Human Translated.

[2020-06-18 10:29] korkikian opened #235 "CMakeLists.txt shall be instead of settings.json"
Hi,

I believe that the following description is a bit wrong:
Open .vscode/settings.json.
Call the azsphere_target_hardware_definition function to point to the directory that contains the target hardware definitions for your device. Microsoft provides target hardware definitions in the Hardware directory of the Azure Sphere Samples repo. For example: <path-to-cloned-samples>/Hardware/mt3620_rdb

T

[2020-06-18 14:53] SatishBoddu-MSFT commented on #235
@korkikian , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-18 22:11] pennyo commented on #232
@eltociear Thank you for the feedback. We have published an update to the documentation.

[2020-06-18 22:11] #232 closed

[2020-06-18 22:12] pennyo commented on #235
@korkikian Good catch! Thank you for the feedback. We have corrected the documentation.

[2020-06-18 22:12] #235 closed

[2020-06-18 22:13] pennyo commented on #233
@ravipal  We have updated the online documentation in AzureSphere/articles/reference/applibs-reference/applibs-networking/function-networking-isnetworkingready.md. We may have additional changes in the future.

[2020-06-28 01:06] johnhatten2 opened #236 "applibs/pwm.h, applibs/adc.h and others are almost empty"
I was trying to get used with basic peripherals on my seeed mini dev board, and I realized my pwm.h is almost empty, there's no functions, structs or defines to use, like it should according to the documentation.

I thought the problem was from the SDK, but it is up to date

[code]

[2020-06-28 04:18] BharathNimmala-MSFT commented on #236
@johnhatten2  Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-28 21:43] johnhatten2 commented on #236
The file i'm refering to is under Microsoft Azure Sphere SDK\Sysroots\5\usr\include\applibs\pwm.h. I followed all the getting-started steps and I could get the blinky working on my seeed mini dev board. I tried to make a PWM peripheral to work, only to realize that pwm.h is emptier than it should (see code above vs this page : https://docs.microsoft.com/fr-fr/azure-sphere/reference/applibs-referen

[2020-06-29 02:06] BharathNimmala-MSFT commented on #236
@johnhatten2  Thank you for sharing the document link, our team will further look into this thread and direct you accordingly.

[2020-07-01 00:27] thalesx commented on #236
@johnhatten2 , all PWM APIs are still in Beta for ARV=5, so they won't show up in the production sysroot header. You need to target the Beta sysroot to get the header with the APIs. Basically you need to change your project to target 5+Beta2004.

[2020-07-01 03:40] johnhatten2 commented on #236
that works! thanks!

[2020-07-01 03:40] #236 closed

[2020-07-03 00:51] mesgar opened #237 "Cloud Deployment Question"
Hi,

What exactly happens when I create the deployment?
My app goes to the cloud from my C derive and by pressing reset button sphere downloads the app from cloud?

`azsphere device-group deployment create --devicegroupname "Field Test" --productname "XXXXX" --filepath "C:/dev/Azure/Sphere/samples/Samples/AzureIoT/out/ARM-Release/AzureIoT.imagepackage"`

When I change something in my application a

[2020-07-03 07:02] AshokPeddakotla-MSFT commented on #237
@mesgar Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-07-03 07:26] mesgar commented on #237
I went ahead and redeployed my application and I had to press reset button to download the latest version of my app.
It's quiet understandable and acceptable, you can't just download and replace a running application.
On the other hand, in real world scenarios you can't tell your users across the country to press the reset button to get the latest version.
Any suggestions?

 link of document:
http

[2020-07-06 11:49] woutervanranst opened #238 "CMake Ninja"
I'm getting an error "CMake Error: CMake was unable to find a build program corresponding to "Ninja".  CMAKE_MAKE_PROGRAM is not set.  You probably need to select a different build tool."

Can you caveat what the suggested solution is in the "getting started"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56bb629c-a1b

[2020-07-06 15:56] SatishBoddu-MSFT commented on #238
@woutervanranst Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-07 08:11] AshokPeddakotla-MSFT commented on #237
@mesgar Thanks for the link. I am checking on this issue and update you as earliest.

[2020-07-07 12:01] bawilless commented on #237
@mesgar,

The Azure Sphere devices check to see if they are running the correct software application(s) every time they check-in with the Azure Sphere Security Service (AS3).  This check-in happens on device startup and then every 24 hours after that.  So when you deploy a new application form your PC using the command line, you're updating the device group managed by AS3.

If it's important that

[2020-07-07 13:34] mesgar commented on #237
Checking and getting the latest version on a daily basis works for me.
Thanks

[2020-07-07 13:34] #237 closed

[2020-07-07 15:04] SatishBoddu-MSFT commented on #238
@woutervanranst We are working on this, please let us know if you have further questions meanwhile we get back to you soon.

[2020-07-07 15:44] chandran-Az commented on #238
@woutervanranst - Does the machine have CMake & Ninja installed and path for Ninja added to your environment variable?
Check link (https://docs.microsoft.com/en-us/azure-sphere/install/install-sdk?pivots=vs-code#install-cmake-and-ninja-on-windows)

[2020-07-10 00:51] SatishBoddu-MSFT commented on #238
@woutervanranst
Just checking back! Please let us know if you need further help.

[2020-07-10 05:00] SatishBoddu-MSFT commented on #238
@woutervanranst
Since we didn't received any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-10 05:01] #238 closed

[2020-07-13 14:32] AshokPeddakotla-MSFT commented on #231
@pennyo Can this issue be closed?

[2020-07-17 15:04] Gerriko opened #239 "Board configuration still ONLY refers to ISU0 and INT5"
[Enter feedback here]

I believe almost 1 year ago it was highlighted that some other Azure Sphere boards use ISU1 and thus the package described in this document was incorrect (Microsoft supplies a board configuration for the Microchip ENC286J60 Ethernet chip, which must be attached via SPI to ISU0 with interrupts on GPIO5. )

If you are not going to provide a similar package for ISU1, please cou

[2020-07-17 16:24] errohitsinghal commented on #239
I am waiting for a response to this item. Deployment of Azure Sphere devices on the field is just so difficult that I am almost about to drop this for any of my future commercial projects. There is absolutely no way (at least in my knowledge) to deploy Sphere devices on the field since we can't allow end-user to configure WiFi on-site and ethernet connectivity is not flexible with different boards

[2020-07-17 16:35] SatishBoddu-MSFT commented on #239
@Gerriko @errohitsinghal
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-17 17:05] SatishBoddu-MSFT commented on #239
@errohitsinghal Just quoting your previous comment on past github issue. Please confirm if todays comment is related to the past comment ?

Old comment  : https://github.com/MicrosoftDocs/azure-sphere-issues/issues/114#issuecomment-521805275

[2020-07-17 17:23] errohitsinghal commented on #239
@SatishBoddu-MSFT Yes Satish, that's related.

[2020-07-17 17:23] SatishBoddu-MSFT commented on #239
@Gerriko Could you please share your business impact or any customer impact from the current package ? We wanted to collect best justification for developing own package in this matter.

On the below suggestion we will get back to you soon.

[2020-07-17 17:34] SatishBoddu-MSFT commented on #239
@errohitsinghal Thanks for confirming, Could you also please share your business impact or any customer impact from the current design ?

Also in the past there were suggestions on Ethernet head usage, does those help in any way, want your feedback on those suggestions ..../

**_To recollect the past suggestions, .._**

**Reference MSDN thread**: [Avnet Azure Sphere Starter Kit does not work with

[2020-07-18 09:30] errohitsinghal commented on #239
Hi Satish,

Thanks for follow up on this. Here are the details about business impact,

**Background:** We have a few customers who heavily use IOT technologies since they are in Cement, Transmission Wire domains with large manufacturing units and IoT is the best fit. We have already deployed around ~800 IOT units based on AVR on the field in the last 5 years

**Business Case:** Due to MOU/NDA sign

[2020-07-20 16:19] SatishBoddu-MSFT commented on #239
Thank you @errohitsinghal for sharing in-depth details, we are currently working on this part, will share outcome from our side. We have already discussed the [same topic](https://github.com/MicrosoftDocs/azure-sphere-issues/issues/114) in the past, as we quoted in our previous comments.

Could you please also confirm if using any[ Ethernet shield](https://github.com/MicrosoftDocs/azure-sphere-iss

[2020-07-20 16:32] SatishBoddu-MSFT commented on #239
Hello @Gerriko Just checking back, could you please share your use case scenario & Impacts as well, we are trying our best to collect all feature requests, so that we come up with a healthy discussion outcome on this topic.

[2020-07-20 16:39] Gerriko commented on #239
No, fortunately I discovered that in my case it was user-error as my Azure
sphere device did in fact use ISU0 for SPI. It was through my research that
I discovered that some Azure Sphere devices use ISU1 for SPI and yet the
official documentation makes no mention of what to do if you did have such
a device. Hence the reason for raising the issue.

On Mon, 20 Jul 2020 at 17:32, SatishBoddu <notific

[2020-07-20 16:52] SatishBoddu-MSFT commented on #239
Hello @Gerriko, Thanks for the info, could you please let us know the type of Azure Sphere device you are using , so that we take a look at the documentation part.

[2020-07-20 20:20] Gerriko commented on #239
The documentation is fine for my product, which is the Azure Sphere
Guardian 100, but for completeness the document lacks explanation on what
to do if ISU1 SPI is required.

On Mon, 20 Jul 2020 at 17:53, SatishBoddu <notifications@github.com> wrote:

[2020-07-20 20:29] SatishBoddu-MSFT commented on #239
Just adding a quick reference link of the device: [Azure Sphere Guardian-100](https://www.avnet.com/opasdata/d120001/medias/docus/197/5372-PB-AES-MS-MT3620-GUARD-100-V1-v3a%20(1).pdf)

[2020-07-21 22:43] andremuz opened #240 "Missing file extension on header file"
"applibs/sysevent" should be "applibs/sysevent.h"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9800cae8-dfe3-2903-0990-ae90b3fa38a1
* Version Independent ID: a79b06c0-38e8-6ab1-9c6b-27da5171db4a
* Content: [Azure Sphere Application Libraries reference](https://docs.microsoft.com/en-us/azure-sphere/reference/applibs-r

[2020-07-22 05:45] CHEEKATLAPRADEEP-MSFT commented on #240
@andremuz Thanks for your contribution, I've addressed this issue in PR:[ https://github.com/MicrosoftDocs/Azure-Sphere-Docs-pr/pull/193]( https://github.com/MicrosoftDocs/Azure-Sphere-Docs-pr/pull/193)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribu

[2020-07-23 05:31] CHEEKATLAPRADEEP-MSFT commented on #240
@andremuz This has been fixed.

![image](https://user-images.githubusercontent.com/44426401/88254728-c005e900-ccd3-11ea-8c48-a3f3036ea171.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-23 05:31] #240 closed

[2020-07-24 13:55] kiranpradeep opened #241 "pthreads minimal code sample"
This document mentions pthread library support which is a major boost for application developers. Given that not all standard C library features [[1](https://docs.microsoft.com/en-us/azure-sphere/app-development/baseapis#c-standard-library-features)] are not supporeted, is it possible to extend this document with a minimal code sample using pthreads? E.g code sample in watchdog timer documentation

[2020-07-24 15:29] pennyo commented on #241
@kiranpradeep Thank you for your feedback. We'll investigate the topic for inclusion in an update of the docs. Is there a particular scenario you're interested in?

[2020-07-24 15:36] bawilless commented on #241
I would love to see a pthread example!

[2020-07-24 17:16] pennyo commented on #231
Closing, as answered in forums linked above.

[2020-07-24 17:16] #231 closed

[2020-07-24 17:17] pennyo commented on #230
@tcarter-caengineering Thank you for your feedback. We have updated the documentation.

[2020-07-24 17:17] #230 closed

[2020-07-24 17:32] pennyo commented on #214
@rickeycv I think this question is answered in [WifiConfig_GetConnectedNetworkId](https://docs.microsoft.com/azure-sphere/reference/applibs-reference/applibs-wificonfig/function-wificonfig-getconnectednetworkid) in the current documentation.

[2020-07-24 17:32] #214 closed

[2020-07-24 17:32] pennyo commented on #184
Closing this issue.

[2020-07-24 17:32] #184 closed

[2020-07-25 21:12] SatishBoddu-MSFT commented on #241
Hello @kiranpradeep @bawilless Could you please let us know if there is a articular scenario you're interested in?

[2020-07-27 02:35] kiranpradeep commented on #241
@SatishBoddu-MSFT @pennyo Thanks for the reply. But, I am not sure why this question is being asked.  A particular scenario request would have been appropriate if I had asked for a higher level library sample like libmodbus or libmosquitto. But pthreads does not fall into that league. It is a fundamental building block in a linux application. For e.g the watchdog-timer [[1](https://docs.microsoft.

[2020-07-27 15:18] pennyo commented on #241
@kiranpradeep Thank you for the additional information.

[2020-07-28 16:43] pennyo commented on #225
@mehrdadh The board configuration does not count against the 1 MiB application package size limit nor against the 256KiB reserved for the high-level app.

We're updating the documentation to include this information.

[2020-07-30 03:53] xiongyu0523 opened #242 "Broken link for tenant certificate page."
Broken link for tenant certificate page.

https://docs.microsoft.com/en-us/azure-sphere/deployment/tenant-cert.md

should be

https://docs.microsoft.com/en-us/azure-sphere/deployment/tenant-cert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0893c5f5-fd90-8aae-f6ae-62917288b7c2
* Version Independent ID: 77422ee2-84c7-0

[2020-07-30 03:53] kiranpradeep opened #243 "mutual authentication extension"
Can this document be extended to include mutual authentication case? The webservice documentation [[1](https://docs.microsoft.com/en-us/azure-sphere/app-development/curl#mutual-authentication)] covered mutual authentication. Without mutual tls authentication, we cannot take full advantage of sphere security.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-07-30 03:56] kiranpradeep opened #244 "wolfssl inclusion"
Can wolfssl header files documentation be included here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9800cae8-dfe3-2903-0990-ae90b3fa38a1
* Version Independent ID: a79b06c0-38e8-6ab1-9c6b-27da5171db4a
* Content: [Azure Sphere Application Libraries reference](https://docs.microsoft.com/en-us/azure-sphere/reference/ap

[2020-07-30 04:18] AshokPeddakotla-MSFT commented on #243
@kiranpradeep Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-30 04:19] AshokPeddakotla-MSFT commented on #244
@kiranpradeep Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-30 05:16] atKeitaroTakahashi opened #245 "Linux troubleshooting is Broken link on Japanese"
Broken link on JP
https://docs.microsoft.com/ja-jp/azure-sphere/install/troubleshoot-linux-install

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 859e405c-bdf9-0012-e6f8-706968193b40
* Version Independent ID: d5a03e55-b23b-2144-0045-492dca006b02
* Content: [Windows での Azure Sphere のインストールおよびセットアップのトラブルシューティング](https://docs.microsoft.com/ja-jp/azure-s

[2020-07-30 05:51] xiongyu0523 opened #246 "Inconsistent description and picture for 'Renew tenant CA certificate'"
In 'Renew tenant CA certificate' section, it seems like the picture is not consistent with the description.

1) Certificate B is become active after 30 days it was issued. But in the picture, it is 60 days after it was issued (5/2 - 7/2).
2) The validation period of certificate B should start from 5/2, but in the picture, it starts from 8/1.

---
#### Document Details

⚠ *Do not edit this section.

[2020-07-30 14:53] AshokPeddakotla-MSFT commented on #246
@xiongyu0523 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-30 14:57] AshokPeddakotla-MSFT commented on #245
@atKeitaroTakahashi  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-30 14:59] AshokPeddakotla-MSFT commented on #242
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-30 15:05] AshokPeddakotla-MSFT commented on #242
@xiongyu0523 PR has been created to fix this issue. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-30 15:58] #225 closed

[2020-07-30 16:56] AshokPeddakotla-MSFT commented on #245
@pennyo Could you please look into this and fix?

[2020-07-30 19:27] pennyo commented on #245
@atKeitaroTakahashi We released Azure Sphere 20.07 on 29-July, along with an updated SDK and documentation. All the troubleshooting information for installation and startup is now in the [Troubleshoot Installation](https://docs.microsoft.com/azure-sphere/install/troubleshoot-installation) topic. It includes general information along with tips for both Windows- and Linux-specific problems.

You're

[2020-07-31 15:17] pennyo commented on #245
@atKeitaroTakahashi We believe the issue is fixed now. If this is not the case, please let us know. Otherwise we'll close this issue.

[2020-07-31 17:13] AshokPeddakotla-MSFT commented on #246
@pennyo To provide more clarity,  As specified in the image,

![image](https://user-images.githubusercontent.com/44426435/89058475-f818c600-d37c-11ea-9fc7-7ff359a2586a.png)

2. The renewal process starts approximately 90 days before Certificate A expires. There is an overlap period before Certificate A expires and the new tenant CA certificate (Certificate B) becomes the active certificate. During

[2020-07-31 20:54] pennyo commented on #242
Link text should be: https://docs.microsoft.com/azure-sphere/deployment/tenant-cert

[2020-07-31 20:55] pennyo commented on #242
We are republishing today to fix a couple other things, will correct this there.

[2020-08-03 04:22] AshokPeddakotla-MSFT commented on #246
@xiongyu0523 Did you get a chance to look at my response? Do let us know if you have further queries.

[2020-08-03 14:25] prabhushyja commented on #246
Thank you for the feedback. We've reworked the image to explain the overlap period when the tenant CA certificate is switched over to using the new certificate.

[2020-08-03 15:51] bawilless opened #247 "Minor typo on page"
The first sentence on this page is:

Hardware definitions **his** topic describes how to use hardware definitions in your high-level application.

It looks like one or two characters got accidently deleted.  Your documentation is so clean I figured you would want to fix this.

Brian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-08-03 16:11] SatishBoddu-MSFT commented on #247
Hello @bawilless
Thanks for the feedback! We will fix it!

[2020-08-03 17:00] AshokPeddakotla-MSFT commented on #246
@prabhushyja Thanks for an update.
@xiongyu0523 please check the doc and let us know if you have any further queries. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-03 17:00] #246 closed

[2020-08-04 03:14] AshokPeddakotla-MSFT commented on #244
There is a separate doc available for wolf SSL here: https://docs.microsoft.com/en-us/azure-sphere/app-development/wolfssl-tls
Since this is not a mandatory update we will consider this for our future updates. Adding author @pennyo for further review and update the doc if necessary.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in you

[2020-08-04 03:14] #244 closed

[2020-08-04 06:30] #242 closed

[2020-08-04 14:44] xiongyu0523 opened #248 "'Load the client certificate' should be 'Load the root CA certificate for Server'"
---

The title and description in this section should be corrected to root CA certificate, which is used to verify server identity

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc223e57-432c-6cd3-f5bf-de8a787a5e90
* Version Independent ID: f2c0b36f-5daf-cf52-e604-1ee837e97ea4
* Content: [Use wolfSSL for TLS connections -

[2020-08-04 15:14] AshokPeddakotla-MSFT commented on #243
I have assigned this issue to author @pennyo for further review and update the doc as necessary.

[2020-08-04 20:35] SatishBoddu-MSFT commented on #248
@xiongyu0523
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-08-04 22:52] SatishBoddu-MSFT commented on #247
Hello @bawilless The Fix is merged! Thanks for your contribution.

![image](https://user-images.githubusercontent.com/62923178/89353037-69e95c00-d66a-11ea-8995-5b7f179f8e47.png)

[2020-08-04 22:52] #247 closed

[2020-08-05 10:40] xiongyu0523 commented on #246
Sorry the new picture and descriptions are way more focusing for me.. I have to raise more questions to try to understand.

1) Date is removed on picture. Can we have those numbers back to be a more concrete example?
2) 'The renewal process starts approximately 90 days before Certificate A expires.', what is the action for this renewal? I remember previously we have description says certificate B

[2020-08-05 10:40] xiongyu0523 commented on #246
@AshokPeddakotla-MSFT can you reopen it?

[2020-08-05 13:59] AshokPeddakotla-MSFT commented on #246
@prabhushyja Could you please look into this feedback?

[2020-08-11 11:36] AshokPeddakotla-MSFT commented on #245
@atKeitaroTakahashi  As mentioned, this issue has been fixed. please check and let us know.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-11 11:36] #245 closed

[2020-08-12 21:58] #233 closed

[2020-08-13 14:54] AshokPeddakotla-MSFT commented on #246
@xiongyu0523 Doc has been updated as per the feedback. Could you please check and let us know if you have further queries.

![image](https://user-images.githubusercontent.com/44426435/90150137-f6022e80-dda2-11ea-97b5-b3bf6a41845d.png)

[2020-08-15 17:24] kiranpradeep opened #249 "Is there a difference between registering and claiming a device?"
From Claim the chip section,

1. This gives an impression that registering and claiming device are seperate operations. Are they? If yes, then, is the process to _register_ a device with Microsoft documented?
2. Is there anything that prevents a rogue entity from performing "azsphere device claim --deviceid <GUID>" with random GUIDs that might get generated in the future for valid silicon chips?

[2020-08-15 19:54] mike-urnun-msft commented on #249
@kiranpradeep Thank you for your feedback! We will review and update as appropriate.

[2020-08-18 01:40] chandran-Az commented on #249
@kiranpradeep - The device registration and claim process are 2 different tasks that the manufacturer needs to execute. During the device registration, manufacturer provides the generated device keys to Microsoft (internal documented process) and Microsoft uses this information to generate the device ids and

Claim process is where the manufacturer associates the devices to their tenant along with

[2020-08-18 01:47] xiongyu0523 commented on #246
It is more clear. Just one point need to be clarified, certificate B is issued 5/3/2020, it will be expired by 5/3/2022. right? In the picture, the lifetime of certificate looks like start from 8/1/2020 and expires 8/1/2022, which is not correct?

[2020-08-18 02:59] kiranpradeep commented on #249
Thanks for the reply. The docs mentions that device ID is shared by manufacturer. But, the reply above mentions that device key is shared by the manufacturer. Are they the samet thing? If keys, is it remote-attestation public key? Is the key alone enough to uniquely identify the device. There are too many questions in the minds of the reader. So, is it possible to share the internal documented pro

[2020-08-19 00:35] chandran-Az commented on #249
Device registration is performed by Silicon manufacturer, while the claims process is performed by device manufacturer. The exact documentation is only applicable for manufacturing purposes and cannot be shared publicly. Hope this helps.

[2020-08-19 02:25] kiranpradeep commented on #249
We are service integrators. We are expected to take the sphere device to customers. Imagine we trying to sell this exceptional security story sold to us.

**Customer:** What information is pre-shared about his future device to Microsoft?
**Self:** Only device IDs are transferred as per documentation.
**Customer:** Without sharing public keys how will awesome remote attestation work?
**Self:** _May

[2020-08-19 02:42] SatishBoddu-MSFT commented on #249
Hello @kiranpradeep Thanks for the feedback.

Please send an email to azcommunity@microsoft.com with the below details, so that we can work/discuss closely on this matter.

**Thread URL:** https://github.com/MicrosoftDocs/azure-sphere-issues/issues/249
**Your Subscription ID:**
**Email Subject :** Attn Satish Boddu

Please let me know once you have done the same.

[2020-08-19 07:26] JakeSays opened #250 "Need more detail"
Would it be possible to get more detail on each of the output modes? The meaning of each type and their typical use cases would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 367f1c69-1d0c-fc09-2569-ae13c4cd140e
* Version Independent ID: 8c1dffd9-3dd1-81c4-fb37-f4141d88cb45
* Content: [GPIO_OutputMode

[2020-08-19 13:57] AshokPeddakotla-MSFT commented on #250
@JakeSays Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-19 14:01] SatishBoddu-MSFT commented on #249
Hello @kiranpradeep,
Just checking back! Please let us know if you need further help.

[2020-08-19 15:19] pennyo commented on #250
@JakeSays  Great question! We'll consider it as a documentation enhancement request for a future update.

[2020-08-19 20:57] SatishBoddu-MSFT commented on #249
Hello @kiranpradeep, Just checking back!
Let us know if there are still any additional queries we can help you with or you can send us an email for further discussion.
Happy to help!

[2020-08-19 21:11] bawilless commented on #249
@kiranpradeep,

These two articles will help you understand more about the remote attestation step and how the certificates are managed

- https://azure.microsoft.com/en-us/blog/anatomy-of-a-secured-mcu/

- https://azure.microsoft.com/en-us/resources/best-practices-for-implementing-seven-properties-in-azure-sphere/

This last article is long but packed with good information.  Specifically to help

[2020-08-20 07:51] AshokPeddakotla-MSFT commented on #250
@pennyo Thanks for acknowledging the feedback.
@JakeSays As mentioned, the doc will be enhanced in the future update. Do you have further queries?
If not are we good to close this issue?

[2020-08-20 10:01] xiongyu0523 opened #251 "Step3 is out of date due to IoT Central UI changes"
Step3 in this page is out of date since IoT Central was updated recently. It now support enrollment group and user need set authentication type in that page and click save to see Certificate (X509) session . Please review and update accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79eb45a2-0b0c-6449-5acc-504

[2020-08-20 12:50] AshokPeddakotla-MSFT commented on #251
@xiongyu0523 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-20 22:59] JakeSays commented on #250
I don't. Thanks for taking care of this!

[2020-08-20 22:59] #250 closed

[2020-08-24 03:11] kiranpradeep commented on #249
Thanks @SatishBoddu-MSFT and @bawilless for the helpful document.

[2020-08-24 03:11] #249 closed

[2020-08-25 16:30] stefan-hudelmaier opened #252 "Is it possible to use umqtt client directly"
Hi,

when writing a high-level application for Azure Sphere, is it possible to use the umqtt MQTT client (that the IoT Hub client is based on) instead of the IoT Hub client, e.g. for connecting to other MQTT brokers?

[2020-08-26 06:08] AshokPeddakotla-MSFT commented on #252
@stefan-hudelmaier Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-08-27 13:22] AshokPeddakotla-MSFT commented on #251
@prabhushyja Could you please look into this issue?

[2020-08-31 02:39] xiongyu0523 commented on #252
Hi, Stefan.

Yes, after 20.07, you can use wolfSSL API to do this.
I have a personal example adding a MQTT client to sphere.
https://github.com/xiongyu0523/azure-sphere-mqtts

Please be aware currently the client certificate must be external injected, which is less secure (trustworthy) than using built Azure  IoT Hub C SDK

[2020-08-31 08:25] stefan-hudelmaier commented on #252
Hi Guys,

Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

I'm afraid it's more of a product question. Could you direct me where such questions should ideally be asked?

Thanks for the link @xiongyu0523, much appreciated. I have been poking in the `azure-sphere-samples`'s `AzureIoT` project and saw that it appears to

[2020-08-31 11:59] matsujirushi opened #253 "No ErrorResponse is returned"
No ErrorResponse is returned when called delete for product [api](https://docs.microsoft.com/en-us/rest/api/azure-sphere/product/delete).

**Success:**
[code]

**Error:** <- device group and device using product
[code]

Is there any way to know if the delete was successful or not?

[2020-08-31 18:02] himanshusinha-msft commented on #253
Thanks for the feedback . Can you please share the link of the document which you are referring to here ?

[2020-09-01 07:22] SatishBoddu-MSFT commented on #253
Hello @matsujirushi Thanks for the feedback.

Please create a new post on **Microsoft Q&A**.

Please do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

We will now proceed to close this thread.

[2020-09-01 11:50] matsujirushi commented on #253
Hi @himanshusinha-msft ,

https://docs.microsoft.com/en-us/rest/api/azure-sphere/product/delete

[2020-09-01 11:53] matsujirushi commented on #253
Hi @SatishBoddu-MSFT ,
[Posted.](https://docs.microsoft.com/en-us/answers/questions/83297/no-errorresponse-is-returned.html)

[2020-09-01 16:42] SatishBoddu-MSFT commented on #253
Thank you @matsujirushi , We will continue this discussion on Microsoft Q&A.

[2020-09-01 16:42] #253 closed

[2020-09-01 22:07] SatishBoddu-MSFT commented on #248
Hello @kangsu Thanks for your patience on this issue,
We intend to update the documentation soon. Will provide more updates soon.

[2020-09-02 16:23] pennyo commented on #251
Assigned to @LouisBerner for update.

[2020-09-04 07:00] ravindrank opened #254 "Receive device update - Show wifi status command needs update"
Under section : Receive device update
The command provided is : azsphere device show-deployment-status
with the latest SDK the command needs to be : azsphere device wifi show-status

Example output:

'show-deployment-status' is not a valid value for the 'Operation' command line option.
  Possible argument values include: 'add', 'disable', 'enable', 'forget', 'list', 'reload-config', 'scan', 'show'

[2020-09-04 07:02] #254 closed

[2020-09-04 07:02] ravindrank commented on #254
Sorry I realized its my mistake. Please ignore

[2020-09-04 13:38] AshokPeddakotla-MSFT commented on #254
No worries. if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

If you have documentation-related feedback, please create a new issue linking the exact document that you would like to change.

[2020-09-08 16:44] pennyo commented on #248
@xiongyu0523 This document has been updated.

[2020-09-08 16:44] #248 closed

[2020-09-09 15:08] AshokPeddakotla-MSFT commented on #252
@stefan-hudelmaier

For using IoT SDK MQTT library - this cannot be used to directly access the DAA certs. You can bring your own MQTT library

Yes, this is a planned feature In the upcoming 20.10 release that will be provided soon (with some limitations)!

Kindly follow the  [Azure updates]( https://azure.microsoft.com/en-us/updates/) and [What's new in Azure Sphere](https://docs.microsoft.com/en

[2020-09-09 16:04] stefan-hudelmaier commented on #252
Awesome, thanks!

[2020-09-09 16:04] #252 closed

[2020-09-09 22:25] pennyo commented on #243
@kiranpradeep Support for server-side authentication with wolfSSL is currently planned for an upcoming OS release. We'll add this to the documentation when the product supports is.

[2020-09-10 01:10] kiranpradeep commented on #243
@pennyo Thanks for the helpful reply. Kindly the Azure Sphere Faq [link](https://azure.microsoft.com/en-in/services/azure-sphere/#faqs) which I feel should be updated until server side authentication is complete.

Now, shouldn't that answer be updated: Currently, non HTTP cloud services from 3rd party (e.g. MQTT brokers) cannot verify device authentiation certificates provided by AS3. This feature

[2020-09-10 01:10] #243 closed

[2020-09-10 07:28] AshokPeddakotla-MSFT commented on #227
@JuergenSchwertl Doc has been updated. Please see below information.

![image](https://user-images.githubusercontent.com/44426435/92694671-076c3580-f365-11ea-9a2d-1073ec9e9a1f.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-10 07:28] #227 closed

[2020-09-11 22:54] daesma opened #255 "azsphere product update example needs ", not '"
azsphere product update --productid b053aefe-b60d-4420-bf28-f55c69c4446e --newname DW100Product --newdescription 'Contoso DW100 models'
Unrecognized command line argument 'DW100'.
Unrecognized command line argument 'models''.

example on page needs to change from
azsphere product update --productid b053aefe-b60d-4420-bf28-f55c69c4446e --newname DW100Product --newdescription 'Contoso DW100 models'

[2020-09-12 02:55] SatishBoddu-MSFT commented on #255
Hello @daesma
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 04:29] SatishBoddu-MSFT commented on #255
Hello @daesma Thank you reporting this. We will update the document soon.

**Issue**: Updates specified product metadata , CLI Command --_newdescription_  needs **Double Quotes** instead of **single quotes**

![image](https://user-images.githubusercontent.com/62923178/93043743-a021e000-f607-11ea-8465-4697839c0f9a.png)

[update](https://docs.microsoft.com/en-us/azure-sphere/reference/azsphere-produ

[2020-09-14 16:01] #255 closed

[2020-09-15 16:40] miz060 opened #256 "WifiConfig_SetSecurityType Function: Wrong Error Code for one of the scenarios"
[Enter feedback here]
Hi, my name is Mitch Zhu (mitchzhu@microsoft.com). I'm part of Azure Sphere OSP Networking Team.

The error code for "the networkId parameter doesn't match any of the IDs of the stored networks" should be ENODEV, not ENOENT.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a002a29-c9f1-7dac

[2020-09-15 16:42] miz060 opened #257 "WifiConfig_SetTargetedScanEnabled Function: Wrong Error Code for one of the scenarios"
Hi, my name is Mitch Zhu (mitchzhu@microsoft.com). I'm part of Azure Sphere OSP Networking Team.

The error code for "the networkId parameter doesn't match any of the IDs of the stored networks" should be ENODEV, not ENONET.

Thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92cccb51-a96d-636

[2020-09-15 17:24] SatishBoddu-MSFT commented on #257
Hello @miz060
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 17:26] SatishBoddu-MSFT commented on #256
Related: https://github.com/MicrosoftDocs/azure-sphere-issues/issues/257

[2020-09-15 19:02] SatishBoddu-MSFT commented on #256
Hello @miz060
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-16 16:11] SatishBoddu-MSFT commented on #257
Hello @miz060
We will now proceed to close this thread.

[2020-09-16 16:11] #257 closed

[2020-09-16 16:11] SatishBoddu-MSFT commented on #256
Hello @miz060
We will now proceed to close this thread.

[2020-09-16 16:11] #256 closed

[2020-09-18 17:35] pennyo commented on #241
@kiranpradeep We've added this topic to our backlog for future inclusion.

[2020-09-18 17:35] #241 closed

[2020-09-24 14:53] nk-gears opened #258 "Azure Sphere - Tenant Registration Issues on Ubuntu"
Background :
- I am Mac developer. I thought of trying Azure Sphere and Bought one in 2019 (Azure Sphere MT3620 Starter Kit)
- At that time the only Supported OS is Windows 10. So, i installed Virtual Box and successfully able to connect the Starter Kit and Registered the tenant.
- Then i wanted to run few programmes and i thought i will wait for support for Ubuntu and then start actively using th

[2020-09-24 15:18] bawilless commented on #258
You may have more luck getting a response from the Microsoft Q&A Platform:  https://docs.microsoft.com/en-us/answers/index.html

Make sure you tag your post with Azure Sphere.

1. Did you migrate your tenant?  There were changes to the tenant last year that required older Azure Sphere Tenants to be migrated.  Documentation on migration is here:  https://docs.microsoft.com/en-us/answers/index.html.

[2020-09-24 16:57] Omakas opened #259 "Bad link for Sample: External MCU update - reference solution"
[Enter feedback here]

The "Sample: External MCU update - reference solution" is a dead link.
Looking at the URL for the link, it looks like the repo was updated, but the link wasn't.
It looks like the new URL for the link should be https://github.com/Azure/azure-sphere-samples/tree/master/Samples/ExternalMcuUpdate instead of https://github.com/Azure/azure-sphere-samples/tree/master/Samples/Extern

[2020-09-24 20:08] SatishBoddu-MSFT commented on #259
Hello @Omakas
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-26 05:51] nk-gears commented on #258
Thanks @bawilless

@AshokPeddakotla-MSFT , I think you may be aware of this problem.

I suspect the issue is because of the SDK Version which i used in Windows 10 vs SDK which is used in Ubuntu.

Should i need to use the same old SDK for migrating the tenant?. If thats the case, do we have old SDK for Ubuntu to migrate as i don't have a Windows 10 anymore.

Please help to resolve this.

[2020-09-28 17:24] AshokPeddakotla-MSFT commented on #258
@nk-gears Could you please check this doc [About migration](https://docs.microsoft.com/en-us/azure-sphere/resources/rbac-device-migration) and let us know if you still need help.

[2020-09-29 16:35] #259 closed

[2020-09-30 07:24] AshokPeddakotla-MSFT commented on #258
@nk-gears Yes you need ti use the old SDK to migrate.

As mentioned in the doc,

I would suggest you, Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2020-09-30 07:53] nk-gears commented on #258
@AshokPeddakotla-MSFT Thanks for the detailed instructions.

Can you point me where to download the Azure Sphere 19.09 SDK for Ubuntu ?

[2020-09-30 09:59] AshokPeddakotla-MSFT commented on #258
@nk-gears Sorry for the confusion around this. You should be able to perform migration with the current 20.07 Linux SDK (or any SDK from 19.10).  Indeed, the first Linux SDK wasn’t until 19.11!

https://docs.microsoft.com/en-us/azure-sphere/install/install-sdk-linux?pivots=vs-code-linux

Please try with the current SDK and update. If you are still having the issue, as suggested, you can raise a re